In [114]:
try:
    import Image
except ImportError:
    from PIL import Image
import pytesseract
import webbrowser
import pyscreenshot as ImageGrab
from googleapiclient.discovery import build
import pprint
import cPickle as pickle
from pynput.keyboard import Key, Controller
import time
import re
import tweepy
import csv
import pandas as pd
import webbrowser
import scrapy
import json
import os
import xgboost as xgb
from xgboost import XGBClassifier
from sklearn.model_selection import RandomizedSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import scipy.stats as st
import numpy as np
from numpy import loadtxt, dot
import math
from textblob import TextBlob as tb
import gensim
from gensim.models.doc2vec import Doc2Vec, TaggedDocument
from gensim import matutils
import pprint
from scipy.spatial.distance import cosine

In [6]:
print gensim.__version__
assert gensim.models.doc2vec.FAST_VERSION > -1

0.12.4

In [9]:
docmodel = Doc2Vec.load('enwiki_dbow/doc2vec.bin')

In [34]:
cat = docmodel.infer_vector(['powerade'])
dog = docmodel.infer_vector(['powerade'])

In [43]:
pprint(docmodel.docvecs.most_similar(positive=["Cat"], topn=20))

KeyError: "doc 'Cat' not in trained set"

In [131]:
# sense = search_df.iloc[161]['searchText'].split()
# sense = docmodel.docvecs.similarity()
# crime = search_df.iloc[164]['searchText'].split()
# pride = search_df.iloc[165]['searchText'].split()
print dot(matutils.unitvec(docmodel.docvecs[0]), matutils.unitvec(docmodel.docvecs[1]))
print docmodel.docvecs.similarity(0, 1)

0.930357962649497
0.930357962649497

array([ 0.11009229, -0.05750169,  0.01535714, -0.00784946,  0.01357135,
        0.00617406, -0.05463453,  0.07487786, -0.04825201, -0.06602082,
        0.10007169, -0.00187558, -0.16660842,  0.00242025, -0.12708956,
       -0.01988149,  0.06746052, -0.1692307 , -0.00919405,  0.1275657 ,
       -0.05644653,  0.00430397,  0.15617424, -0.00121539,  0.02268456,
       -0.03285939,  0.12101674, -0.00888756,  0.1767532 , -0.08725531,
       -0.03545145,  0.09741654, -0.09721019, -0.01329679, -0.24773127,
       -0.03255514,  0.04200808, -0.00429995,  0.07957179,  0.02393024,
       -0.04590886,  0.17261255, -0.12918086, -0.0346305 , -0.04378501,
       -0.02816913,  0.13007386, -0.10359867,  0.06299774,  0.02519736,
        0.01894582, -0.01411406,  0.03708175,  0.02128921,  0.01462334,
        0.06823635, -0.00794674,  0.0505524 ,  0.07012681,  0.02000092,
       -0.17322944,  0.04904631, -0.10274346, -0.04665433,  0.17707147,
        0.03710248,  0.06359634,  0.11747877,  0.03090278, -0.08496173,
        0.0395095 , -0.09155692, -0.22722402,  0.14951195, -0.0192947 ,
       -0.03100696, -0.01259276,  0.08224109,  0.12901053, -0.03098701,
       -0.18657047,  0.02300333,  0.12470797,  0.09288725, -0.14637993,
       -0.01226848,  0.04811488, -0.19786406,  0.09937231,  0.01068844,
        0.03340363, -0.11395214,  0.00423148, -0.14120235, -0.08382378,
       -0.10742635,  0.08419266, -0.14109805,  0.00947535, -0.17025158,
        0.02743349, -0.02521979, -0.05786378,  0.08862508,  0.04523246,
       -0.01991805,  0.02480737,  0.1361571 ,  0.03279565,  0.04144562,
       -0.06030116,  0.18440111, -0.10820588,  0.10144809,  0.00897708,
       -0.14552876,  0.03865616,  0.03045067,  0.16969696, -0.00312234,
        0.1014394 , -0.1107797 , -0.00447246, -0.04597034, -0.10327266,
        0.03346903,  0.03799427, -0.14443429, -0.12428854, -0.07567713,
       -0.16871887,  0.17442293,  0.02333592, -0.13238975,  0.0462163 ,
       -0.04608155, -0.0403652 , -0.0133919 , -0.00629705,  0.08949057,
       -0.05533225,  0.11545519,  0.02718788,  0.15648244, -0.1231025 ,
        0.23569703,  0.17991665, -0.06214357,  0.06343106,  0.18098587,
       -0.1099189 , -0.05965983,  0.10197091, -0.219839  ,  0.05160002,
       -0.2102242 , -0.15956621,  0.03556429, -0.014622  ,  0.07906695,
        0.0444765 , -0.04120741,  0.05768639,  0.13438638,  0.11179607,
        0.04754985,  0.11543929, -0.08038724,  0.1885252 ,  0.10375643,
        0.1419774 , -0.03627529, -0.09445766, -0.24662484, -0.02404001,
        0.0709398 , -0.08011465, -0.02514265, -0.06477707, -0.02540545,
        0.02162927,  0.08810114,  0.02091556, -0.00619669,  0.09014719,
       -0.01290516, -0.02807568,  0.09529296, -0.18341208,  0.1656925 ,
        0.03055482, -0.08385773,  0.05813562,  0.19002044, -0.01778368,
       -0.13328406, -0.15456411, -0.01317701, -0.13962059,  0.03083139,
       -0.03923107,  0.04544234, -0.01287543, -0.02358909,  0.0373644 ,
       -0.01187561,  0.00970734,  0.10719247, -0.09613644,  0.00339288,
        0.14325592, -0.01686932, -0.07030702, -0.02276542, -0.16727623,
       -0.01517686,  0.02535453, -0.12170554, -0.00297182, -0.07778142,
        0.10599372,  0.05549233, -0.05262641, -0.13307123, -0.26078   ,
       -0.00269433, -0.13655423,  0.00873213, -0.03019222,  0.06233742,
       -0.13426217, -0.2341254 ,  0.09375524,  0.0192505 ,  0.14800167,
       -0.05856461,  0.21397339, -0.12859076,  0.02786283, -0.04939191,
        0.04790676, -0.09454531,  0.05743788,  0.21600252, -0.1558709 ,
       -0.06662016, -0.00735673,  0.05238   , -0.12172316, -0.15452643,
        0.02889768,  0.01264309,  0.07731139, -0.139631  , -0.02238536,
        0.07800543,  0.11049294, -0.0359161 , -0.1160125 , -0.03501121,
        0.02715142,  0.0064231 ,  0.09381002, -0.2306938 ,  0.11976824,
        0.16819324,  0.08387768,  0.10136643,  0.13470368,  0.23420456,
       -0.09807553, -0.01417706, -0.22127296,  0.0048714 , -0.006784  ,
        0.00510526,  0.1628092 ,  0.01636647, -0.10082931, -0.09416278,
       -0.11717222, -0.2090718 , -0.16704497,  0.15714061, -0.03912799,
       -0.03039469, -0.08122686, -0.16168286, -0.0561174 ,  0.01176906,
        0.02928701, -0.07723663, -0.09127847,  0.07522377, -0.07786139,
       -0.10637055, -0.14440502, -0.13418423, -0.02413619,  0.17008352],
      dtype=float32)

In [118]:
docmodel.similarity('describe', 'man')

0.4092021164207589

In [2]:
access_token, access_token_secret = pickle.load(open('token_secret.p', 'rb'))

In [3]:
consumer_key, consumer_secret = pickle.load(open('key_secret.p', 'rb'))

In [26]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

api = tweepy.API(auth)

# public_tweets = api.home_timeline()
# for tweet in public_tweets:
#     print tweet.text

In [32]:
def get_all_tweets(screen_name):
	#Twitter only allows access to a users most recent 3240 tweets with this method
	
	#authorize twitter, initialize tweepy
# 	auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
# 	auth.set_access_token(access_key, access_secret)
# 	api = tweepy.API(auth)
	
	#initialize a list to hold all the tweepy Tweets
	alltweets = []	
	
	#make initial request for most recent tweets (200 is the maximum allowed count)
	new_tweets = api.user_timeline(screen_name = screen_name,count=200)
	
	#save most recent tweets
	alltweets.extend(new_tweets)
	
	#save the id of the oldest tweet less one
	oldest = alltweets[-1].id - 1
	
	#keep grabbing tweets until there are no tweets left to grab
	while len(new_tweets) > 0:
		print "getting tweets before %s" % (oldest)
		
		#all subsiquent requests use the max_id param to prevent duplicates
		new_tweets = api.user_timeline(screen_name = screen_name,count=200,max_id=oldest)
		
		#save most recent tweets
		alltweets.extend(new_tweets)
		
		#update the id of the oldest tweet less one
		oldest = alltweets[-1].id - 1
		
		print "...%s tweets downloaded so far" % (len(alltweets))
	
	#transform the tweepy tweets into a 2D array that will populate the csv	
	outtweets = [[tweet.id_str, tweet.created_at, tweet.text.encode("utf-8")] for tweet in alltweets]
	
	#write the csv	
	with open('%s_tweets.csv' % screen_name, 'wb') as f:
		writer = csv.writer(f)
		writer.writerow(["id","created_at","text"])
		writer.writerows(outtweets)
	
	pass

In [33]:
get_all_tweets('HQTriviaScribe')

getting tweets before 1016895949413773311
...400 tweets downloaded so far
getting tweets before 1013997546346303487
...600 tweets downloaded so far
getting tweets before 1009876751927955455
...800 tweets downloaded so far
getting tweets before 1004076533500252160
...1000 tweets downloaded so far
getting tweets before 1000090782920007679
...1200 tweets downloaded so far
getting tweets before 996234865996681215
...1400 tweets downloaded so far
getting tweets before 992934624765595647
...1600 tweets downloaded so far
getting tweets before 989581569156374530
...1800 tweets downloaded so far
getting tweets before 984598835145080831
...2000 tweets downloaded so far
getting tweets before 980251608100626431
...2200 tweets downloaded so far
getting tweets before 977259836139294721
...2400 tweets downloaded so far
getting tweets before 973999068765675525
...2600 tweets downloaded so far
getting tweets before 966782772676382720
...2800 tweets downloaded so far
getting tweets before 962871985880608768
...2949 tweets downloaded so far
getting tweets before 959517884375592964
...2949 tweets downloaded so far

In [90]:
df = pd.read_csv('HQTriviaScribe_tweets.csv')

In [91]:
df['tweet_list'] = [re.sub(r'.\) ', '', tweet).split('\n') for tweet in df['text']]
print df.info()
#\xe2|\x9c|\x93

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2949 entries, 0 to 2948
Data columns (total 4 columns):
id            2949 non-null int64
created_at    2949 non-null object
text          2949 non-null object
tweet_list    2949 non-null object
dtypes: int64(1), object(3)
memory usage: 92.2+ KB
None

In [92]:
def label_answer(row):
    if len(row['tweet_list']) != 4:
        return -1
    if '\xe2\x9c\x93' in row['tweet_list'][1]:
        return 0
    elif '\xe2\x9c\x93' in row['tweet_list'][2]:
        return 1
    else:
        return 2
    
df['correct_answer'] = df.apply(lambda row: label_answer(row),axis=1)

df['question'] = [tweet[0] for tweet in tweet_list]
print df['question'][0]


print df.head()

#Problem: want to have correct answer in database. don't want to do for loops.

An 1800s scam involving watches led directly to the founding of which of these companies?
                    id           created_at  \
0  1019753041464119296  2018-07-19 01:17:25
1  1019752695077404673  2018-07-19 01:16:03
2  1019752397919449089  2018-07-19 01:14:52
3  1019752231330041861  2018-07-19 01:14:12
4  1019752059174780929  2018-07-19 01:13:31

                                                text  \
0  An 1800s scam involving watches led directly t...
1  A character named Orc appears as a protagonist...
2  An original co-host of “20/20” was also the ed...
3  Which car company founder once held the world ...
4  Which of these polygons has the most sides?\n1...

                                          tweet_list  correct_answer  \
0  [An 1800s scam involving watches led directly ...               0
1  [A character named Orc appears as a protagonis...               1
2  [An original co-host of “20/20” was also the e...               0
3  [Which car company founder once held the world...              -1
4  [Which of these polygons has the most sides?, ...               1

                                            question
0  An 1800s scam involving watches led directly t...
1  A character named Orc appears as a protagonist...
2  An original co-host of “20/20” was also the ed...
3  Which car company founder once held the world ...
4        Which of these polygons has the most sides?

In [111]:
print df['text'][3]
df2 = df[df['correct_answer'] != -1]
print df2['correct_answer'][10]
df2['answer0'] = [re.sub(' \xe2|\x9c|\x93', '', tl[1]) for tl in df2['tweet_list']]
df2['answer1'] = [re.sub(' \xe2|\x9c|\x93', '', tl[2]) for tl in df2['tweet_list']]
df2['answer2'] = [re.sub(' \xe2|\x9c|\x93', '', tl[3]) for tl in df2['tweet_list']]

print df2.loc[0]

Which car company founder once held the world land speed record for wheel-driven vehicles?
1) Henry Ford ✓
2) Ferru… https://t.co/m5Gb77cODO
0

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [120]:
#df2.loc[0]
#df2.drop(['text', 'tweet_list', 'created_at'], axis=1, inplace=True)
print df2.head()
print df2['question'][5]
df2.to_csv('HQquestions_clean.csv')

                    id  correct_answer  \
0  1019753041464119296               0
1  1019752695077404673               1
2  1019752397919449089               0
4  1019752059174780929               1
5  1019751848176218113               0

                                            question      answer0  \
0  An 1800s scam involving watches led directly t...        Sears
1  A character named Orc appears as a protagonist...  JRR Tolkien
2  An original co-host of “20/20” was also the ed...      Esquire
4        Which of these polygons has the most sides?  Trisdecagon
5  Sailors once gave avocados the nickname of “mi...       Butter

         answer1       answer2
0     Victorinox  Kay Jewelers
1  William Blake  Ray Bradbury
2    Vanity Fair          Time
4   Enneadecagon   Octadecagon
5          Jewel           Nut
Sailors once gave avocados the nickname of “midshipman’s” what?

In [ ]:
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [58]:
pickle.dump((my_api_key2, my_cse_id2), open('api_key_cse_id2.p', 'wb'))
my_api_key2, my_cse_id2 = pickle.load(open('api_key_cse_id2.p', 'rb'))
print my_api_key2, my_cse_id2

AIzaSyC602YkOKOJgcfyXWgYND-oXJFm2mzs2D4 001013646140154322715:bmwveucw4wi

In [76]:
my_api_key3 = 'AIzaSyDZz8hpNVbXRPJL_uB75CCshC3Q5vr-FJU'
my_cse_id3 = '013529267289604407367:u7d0zzj8oc8'

In [2]:
my_api_key, my_cse_id = pickle.load(open('api_key_cse_id.p', 'rb'))

In [116]:
my_api_key, my_cse_id = pickle.load(open('api_key_cse_id.p', 'rb'))
my_api_key2, my_cse_id2 = pickle.load(open('api_key_cse_id2.p', 'rb'))
#to use Google Search custom API, you'll need your own API key and CSE ID.
def process(res_items):
    text_list = [' '.join([item['title'], item['snippet']]) for item in res_items]
    return re.sub("[^a-z0-9]", ' ', ' '.join(text_list).lower())

def google_search(search_term, **kwargs):
    service = build("customsearch", "v1", developerKey=my_api_key)
#     start = time.time()
    search_failed = True
    while search_failed:
        try:
            res = service.cse().list(q=search_term, cx=my_cse_id, **kwargs).execute()
            search_failed = False
        except Exception as e: 
            print(e)
            search_failed = True
    
#     print "Search execution took %s secs" % (time.time() - start)
    start = time.time()
    try:
        firstReturnVal = process(res['items'])
    except:
        print "missing items"
        firstReturnVal = ''
#     print "String processing took %s secs" % (time.time() - start)
    return firstReturnVal, int(res['searchInformation']['formattedTotalResults'].replace(',', ''))
    

def print_results(results):
    for result in results:
        for key in result:
            print '%s: %s' % (key, result[key])
        print '\n\n'

In [117]:
print google_search('hilton reptile hindu sarcastic', num=10)

(u'forked tongue   wikipedia a forked tongue is a tongue split into two distinct tines at the tip  this is a feature  common to many species of reptiles  reptiles smell using the tip of their tongue   and a forked tongue allows them      hilton pond center for piedmont natural  history  retrieved 2008 02 13  the tongue itself splits in the floor of the mouth   jump up     dictionary     amphetamines amphiarthrosis amphiaster amphibia amphibian amphibians         funnies funniest funnily funniness funning funny funnyman fur furan furbearer        hilly hillyer hilt hilton hilts hilt s hilum hilus hilversum him himachal himalaya      hindsight hindu hinduism hindus hindu s hindustan hindustan hindustan s     chennai   wikipedia chennai is the capital of the indian state of tamil nadu  located on the  coromandel coast off        madras crocodile bank trust is a reptile zoo located  40 kilometres  25 mi  south of the city covering         the sultan of sarcasm           the leela kempinski   itc grand chola   hilton chennai   taj connemara    fisherman s cove     words lab     penalized 4082 animal 4083 deputy 4084 leary 4085 spends 4086 115 000         10704 reese 10705 23 year old 10706 hilton 10707 bake offs 10708 finals        12436 chaotic 12437 mountainous 12438 indian 12439 battleground 12440        braddock against the indians 14319 aim 14320 ironic 14321 concept 14322      hva er kompetansesenteret    isola blogg nytt fagkonsept for proff og handel  oppl ring og kunnskapsformidling er en  viktig del av isola s tilbud til forhandlere og profesjonelle akt rer  for   styrke  dette     remythologized  phil valentine debunked feb 14  2014      the animal bones deposited in or under potsherds and pots      valentine is  surely parroting the mystic hilton hotema  the secret of regeneration   published in 1963   pg      paul  of course  is being sarcastic in his contentions  with the  super apostles      1 15 10  the hindu krishna mean  the anointed   egypt knew no pharaohs nor israelites   ashraf ezzat jun 18  2011     i don t mean to sound sarcastic  but what would be the point of commenting       the very gods were figuratively charactered by animal symbols  the figure of         his designation in the sumerian and indian king lists is  prabhu  which is      of the  eighteenth dynasty  according to aidan dodson and dyan hilton  angelina jolie illuminati reptilian shapeshifting caught on     angelina jolie illuminati reptilian shape shifting caught on camera at red       because they are mocking christians         hilton s family are generational  satanic verses   common errors in english usage and more     the most striking character is a wonder working indian shaman  but all the  characters are vividly      a bitter  ironic attack on the american role in dropping  the bomb and their later treatment of the japanese       the eden project is a  group of 120 humans with associated animal embryos which have been         hilton  james  gre words with example sentence flashcards   quizlet able to live both on land and in water  eg  frogs are classified as amphibian          became obvious to all when he began to indulge in sarcastic and insulting   ', 4200)

In [ ]:
#Save for later: switch control

keyboard = Controller()
keyboard.press(' ')
keyboard.release(' ')

In [ ]:
''' coordinates for OCR text extraction from Reflector 3 window mirroring iPhone at "Fill Screen" scale,
positioned at (0, 0) on 13 inch MBA '''

question_coords = (55, 253, 376, 357)

answerX1, answerX2 = 75, 355
answerY1, answerY2 = 390, 415
offset = 63
answers_coords = [(answerX1, answerY1, answerX2, answerY2), 
                  (answerX1, answerY1 + offset, answerX2, answerY2 + offset),
                  (answerX1, answerY1 + 2*offset, answerX2, answerY2 + 2*offset)]

def parseQuestionAnswer():
    question_img=ImageGrab.grab(bbox=question_coords) # X1,Y1,X2,Y2
    answer_imgs = [ImageGrab.grab(bbox=coords) for coords in answers_coords]
    question = pytesseract.image_to_string(question_img).replace('\n', ' ').lower()
    answers = [pytesseract.image_to_string(img).lower() for img in answer_imgs]
    return question, answers

In [13]:
#every time a new question appears: 

'''
1. raw question
2. - 4. question + answers (no quotes)
'''
#For testing purposes
# question = 'Which of these is a species of snake?'
# answers = ['Ball python', 'Marbled salamander', 'Axolotl']
question = 'Rapa Nui is the indigenous name of what location?'.lower()
answers = [answer.lower() for answer in ['Greenland', 'Mount Everest', 'Easter Island']]


def getBestAnswer():
    #question, answers = parseQuestionAnswer()
    q_search = google_search(question, num=10)
    combine_queries = ['%s \"%s\"' % (question, answer) for answer in answers]
    combine_searches = [google_search(query, num=10) for query in combine_queries]
    answerCounts = [q_search[0].count(answer) for answer in answers]
    print answerCounts
    numSearchResults = [search[1] for search in combine_searches]
    print numSearchResults

In [14]:
start = time.time()
getBestAnswer()
end = time.time()

print end - start

[0, 0, 14]
[24600, 4500, 23900]
3.50920295715

In [6]:
while True:
    raw_input('press any key to grab answer:')
    getBestAnswer()

KeyboardInterrupt:

In [9]:
df = pd.read_csv('HQquestions_clean.csv')
df.head()

,Unnamed: 0,id,correct_answer,question,answer0,answer1,answer2
0,0,1019753041464119296,0,An 1800s scam involving watches led directly t...,Sears,Victorinox,Kay Jewelers
1,1,1019752695077404673,1,A character named Orc appears as a protagonist...,JRR Tolkien,William Blake,Ray Bradbury
2,2,1019752397919449089,0,An original co-host of “20/20” was also the ed...,Esquire,Vanity Fair,Time
3,4,1019752059174780929,1,Which of these polygons has the most sides?,Trisdecagon,Enneadecagon,Octadecagon
4,5,1019751848176218113,0,Sailors once gave avocados the nickname of “mi...,Butter,Jewel,Nut

In [13]:
df.drop(df.columns[df.columns.str.contains('unnamed',case = False)], axis = 1, inplace=True)
df.head()
df.to_csv('HQquestions_clean.csv')

In [14]:
df.head()

,id,correct_answer,question,answer0,answer1,answer2
0,1019753041464119296,0,An 1800s scam involving watches led directly t...,Sears,Victorinox,Kay Jewelers
1,1019752695077404673,1,A character named Orc appears as a protagonist...,JRR Tolkien,William Blake,Ray Bradbury
2,1019752397919449089,0,An original co-host of “20/20” was also the ed...,Esquire,Vanity Fair,Time
3,1019752059174780929,1,Which of these polygons has the most sides?,Trisdecagon,Enneadecagon,Octadecagon
4,1019751848176218113,0,Sailors once gave avocados the nickname of “mi...,Butter,Jewel,Nut

In [29]:
def change_to_string(row):
    return row['answer%d' % row['correct_answer']]

df['correct_answer'] = df.apply(lambda row: change_to_string(row), axis=1)
df.head()

,id,correct_answer,question,answer0,answer1,answer2
0,1019753041464119296,Sears,An 1800s scam involving watches led directly t...,Sears,Victorinox,Kay Jewelers
1,1019752695077404673,William Blake,A character named Orc appears as a protagonist...,JRR Tolkien,William Blake,Ray Bradbury
2,1019752397919449089,Esquire,An original co-host of “20/20” was also the ed...,Esquire,Vanity Fair,Time
3,1019752059174780929,Enneadecagon,Which of these polygons has the most sides?,Trisdecagon,Enneadecagon,Octadecagon
4,1019751848176218113,Butter,Sailors once gave avocados the nickname of “mi...,Butter,Jewel,Nut

In [27]:
df.to_csv('HQquestions_clean.csv')

In [30]:
df.head(n=10)

,id,correct_answer,question,answer0,answer1,answer2
0,1019753041464119296,Sears,An 1800s scam involving watches led directly t...,Sears,Victorinox,Kay Jewelers
1,1019752695077404673,William Blake,A character named Orc appears as a protagonist...,JRR Tolkien,William Blake,Ray Bradbury
2,1019752397919449089,Esquire,An original co-host of “20/20” was also the ed...,Esquire,Vanity Fair,Time
3,1019752059174780929,Enneadecagon,Which of these polygons has the most sides?,Trisdecagon,Enneadecagon,Octadecagon
4,1019751848176218113,Butter,Sailors once gave avocados the nickname of “mi...,Butter,Jewel,Nut
5,1019751692190076928,Blade Runner,"Before hitting it big, the leading star of wha...",Blade Runner,Top Gun,Gladiator
6,1019751545943068672,Easter Island,Rapa Nui is the indigenous name of what location?,Greenland,Mount Everest,Easter Island
7,1019751324827766784,Harry Truman,Which US president had a middle name that was ...,Dwight Eisenhower,Harry Truman,Ronald Reagan
8,1019751162344542208,Pitcher,Which baseball position stands several inches ...,Catcher,Pitcher,Shortstop
9,1019750883616280576,Comic-Con,San Diego’s massive annual convention celebrat...,Comic-Con,Pop-Party,Game-Gathering

In [32]:
url = 'http://www.python.org/'
webbrowser.open(url)

True

In [2]:
class QuotesSpider(scrapy.Spider):
    name = "quotes"
    start_urls = [
        'http://quotes.toscrape.com/tag/humor/',
    ]

    def parse(self, response):
        for quote in response.css('div.quote'):
            yield {
                'text': quote.css('span.text::text').extract_first(),
                'author': quote.xpath('span/small/text()').extract_first(),
            }

        next_page = response.css('li.next a::attr("href")').extract_first()
        if next_page is not None:
            yield response.follow(next_page, self.parse)

In [5]:
!scrapy runspider quotespider.py -o quotes.json

2018-07-24 18:25:01 [scrapy.utils.log] INFO: Scrapy 1.5.1 started (bot: scrapybot)
2018-07-24 18:25:01 [scrapy.utils.log] INFO: Versions: lxml 4.1.1.0, libxml2 2.9.7, cssselect 1.0.3, parsel 1.4.0, w3lib 1.19.0, Twisted 17.5.0, Python 2.7.14 |Anaconda, Inc.| (default, Dec  7 2017, 11:07:58) - [GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)], pyOpenSSL 17.5.0 (OpenSSL 1.0.2o  27 Mar 2018), cryptography 2.1.4, Platform Darwin-16.7.0-x86_64-i386-64bit
2018-07-24 18:25:01 [scrapy.crawler] INFO: Overridden settings: {'SPIDER_LOADER_WARN_ONLY': True, 'FEED_FORMAT': 'json', 'FEED_URI': 'quotes.json'}
2018-07-24 18:25:01 [scrapy.middleware] INFO: Enabled extensions:
['scrapy.extensions.feedexport.FeedExporter',
 'scrapy.extensions.memusage.MemoryUsage',
 'scrapy.extensions.logstats.LogStats',
 'scrapy.extensions.telnet.TelnetConsole',
 'scrapy.extensions.corestats.CoreStats']
2018-07-24 18:25:01 [scrapy.middleware] INFO: Enabled downloader middlewares:
['scrapy.downloadermiddlewares.httpauth.HttpAuthMiddleware',
 'scrapy.downloadermiddlewares.downloadtimeout.DownloadTimeoutMiddleware',
 'scrapy.downloadermiddlewares.defaultheaders.DefaultHeadersMiddleware',
 'scrapy.downloadermiddlewares.useragent.UserAgentMiddleware',
 'scrapy.downloadermiddlewares.retry.RetryMiddleware',
 'scrapy.downloadermiddlewares.redirect.MetaRefreshMiddleware',
 'scrapy.downloadermiddlewares.httpcompression.HttpCompressionMiddleware',
 'scrapy.downloadermiddlewares.redirect.RedirectMiddleware',
 'scrapy.downloadermiddlewares.cookies.CookiesMiddleware',
 'scrapy.downloadermiddlewares.httpproxy.HttpProxyMiddleware',
 'scrapy.downloadermiddlewares.stats.DownloaderStats']
2018-07-24 18:25:01 [scrapy.middleware] INFO: Enabled spider middlewares:
['scrapy.spidermiddlewares.httperror.HttpErrorMiddleware',
 'scrapy.spidermiddlewares.offsite.OffsiteMiddleware',
 'scrapy.spidermiddlewares.referer.RefererMiddleware',
 'scrapy.spidermiddlewares.urllength.UrlLengthMiddleware',
 'scrapy.spidermiddlewares.depth.DepthMiddleware']
2018-07-24 18:25:01 [scrapy.middleware] INFO: Enabled item pipelines:
[]
2018-07-24 18:25:01 [scrapy.core.engine] INFO: Spider opened
2018-07-24 18:25:01 [scrapy.extensions.logstats] INFO: Crawled 0 pages (at 0 pages/min), scraped 0 items (at 0 items/min)
2018-07-24 18:25:01 [scrapy.extensions.telnet] DEBUG: Telnet console listening on 127.0.0.1:6023
2018-07-24 18:25:01 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/tag/humor/> (referer: None)
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u'\u201cThe person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.\u201d', 'author': u'Jane Austen'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u'\u201cA day without sunshine is like, you know, night.\u201d', 'author': u'Steve Martin'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u'\u201cAnyone who thinks sitting in church can make you a Christian must also think that sitting in a garage can make you a car.\u201d', 'author': u'Garrison Keillor'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u'\u201cBeauty is in the eye of the beholder and it may be necessary from time to time to give a stupid or misinformed beholder a black eye.\u201d', 'author': u'Jim Henson'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u"\u201cAll you need is love. But a little chocolate now and then doesn't hurt.\u201d", 'author': u'Charles M. Schulz'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u"\u201cRemember, we're madly in love, so it's all right to kiss me anytime you feel like it.\u201d", 'author': u'Suzanne Collins'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u'\u201cSome people never go crazy. What truly horrible lives they must lead.\u201d', 'author': u'Charles Bukowski'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u'\u201cThe trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.\u201d', 'author': u'Terry Pratchett'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u'\u201cThink left and think right and think low and think high. Oh, the thinks you can think up if only you try!\u201d', 'author': u'Dr. Seuss'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/>
{'text': u'\u201cThe reason I talk to myself is because I\u2019m the only one whose answers I accept.\u201d', 'author': u'George Carlin'}
2018-07-24 18:25:02 [scrapy.core.engine] DEBUG: Crawled (200) <GET http://quotes.toscrape.com/tag/humor/page/2/> (referer: http://quotes.toscrape.com/tag/humor/)
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/page/2/>
{'text': u'\u201cI am free of all prejudice. I hate everyone equally. \u201d', 'author': u'W.C. Fields'}
2018-07-24 18:25:02 [scrapy.core.scraper] DEBUG: Scraped from <200 http://quotes.toscrape.com/tag/humor/page/2/>
{'text': u"\u201cA lady's imagination is very rapid; it jumps from admiration to love, from love to matrimony in a moment.\u201d", 'author': u'Jane Austen'}
2018-07-24 18:25:02 [scrapy.core.engine] INFO: Closing spider (finished)
2018-07-24 18:25:02 [scrapy.extensions.feedexport] INFO: Stored json feed (12 items) in: quotes.json
2018-07-24 18:25:02 [scrapy.statscollectors] INFO: Dumping Scrapy stats:
{'downloader/request_bytes': 511,
 'downloader/request_count': 2,
 'downloader/request_method_count/GET': 2,
 'downloader/response_bytes': 3725,
 'downloader/response_count': 2,
 'downloader/response_status_count/200': 2,
 'finish_reason': 'finished',
 'finish_time': datetime.datetime(2018, 7, 24, 22, 25, 2, 304854),
 'item_scraped_count': 12,
 'log_count/DEBUG': 15,
 'log_count/INFO': 8,
 'memusage/max': 51884032,
 'memusage/startup': 51879936,
 'request_depth_max': 1,
 'response_received_count': 2,
 'scheduler/dequeued': 2,
 'scheduler/dequeued/memory': 2,
 'scheduler/enqueued': 2,
 'scheduler/enqueued/memory': 2,
 'start_time': datetime.datetime(2018, 7, 24, 22, 25, 1, 551582)}
2018-07-24 18:25:02 [scrapy.core.engine] INFO: Spider closed (finished)

In [9]:
quotes = json.load(open('quotes.json', 'rb'))
print quotes

[{u'text': u'\u201cThe person, be it gentleman or lady, who has not pleasure in a good novel, must be intolerably stupid.\u201d', u'author': u'Jane Austen'}, {u'text': u'\u201cA day without sunshine is like, you know, night.\u201d', u'author': u'Steve Martin'}, {u'text': u'\u201cAnyone who thinks sitting in church can make you a Christian must also think that sitting in a garage can make you a car.\u201d', u'author': u'Garrison Keillor'}, {u'text': u'\u201cBeauty is in the eye of the beholder and it may be necessary from time to time to give a stupid or misinformed beholder a black eye.\u201d', u'author': u'Jim Henson'}, {u'text': u"\u201cAll you need is love. But a little chocolate now and then doesn't hurt.\u201d", u'author': u'Charles M. Schulz'}, {u'text': u"\u201cRemember, we're madly in love, so it's all right to kiss me anytime you feel like it.\u201d", u'author': u'Suzanne Collins'}, {u'text': u'\u201cSome people never go crazy. What truly horrible lives they must lead.\u201d', u'author': u'Charles Bukowski'}, {u'text': u'\u201cThe trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.\u201d', u'author': u'Terry Pratchett'}, {u'text': u'\u201cThink left and think right and think low and think high. Oh, the thinks you can think up if only you try!\u201d', u'author': u'Dr. Seuss'}, {u'text': u'\u201cThe reason I talk to myself is because I\u2019m the only one whose answers I accept.\u201d', u'author': u'George Carlin'}, {u'text': u'\u201cI am free of all prejudice. I hate everyone equally. \u201d', u'author': u'W.C. Fields'}, {u'text': u"\u201cA lady's imagination is very rapid; it jumps from admiration to love, from love to matrimony in a moment.\u201d", u'author': u'Jane Austen'}]

In [19]:
print os.popen('pwd').read()

/Users/ketanagrawal/Desktop/hqtriviabot

In [20]:
#can df.apply the crawler across each row
df['question']

NameError: name 'df' is not defined

In [60]:
df = pd.read_csv('HQquestions_clean.csv')

In [61]:
len(df['id'].unique())

2631

In [44]:
i = 34
idnum, question, answer0, answer1, answer2 = df['id'][i], df['question'][i], df['answer0'][i], df['answer1'][i], df['answer2'][i]
cmd = 'scrapy crawl scraper1 -a idnum=%s -a question="%s" -a answer0="%s" -a answer1="%s" -a answer2="%s" -o googleinfo.csv' % (idnum, question, answer0, answer1, answer2)
#print cmd + "CORRECT: " + df['correct_answer'][i]
#os.popen('cd hqscraper/hqscraper').read()
os.popen('cd hqscraper; ' + cmd).read()

scrapy crawl scraper1 -a idnum=1019388986295504897 -a question="In Spanish, the phrase “en absoluto” usually means which of these things?" -a answer0="Maybe" -a answer1="Not at all" -a answer2="Yesterday" -o test.csvCORRECT: Not at all

''

In [94]:
df_small = pd.read_csv('features_intermediate.csv')
df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 17 columns):
Unnamed: 0                    1613 non-null int64
id                            1613 non-null int64
correct_answer                1613 non-null object
question                      1613 non-null object
answer0                       1613 non-null object
answer1                       1613 non-null object
answer2                       1613 non-null object
numResults_answer0            1613 non-null int64
numResults_answer1            1613 non-null int64
numResults_answer2            1613 non-null int64
numResults_Qanswer0           1613 non-null int64
numResults_Qanswer1           1613 non-null int64
numResults_Qanswer2           1613 non-null int64
numResults_Q                  1613 non-null int64
numResults_Qanswer0_quoted    1613 non-null int64
numResults_Qanswer1_quoted    1613 non-null int64
numResults_Qanswer2_quoted    1613 non-null int64
dtypes: int64(12), object(5)
memory usage: 214.3+ KB

In [95]:
frames = []

In [97]:
df = pd.read_csv('HQquestions_clean.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2631 entries, 0 to 2630
Data columns (total 7 columns):
Unnamed: 0        2631 non-null int64
id                2631 non-null int64
correct_answer    2631 non-null object
question          2631 non-null object
answer0           2631 non-null object
answer1           2631 non-null object
answer2           2631 non-null object
dtypes: int64(2), object(5)
memory usage: 144.0+ KB

In [118]:
lastFinished = 1981

In [119]:
print lastFinished

1981

In [120]:
import pandas as pd
import os
#search_df = pd.DataFrame([[0, 'test', 0, 'test']], columns=['id', 'query', 'numResults', 'searchText'])

def do_searches(row):
    rownum = df.loc[df['id'] == row['id']].index[0]
#     if rownum <= lastFinishedRow:
#         print "skipping row %s" % rownum
#         return
    if rownum <= lastFinished or row['id'] in df_small['id'].values:
        print "skipping row %s" % rownum
        return
    else:
        idnum, question, answer0, answer1, answer2 = row['id'], row['question'], row['answer0'], row['answer1'], row['answer2']
    #     cmd = 'scrapy crawl scraper1 -a idnum=%s -a question="%s" -a answer0="%s" -a answer1="%s" -a answer2="%s" -o googleresults.csv' % (idnum, question, answer0, answer1, answer2)
    #     print cmd
    #     os.system('cd hqscraper; ' + cmd)
        queries = []
        queries.append(question)
        for answer in [answer0, answer1, answer2]:
            queries.append('%s %s' % (question, answer))
            queries.append('%s "%s"' % (question, answer))
            queries.append('%s' % (answer))
        googleTime = 0
        appendingTime = 0
        for query in queries:
            start = time.time()
            searchText, numResults = google_search(query, num=10)
            googleTime += (time.time() - start)
            
            start = time.time()
            temp_df = pd.DataFrame([[idnum, query, numResults, searchText]], columns=['id', 'query', 'numResults', 'searchText'])
            frames.append(temp_df)
            appendingTime += (time.time() - start)
        print "Googling took %s secs, Appending took %s secs" % (googleTime, appendingTime)
        #lastFinished += 1
        print "row %s/%s" % (rownum, len(df['id']))
    
df.apply(lambda row: do_searches(row), axis=1)

skipping row 0
skipping row 1
skipping row 2
skipping row 3
skipping row 4
skipping row 5
skipping row 6
skipping row 7
skipping row 8
skipping row 9
skipping row 10
skipping row 11
skipping row 12
skipping row 13
skipping row 14
skipping row 15
skipping row 16
skipping row 17
skipping row 18
skipping row 19
skipping row 20
skipping row 21
skipping row 22
skipping row 23
skipping row 24
skipping row 25
skipping row 26
skipping row 27
skipping row 28
skipping row 29
skipping row 30
skipping row 31
skipping row 32
skipping row 33
skipping row 34
skipping row 35
skipping row 36
skipping row 37
skipping row 38
skipping row 39
skipping row 40
skipping row 41
skipping row 42
skipping row 43
skipping row 44
skipping row 45
skipping row 46
skipping row 47
skipping row 48
skipping row 49
skipping row 50
skipping row 51
skipping row 52
skipping row 53
skipping row 54
skipping row 55
skipping row 56
skipping row 57
skipping row 58
skipping row 59
skipping row 60
skipping row 61
skipping row 62
skipping row 63
skipping row 64
skipping row 65
skipping row 66
skipping row 67
skipping row 68
skipping row 69
skipping row 70
skipping row 71
skipping row 72
skipping row 73
skipping row 74
skipping row 75
skipping row 76
skipping row 77
skipping row 78
skipping row 79
skipping row 80
skipping row 81
skipping row 82
skipping row 83
skipping row 84
skipping row 85
skipping row 86
skipping row 87
skipping row 88
skipping row 89
skipping row 90
skipping row 91
skipping row 92
skipping row 93
skipping row 94
skipping row 95
skipping row 96
skipping row 97
skipping row 98
skipping row 99
skipping row 100
skipping row 101
skipping row 102
skipping row 103
skipping row 104
skipping row 105
skipping row 106
skipping row 107
skipping row 108
skipping row 109
skipping row 110
skipping row 111
skipping row 112
skipping row 113
skipping row 114
skipping row 115
skipping row 116
skipping row 117
skipping row 118
skipping row 119
skipping row 120
skipping row 121
skipping row 122
skipping row 123
skipping row 124
skipping row 125
skipping row 126
skipping row 127
skipping row 128
skipping row 129
skipping row 130
skipping row 131
skipping row 132
skipping row 133
skipping row 134
skipping row 135
skipping row 136
skipping row 137
skipping row 138
skipping row 139
skipping row 140
skipping row 141
skipping row 142
skipping row 143
skipping row 144
skipping row 145
skipping row 146
skipping row 147
skipping row 148
skipping row 149
skipping row 150
skipping row 151
skipping row 152
skipping row 153
skipping row 154
skipping row 155
skipping row 156
skipping row 157
skipping row 158
skipping row 159
skipping row 160
skipping row 161
skipping row 162
skipping row 163
skipping row 164
skipping row 165
skipping row 166
skipping row 167
skipping row 168
skipping row 169
skipping row 170
skipping row 171
skipping row 172
skipping row 173
skipping row 174
skipping row 175
skipping row 176
skipping row 177
skipping row 178
skipping row 179
skipping row 180
skipping row 181
skipping row 182
skipping row 183
skipping row 184
skipping row 185
skipping row 186
skipping row 187
skipping row 188
skipping row 189
skipping row 190
skipping row 191
skipping row 192
skipping row 193
skipping row 194
skipping row 195
skipping row 196
skipping row 197
skipping row 198
skipping row 199
skipping row 200
skipping row 201
skipping row 202
skipping row 203
skipping row 204
skipping row 205
skipping row 206
skipping row 207
skipping row 208
skipping row 209
skipping row 210
skipping row 211
skipping row 212
skipping row 213
skipping row 214
skipping row 215
skipping row 216
skipping row 217
skipping row 218
skipping row 219
skipping row 220
skipping row 221
skipping row 222
skipping row 223
skipping row 224
skipping row 225
skipping row 226
skipping row 227
skipping row 228
skipping row 229
skipping row 230
skipping row 231
skipping row 232
skipping row 233
skipping row 234
skipping row 235
skipping row 236
skipping row 237
skipping row 238
skipping row 239
skipping row 240
skipping row 241
skipping row 242
skipping row 243
skipping row 244
skipping row 245
skipping row 246
skipping row 247
skipping row 248
skipping row 249
skipping row 250
skipping row 251
skipping row 252
skipping row 253
skipping row 254
skipping row 255
skipping row 256
skipping row 257
skipping row 258
skipping row 259
skipping row 260
skipping row 261
skipping row 262
skipping row 263
skipping row 264
skipping row 265
skipping row 266
skipping row 267
skipping row 268
skipping row 269
skipping row 270
skipping row 271
skipping row 272
skipping row 273
skipping row 274
skipping row 275
skipping row 276
skipping row 277
skipping row 278
skipping row 279
skipping row 280
skipping row 281
skipping row 282
skipping row 283
skipping row 284
skipping row 285
skipping row 286
skipping row 287
skipping row 288
skipping row 289
skipping row 290
skipping row 291
skipping row 292
skipping row 293
skipping row 294
skipping row 295
skipping row 296
skipping row 297
skipping row 298
skipping row 299
skipping row 300
skipping row 301
skipping row 302
skipping row 303
skipping row 304
skipping row 305
skipping row 306
skipping row 307
skipping row 308
skipping row 309
skipping row 310
skipping row 311
skipping row 312
skipping row 313
skipping row 314
skipping row 315
skipping row 316
skipping row 317
skipping row 318
skipping row 319
skipping row 320
skipping row 321
skipping row 322
skipping row 323
skipping row 324
skipping row 325
skipping row 326
skipping row 327
skipping row 328
skipping row 329
skipping row 330
skipping row 331
skipping row 332
skipping row 333
skipping row 334
skipping row 335
skipping row 336
skipping row 337
skipping row 338
skipping row 339
skipping row 340
skipping row 341
skipping row 342
skipping row 343
skipping row 344
skipping row 345
skipping row 346
skipping row 347
skipping row 348
skipping row 349
skipping row 350
skipping row 351
skipping row 352
skipping row 353
skipping row 354
skipping row 355
skipping row 356
skipping row 357
skipping row 358
skipping row 359
skipping row 360
skipping row 361
skipping row 362
skipping row 363
skipping row 364
skipping row 365
skipping row 366
skipping row 367
skipping row 368
skipping row 369
skipping row 370
skipping row 371
skipping row 372
skipping row 373
skipping row 374
skipping row 375
skipping row 376
skipping row 377
skipping row 378
skipping row 379
skipping row 380
skipping row 381
skipping row 382
skipping row 383
skipping row 384
skipping row 385
skipping row 386
skipping row 387
skipping row 388
skipping row 389
skipping row 390
skipping row 391
skipping row 392
skipping row 393
skipping row 394
skipping row 395
skipping row 396
skipping row 397
skipping row 398
skipping row 399
skipping row 400
skipping row 401
skipping row 402
skipping row 403
skipping row 404
skipping row 405
skipping row 406
skipping row 407
skipping row 408
skipping row 409
skipping row 410
skipping row 411
skipping row 412
skipping row 413
skipping row 414
skipping row 415
skipping row 416
skipping row 417
skipping row 418
skipping row 419
skipping row 420
skipping row 421
skipping row 422
skipping row 423
skipping row 424
skipping row 425
skipping row 426
skipping row 427
skipping row 428
skipping row 429
skipping row 430
skipping row 431
skipping row 432
skipping row 433
skipping row 434
skipping row 435
skipping row 436
skipping row 437
skipping row 438
skipping row 439
skipping row 440
skipping row 441
skipping row 442
skipping row 443
skipping row 444
skipping row 445
skipping row 446
skipping row 447
skipping row 448
skipping row 449
skipping row 450
skipping row 451
skipping row 452
skipping row 453
skipping row 454
skipping row 455
skipping row 456
skipping row 457
skipping row 458
skipping row 459
skipping row 460
skipping row 461
skipping row 462
skipping row 463
skipping row 464
skipping row 465
skipping row 466
skipping row 467
skipping row 468
skipping row 469
skipping row 470
skipping row 471
skipping row 472
skipping row 473
skipping row 474
skipping row 475
skipping row 476
skipping row 477
skipping row 478
skipping row 479
skipping row 480
skipping row 481
skipping row 482
skipping row 483
skipping row 484
skipping row 485
skipping row 486
skipping row 487
skipping row 488
skipping row 489
skipping row 490
skipping row 491
skipping row 492
skipping row 493
skipping row 494
skipping row 495
skipping row 496
skipping row 497
skipping row 498
skipping row 499
skipping row 500
skipping row 501
skipping row 502
skipping row 503
skipping row 504
skipping row 505
skipping row 506
skipping row 507
skipping row 508
skipping row 509
skipping row 510
skipping row 511
skipping row 512
skipping row 513
skipping row 514
skipping row 515
skipping row 516
skipping row 517
skipping row 518
skipping row 519
skipping row 520
skipping row 521
skipping row 522
skipping row 523
skipping row 524
skipping row 525
skipping row 526
skipping row 527
skipping row 528
skipping row 529
skipping row 530
skipping row 531
skipping row 532
skipping row 533
skipping row 534
skipping row 535
skipping row 536
skipping row 537
skipping row 538
skipping row 539
skipping row 540
skipping row 541
skipping row 542
skipping row 543
skipping row 544
skipping row 545
skipping row 546
skipping row 547
skipping row 548
skipping row 549
skipping row 550
skipping row 551
skipping row 552
skipping row 553
skipping row 554
skipping row 555
skipping row 556
skipping row 557
skipping row 558
skipping row 559
skipping row 560
skipping row 561
skipping row 562
skipping row 563
skipping row 564
skipping row 565
skipping row 566
skipping row 567
skipping row 568
skipping row 569
skipping row 570
skipping row 571
skipping row 572
skipping row 573
skipping row 574
skipping row 575
skipping row 576
skipping row 577
skipping row 578
skipping row 579
skipping row 580
skipping row 581
skipping row 582
skipping row 583
skipping row 584
skipping row 585
skipping row 586
skipping row 587
skipping row 588
skipping row 589
skipping row 590
skipping row 591
skipping row 592
skipping row 593
skipping row 594
skipping row 595
skipping row 596
skipping row 597
skipping row 598
skipping row 599
skipping row 600
skipping row 601
skipping row 602
skipping row 603
skipping row 604
skipping row 605
skipping row 606
skipping row 607
skipping row 608
skipping row 609
skipping row 610
skipping row 611
skipping row 612
skipping row 613
skipping row 614
skipping row 615
skipping row 616
skipping row 617
skipping row 618
skipping row 619
skipping row 620
skipping row 621
skipping row 622
skipping row 623
skipping row 624
skipping row 625

skipping row 626
skipping row 627
skipping row 628
skipping row 629
skipping row 630
skipping row 631
skipping row 632
skipping row 633
skipping row 634
skipping row 635
skipping row 636
skipping row 637
skipping row 638
skipping row 639
skipping row 640
skipping row 641
skipping row 642
skipping row 643
skipping row 644
skipping row 645
skipping row 646
skipping row 647
skipping row 648
skipping row 649
skipping row 650
skipping row 651
skipping row 652
skipping row 653
skipping row 654
skipping row 655
skipping row 656
skipping row 657
skipping row 658
skipping row 659
skipping row 660
skipping row 661
skipping row 662
skipping row 663
skipping row 664
skipping row 665
skipping row 666
skipping row 667
skipping row 668
skipping row 669
skipping row 670
skipping row 671
skipping row 672
skipping row 673
skipping row 674
skipping row 675
skipping row 676
skipping row 677
skipping row 678
skipping row 679
skipping row 680
skipping row 681
skipping row 682
skipping row 683
skipping row 684
skipping row 685
skipping row 686
skipping row 687
skipping row 688
skipping row 689
skipping row 690
skipping row 691
skipping row 692
skipping row 693
skipping row 694
skipping row 695
skipping row 696
skipping row 697
skipping row 698
skipping row 699
skipping row 700
skipping row 701
skipping row 702
skipping row 703
skipping row 704
skipping row 705
skipping row 706
skipping row 707
skipping row 708
skipping row 709
skipping row 710
skipping row 711
skipping row 712
skipping row 713
skipping row 714
skipping row 715
skipping row 716
skipping row 717
skipping row 718
skipping row 719
skipping row 720
skipping row 721
skipping row 722
skipping row 723
skipping row 724
skipping row 725
skipping row 726
skipping row 727
skipping row 728
skipping row 729
skipping row 730
skipping row 731
skipping row 732
skipping row 733
skipping row 734
skipping row 735
skipping row 736
skipping row 737
skipping row 738
skipping row 739
skipping row 740
skipping row 741
skipping row 742
skipping row 743
skipping row 744
skipping row 745
skipping row 746
skipping row 747
skipping row 748
skipping row 749
skipping row 750
skipping row 751
skipping row 752
skipping row 753
skipping row 754
skipping row 755
skipping row 756
skipping row 757
skipping row 758
skipping row 759
skipping row 760
skipping row 761
skipping row 762
skipping row 763
skipping row 764
skipping row 765
skipping row 766
skipping row 767
skipping row 768
skipping row 769
skipping row 770
skipping row 771
skipping row 772
skipping row 773
skipping row 774
skipping row 775
skipping row 776
skipping row 777
skipping row 778
skipping row 779
skipping row 780
skipping row 781
skipping row 782
skipping row 783
skipping row 784
skipping row 785
skipping row 786
skipping row 787
skipping row 788
skipping row 789
skipping row 790
skipping row 791
skipping row 792
skipping row 793
skipping row 794
skipping row 795
skipping row 796
skipping row 797
skipping row 798
skipping row 799
skipping row 800
skipping row 801
skipping row 802
skipping row 803
skipping row 804
skipping row 805
skipping row 806
skipping row 807
skipping row 808
skipping row 809
skipping row 810
skipping row 811
skipping row 812
skipping row 813
skipping row 814
skipping row 815
skipping row 816
skipping row 817
skipping row 818
skipping row 819
skipping row 820
skipping row 821
skipping row 822
skipping row 823
skipping row 824
skipping row 825
skipping row 826
skipping row 827
skipping row 828
skipping row 829
skipping row 830
skipping row 831
skipping row 832
skipping row 833
skipping row 834
skipping row 835
skipping row 836
skipping row 837
skipping row 838
skipping row 839
skipping row 840
skipping row 841
skipping row 842
skipping row 843
skipping row 844
skipping row 845
skipping row 846
skipping row 847
skipping row 848
skipping row 849
skipping row 850
skipping row 851
skipping row 852
skipping row 853
skipping row 854
skipping row 855
skipping row 856
skipping row 857
skipping row 858
skipping row 859
skipping row 860
skipping row 861
skipping row 862
skipping row 863
skipping row 864
skipping row 865
skipping row 866
skipping row 867
skipping row 868
skipping row 869
skipping row 870
skipping row 871
skipping row 872
skipping row 873
skipping row 874
skipping row 875
skipping row 876
skipping row 877
skipping row 878
skipping row 879
skipping row 880
skipping row 881
skipping row 882
skipping row 883
skipping row 884
skipping row 885
skipping row 886
skipping row 887
skipping row 888
skipping row 889
skipping row 890
skipping row 891
skipping row 892
skipping row 893
skipping row 894
skipping row 895
skipping row 896
skipping row 897
skipping row 898
skipping row 899
skipping row 900
skipping row 901
skipping row 902
skipping row 903
skipping row 904
skipping row 905
skipping row 906
skipping row 907
skipping row 908
skipping row 909
skipping row 910
skipping row 911
skipping row 912
skipping row 913
skipping row 914
skipping row 915
skipping row 916
skipping row 917
skipping row 918
skipping row 919
skipping row 920
skipping row 921
skipping row 922
skipping row 923
skipping row 924
skipping row 925
skipping row 926
skipping row 927
skipping row 928
skipping row 929
skipping row 930
skipping row 931
skipping row 932
skipping row 933
skipping row 934
skipping row 935
skipping row 936
skipping row 937
skipping row 938
skipping row 939
skipping row 940
skipping row 941
skipping row 942
skipping row 943
skipping row 944
skipping row 945
skipping row 946
skipping row 947
skipping row 948
skipping row 949
skipping row 950
skipping row 951
skipping row 952
skipping row 953
skipping row 954
skipping row 955
skipping row 956
skipping row 957
skipping row 958
skipping row 959
skipping row 960
skipping row 961
skipping row 962
skipping row 963
skipping row 964
skipping row 965
skipping row 966
skipping row 967
skipping row 968
skipping row 969
skipping row 970
skipping row 971
skipping row 972
skipping row 973
skipping row 974
skipping row 975
skipping row 976
skipping row 977
skipping row 978
skipping row 979
skipping row 980
skipping row 981
skipping row 982
skipping row 983
skipping row 984
skipping row 985
skipping row 986
skipping row 987
skipping row 988
skipping row 989
skipping row 990
skipping row 991
skipping row 992
skipping row 993
skipping row 994
skipping row 995
skipping row 996
skipping row 997
skipping row 998
skipping row 999
skipping row 1000
skipping row 1001
skipping row 1002
skipping row 1003
skipping row 1004
skipping row 1005
skipping row 1006
skipping row 1007
skipping row 1008
skipping row 1009
skipping row 1010
skipping row 1011
skipping row 1012
skipping row 1013
skipping row 1014
skipping row 1015
skipping row 1016
skipping row 1017
skipping row 1018
skipping row 1019
skipping row 1020
skipping row 1021
skipping row 1022
skipping row 1023
skipping row 1024
skipping row 1025
skipping row 1026
skipping row 1027
skipping row 1028
skipping row 1029
skipping row 1030
skipping row 1031
skipping row 1032
skipping row 1033
skipping row 1034
skipping row 1035
skipping row 1036
skipping row 1037
skipping row 1038
skipping row 1039
skipping row 1040
skipping row 1041
skipping row 1042
skipping row 1043
skipping row 1044
skipping row 1045
skipping row 1046
skipping row 1047
skipping row 1048
skipping row 1049
skipping row 1050
skipping row 1051
skipping row 1052
skipping row 1053
skipping row 1054
skipping row 1055
skipping row 1056
skipping row 1057
skipping row 1058
skipping row 1059
skipping row 1060
skipping row 1061
skipping row 1062
skipping row 1063
skipping row 1064
skipping row 1065
skipping row 1066
skipping row 1067
skipping row 1068
skipping row 1069
skipping row 1070
skipping row 1071
skipping row 1072
skipping row 1073
skipping row 1074
skipping row 1075
skipping row 1076
skipping row 1077
skipping row 1078
skipping row 1079
skipping row 1080
skipping row 1081
skipping row 1082
skipping row 1083
skipping row 1084
skipping row 1085
skipping row 1086
skipping row 1087
skipping row 1088
skipping row 1089
skipping row 1090
skipping row 1091
skipping row 1092
skipping row 1093
skipping row 1094
skipping row 1095
skipping row 1096
skipping row 1097
skipping row 1098
skipping row 1099
skipping row 1100
skipping row 1101
skipping row 1102
skipping row 1103
skipping row 1104
skipping row 1105
skipping row 1106
skipping row 1107
skipping row 1108
skipping row 1109
skipping row 1110
skipping row 1111
skipping row 1112
skipping row 1113
skipping row 1114
skipping row 1115
skipping row 1116
skipping row 1117
skipping row 1118
skipping row 1119
skipping row 1120
skipping row 1121
skipping row 1122
skipping row 1123
skipping row 1124
skipping row 1125
skipping row 1126
skipping row 1127
skipping row 1128
skipping row 1129
skipping row 1130

skipping row 1131
skipping row 1132
skipping row 1133
skipping row 1134
skipping row 1135
skipping row 1136
skipping row 1137
skipping row 1138
skipping row 1139
skipping row 1140
skipping row 1141
skipping row 1142
skipping row 1143
skipping row 1144
skipping row 1145
skipping row 1146
skipping row 1147
skipping row 1148
skipping row 1149
skipping row 1150
skipping row 1151
skipping row 1152
skipping row 1153
skipping row 1154
skipping row 1155
skipping row 1156
skipping row 1157
skipping row 1158
skipping row 1159
skipping row 1160
skipping row 1161
skipping row 1162
skipping row 1163
skipping row 1164
skipping row 1165
skipping row 1166
skipping row 1167
skipping row 1168
skipping row 1169
skipping row 1170
skipping row 1171
skipping row 1172
skipping row 1173
skipping row 1174
skipping row 1175
skipping row 1176
skipping row 1177
skipping row 1178
skipping row 1179
skipping row 1180
skipping row 1181
skipping row 1182
skipping row 1183
skipping row 1184
skipping row 1185
skipping row 1186
skipping row 1187
skipping row 1188
skipping row 1189
skipping row 1190
skipping row 1191
skipping row 1192
skipping row 1193
skipping row 1194
skipping row 1195
skipping row 1196
skipping row 1197
skipping row 1198
skipping row 1199
skipping row 1200
skipping row 1201
skipping row 1202
skipping row 1203
skipping row 1204
skipping row 1205
skipping row 1206
skipping row 1207
skipping row 1208
skipping row 1209
skipping row 1210
skipping row 1211
skipping row 1212
skipping row 1213
skipping row 1214
skipping row 1215
skipping row 1216
skipping row 1217
skipping row 1218
skipping row 1219
skipping row 1220
skipping row 1221
skipping row 1222
skipping row 1223
skipping row 1224
skipping row 1225
skipping row 1226
skipping row 1227
skipping row 1228
skipping row 1229
skipping row 1230
skipping row 1231
skipping row 1232
skipping row 1233
skipping row 1234
skipping row 1235
skipping row 1236
skipping row 1237
skipping row 1238
skipping row 1239
skipping row 1240
skipping row 1241
skipping row 1242
skipping row 1243
skipping row 1244
skipping row 1245
skipping row 1246
skipping row 1247
skipping row 1248
skipping row 1249
skipping row 1250
skipping row 1251
skipping row 1252
skipping row 1253
skipping row 1254
skipping row 1255
skipping row 1256
skipping row 1257
skipping row 1258
skipping row 1259
skipping row 1260
skipping row 1261
skipping row 1262
skipping row 1263
skipping row 1264
skipping row 1265
skipping row 1266
skipping row 1267
skipping row 1268
skipping row 1269
skipping row 1270
skipping row 1271
skipping row 1272
skipping row 1273
skipping row 1274
skipping row 1275
skipping row 1276
skipping row 1277
skipping row 1278
skipping row 1279
skipping row 1280
skipping row 1281
skipping row 1282
skipping row 1283
skipping row 1284
skipping row 1285
skipping row 1286
skipping row 1287
skipping row 1288
skipping row 1289
skipping row 1290
skipping row 1291
skipping row 1292
skipping row 1293
skipping row 1294
skipping row 1295
skipping row 1296
skipping row 1297
skipping row 1298
skipping row 1299
skipping row 1300
skipping row 1301
skipping row 1302
skipping row 1303
skipping row 1304
skipping row 1305
skipping row 1306
skipping row 1307
skipping row 1308
skipping row 1309
skipping row 1310
skipping row 1311
skipping row 1312
skipping row 1313
skipping row 1314
skipping row 1315
skipping row 1316
skipping row 1317
skipping row 1318
skipping row 1319
skipping row 1320
skipping row 1321
skipping row 1322
skipping row 1323
skipping row 1324
skipping row 1325
skipping row 1326
skipping row 1327
skipping row 1328
skipping row 1329
skipping row 1330
skipping row 1331
skipping row 1332
skipping row 1333
skipping row 1334
skipping row 1335
skipping row 1336
skipping row 1337
skipping row 1338
skipping row 1339
skipping row 1340
skipping row 1341
skipping row 1342
skipping row 1343
skipping row 1344
skipping row 1345
skipping row 1346
skipping row 1347
skipping row 1348
skipping row 1349
skipping row 1350
skipping row 1351
skipping row 1352
skipping row 1353
skipping row 1354
skipping row 1355
skipping row 1356
skipping row 1357
skipping row 1358
skipping row 1359
skipping row 1360
skipping row 1361
skipping row 1362
skipping row 1363
skipping row 1364
skipping row 1365
skipping row 1366
skipping row 1367
skipping row 1368
skipping row 1369
skipping row 1370
skipping row 1371
skipping row 1372
skipping row 1373
skipping row 1374
skipping row 1375
skipping row 1376
skipping row 1377
skipping row 1378
skipping row 1379
skipping row 1380
skipping row 1381
skipping row 1382
skipping row 1383
skipping row 1384
skipping row 1385
skipping row 1386
skipping row 1387
skipping row 1388
skipping row 1389
skipping row 1390
skipping row 1391
skipping row 1392
skipping row 1393
skipping row 1394
skipping row 1395
skipping row 1396
skipping row 1397
skipping row 1398
skipping row 1399
skipping row 1400
skipping row 1401
skipping row 1402
skipping row 1403
skipping row 1404
skipping row 1405
skipping row 1406
skipping row 1407
skipping row 1408
skipping row 1409
skipping row 1410
skipping row 1411
skipping row 1412
skipping row 1413
skipping row 1414
skipping row 1415
skipping row 1416
skipping row 1417
skipping row 1418
skipping row 1419
skipping row 1420
skipping row 1421
skipping row 1422
skipping row 1423
skipping row 1424
skipping row 1425
skipping row 1426
skipping row 1427
skipping row 1428
skipping row 1429
skipping row 1430
skipping row 1431
skipping row 1432
skipping row 1433
skipping row 1434
skipping row 1435
skipping row 1436
skipping row 1437
skipping row 1438
skipping row 1439
skipping row 1440
skipping row 1441
skipping row 1442
skipping row 1443
skipping row 1444
skipping row 1445
skipping row 1446
skipping row 1447
skipping row 1448
skipping row 1449
skipping row 1450
skipping row 1451
skipping row 1452
skipping row 1453
skipping row 1454
skipping row 1455
skipping row 1456
skipping row 1457
skipping row 1458
skipping row 1459
skipping row 1460
skipping row 1461
skipping row 1462
skipping row 1463
skipping row 1464
skipping row 1465
skipping row 1466
skipping row 1467
skipping row 1468
skipping row 1469
skipping row 1470
skipping row 1471
skipping row 1472
skipping row 1473
skipping row 1474
skipping row 1475
skipping row 1476
skipping row 1477
skipping row 1478
skipping row 1479
skipping row 1480
skipping row 1481
skipping row 1482
skipping row 1483
skipping row 1484
skipping row 1485
skipping row 1486
skipping row 1487
skipping row 1488
skipping row 1489
skipping row 1490
skipping row 1491
skipping row 1492
skipping row 1493
skipping row 1494
skipping row 1495
skipping row 1496
skipping row 1497
skipping row 1498
skipping row 1499
skipping row 1500
skipping row 1501
skipping row 1502
skipping row 1503
skipping row 1504
skipping row 1505
skipping row 1506
skipping row 1507
skipping row 1508
skipping row 1509
skipping row 1510
skipping row 1511
skipping row 1512
skipping row 1513
skipping row 1514
skipping row 1515
skipping row 1516
skipping row 1517
skipping row 1518
skipping row 1519
skipping row 1520
skipping row 1521
skipping row 1522
skipping row 1523
skipping row 1524
skipping row 1525
skipping row 1526
skipping row 1527
skipping row 1528
skipping row 1529
skipping row 1530
skipping row 1531
skipping row 1532
skipping row 1533
skipping row 1534
skipping row 1535
skipping row 1536
skipping row 1537
skipping row 1538
skipping row 1539
skipping row 1540
skipping row 1541
skipping row 1542
skipping row 1543
skipping row 1544
skipping row 1545
skipping row 1546
skipping row 1547
skipping row 1548
skipping row 1549
skipping row 1550
skipping row 1551
skipping row 1552
skipping row 1553
skipping row 1554
skipping row 1555
skipping row 1556
skipping row 1557
skipping row 1558
skipping row 1559
skipping row 1560
skipping row 1561
skipping row 1562
skipping row 1563
skipping row 1564
skipping row 1565
skipping row 1566
skipping row 1567
skipping row 1568
skipping row 1569
skipping row 1570
skipping row 1571
skipping row 1572
skipping row 1573
skipping row 1574
skipping row 1575
skipping row 1576
skipping row 1577
skipping row 1578
skipping row 1579
skipping row 1580
skipping row 1581
skipping row 1582
skipping row 1583
skipping row 1584
skipping row 1585
skipping row 1586
skipping row 1587
skipping row 1588
skipping row 1589
skipping row 1590
skipping row 1591
skipping row 1592
skipping row 1593
skipping row 1594
skipping row 1595
skipping row 1596
skipping row 1597
skipping row 1598
skipping row 1599
skipping row 1600
skipping row 1601
skipping row 1602
skipping row 1603
skipping row 1604
skipping row 1605
skipping row 1606
skipping row 1607
skipping row 1608
skipping row 1609
skipping row 1610
skipping row 1611
skipping row 1612
skipping row 1613
skipping row 1614
skipping row 1615
skipping row 1616
skipping row 1617
skipping row 1618
skipping row 1619
skipping row 1620
skipping row 1621
skipping row 1622
skipping row 1623
skipping row 1624

skipping row 1625
skipping row 1626
skipping row 1627
skipping row 1628
skipping row 1629
skipping row 1630
skipping row 1631
skipping row 1632
skipping row 1633
skipping row 1634
skipping row 1635
skipping row 1636
skipping row 1637
skipping row 1638
skipping row 1639
skipping row 1640
skipping row 1641
skipping row 1642
skipping row 1643
skipping row 1644
skipping row 1645
skipping row 1646
skipping row 1647
skipping row 1648
skipping row 1649
skipping row 1650
skipping row 1651
skipping row 1652
skipping row 1653
skipping row 1654
skipping row 1655
skipping row 1656
skipping row 1657
skipping row 1658
skipping row 1659
skipping row 1660
skipping row 1661
skipping row 1662
skipping row 1663
skipping row 1664
skipping row 1665
skipping row 1666
skipping row 1667
skipping row 1668
skipping row 1669
skipping row 1670
skipping row 1671
skipping row 1672
skipping row 1673
skipping row 1674
skipping row 1675
skipping row 1676
skipping row 1677
skipping row 1678
skipping row 1679
skipping row 1680
skipping row 1681
skipping row 1682
skipping row 1683
skipping row 1684
skipping row 1685
skipping row 1686
skipping row 1687
skipping row 1688
skipping row 1689
skipping row 1690
skipping row 1691
skipping row 1692
skipping row 1693
skipping row 1694
skipping row 1695
skipping row 1696
skipping row 1697
skipping row 1698
skipping row 1699
skipping row 1700
skipping row 1701
skipping row 1702
skipping row 1703
skipping row 1704
skipping row 1705
skipping row 1706
skipping row 1707
skipping row 1708
skipping row 1709
skipping row 1710
skipping row 1711
skipping row 1712
skipping row 1713
skipping row 1714
skipping row 1715
skipping row 1716
skipping row 1717
skipping row 1718
skipping row 1719
skipping row 1720
skipping row 1721
skipping row 1722
skipping row 1723
skipping row 1724
skipping row 1725
skipping row 1726
skipping row 1727
skipping row 1728
skipping row 1729
skipping row 1730
skipping row 1731
skipping row 1732
skipping row 1733
skipping row 1734
skipping row 1735
skipping row 1736
skipping row 1737
skipping row 1738
skipping row 1739
skipping row 1740
skipping row 1741
skipping row 1742
skipping row 1743
skipping row 1744
skipping row 1745
skipping row 1746
skipping row 1747
skipping row 1748
skipping row 1749
skipping row 1750
skipping row 1751
skipping row 1752
skipping row 1753
skipping row 1754
skipping row 1755
skipping row 1756
skipping row 1757
skipping row 1758
skipping row 1759
skipping row 1760
skipping row 1761
skipping row 1762
skipping row 1763
skipping row 1764
skipping row 1765
skipping row 1766
skipping row 1767
skipping row 1768
skipping row 1769
skipping row 1770
skipping row 1771
skipping row 1772
skipping row 1773
skipping row 1774
skipping row 1775
skipping row 1776
skipping row 1777
skipping row 1778
skipping row 1779
skipping row 1780
skipping row 1781
skipping row 1782
skipping row 1783
skipping row 1784
skipping row 1785
skipping row 1786
skipping row 1787
skipping row 1788
skipping row 1789
skipping row 1790
skipping row 1791
skipping row 1792
skipping row 1793
skipping row 1794
skipping row 1795
skipping row 1796
skipping row 1797
skipping row 1798
skipping row 1799
skipping row 1800
skipping row 1801
skipping row 1802
skipping row 1803
skipping row 1804
skipping row 1805
skipping row 1806
skipping row 1807
skipping row 1808
skipping row 1809
skipping row 1810
skipping row 1811
skipping row 1812
skipping row 1813
skipping row 1814
skipping row 1815
skipping row 1816
skipping row 1817
skipping row 1818
skipping row 1819
skipping row 1820
skipping row 1821
skipping row 1822
skipping row 1823
skipping row 1824
skipping row 1825
skipping row 1826
skipping row 1827
skipping row 1828
skipping row 1829
skipping row 1830
skipping row 1831
skipping row 1832
skipping row 1833
skipping row 1834
skipping row 1835
skipping row 1836
skipping row 1837
skipping row 1838
skipping row 1839
skipping row 1840
skipping row 1841
skipping row 1842
skipping row 1843
skipping row 1844
skipping row 1845
skipping row 1846
skipping row 1847
skipping row 1848
skipping row 1849
skipping row 1850
skipping row 1851
skipping row 1852
skipping row 1853
skipping row 1854
skipping row 1855
skipping row 1856
skipping row 1857
skipping row 1858
skipping row 1859
skipping row 1860
skipping row 1861
skipping row 1862
skipping row 1863
skipping row 1864
skipping row 1865
skipping row 1866
skipping row 1867
skipping row 1868
skipping row 1869
skipping row 1870
skipping row 1871
skipping row 1872
skipping row 1873
skipping row 1874
skipping row 1875
skipping row 1876
skipping row 1877
skipping row 1878
skipping row 1879
skipping row 1880
skipping row 1881
skipping row 1882
skipping row 1883
skipping row 1884
skipping row 1885
skipping row 1886
skipping row 1887
skipping row 1888
skipping row 1889
skipping row 1890
skipping row 1891
skipping row 1892
skipping row 1893
skipping row 1894
skipping row 1895
skipping row 1896
skipping row 1897
skipping row 1898
skipping row 1899
skipping row 1900
skipping row 1901
skipping row 1902
skipping row 1903
skipping row 1904
skipping row 1905
skipping row 1906
skipping row 1907
skipping row 1908
skipping row 1909
skipping row 1910
skipping row 1911
skipping row 1912
skipping row 1913
skipping row 1914
skipping row 1915
skipping row 1916
skipping row 1917
skipping row 1918
skipping row 1919
skipping row 1920
skipping row 1921
skipping row 1922
skipping row 1923
skipping row 1924
skipping row 1925
skipping row 1926
skipping row 1927
skipping row 1928
skipping row 1929
skipping row 1930
skipping row 1931
skipping row 1932
skipping row 1933
skipping row 1934
skipping row 1935
skipping row 1936
skipping row 1937
skipping row 1938
skipping row 1939
skipping row 1940
skipping row 1941
skipping row 1942
skipping row 1943
skipping row 1944
skipping row 1945
skipping row 1946
skipping row 1947
skipping row 1948
skipping row 1949
skipping row 1950
skipping row 1951
skipping row 1952
skipping row 1953
skipping row 1954
skipping row 1955
skipping row 1956
skipping row 1957
skipping row 1958
skipping row 1959
skipping row 1960
skipping row 1961
skipping row 1962
skipping row 1963
skipping row 1964
skipping row 1965
skipping row 1966
skipping row 1967
skipping row 1968
skipping row 1969
skipping row 1970
skipping row 1971
skipping row 1972
skipping row 1973
skipping row 1974
skipping row 1975
skipping row 1976
skipping row 1977
skipping row 1978
skipping row 1979
skipping row 1980
skipping row 1981
Googling took 8.59862852097 secs, Appending took 0.0172719955444 secs
row 1982/2631
Googling took 7.07799482346 secs, Appending took 0.0149481296539 secs
row 1983/2631
Googling took 7.92643523216 secs, Appending took 0.017272233963 secs
row 1984/2631
Googling took 7.92943882942 secs, Appending took 0.0147273540497 secs
row 1985/2631
Googling took 8.2718398571 secs, Appending took 0.0151200294495 secs
row 1986/2631
Googling took 7.3534090519 secs, Appending took 0.0133600234985 secs
row 1987/2631
Googling took 8.59501600266 secs, Appending took 0.0133860111237 secs
row 1988/2631
Googling took 8.58901643753 secs, Appending took 0.0152790546417 secs
row 1989/2631
Googling took 8.57494187355 secs, Appending took 0.0195469856262 secs
row 1990/2631
Googling took 8.72677397728 secs, Appending took 0.0143234729767 secs
row 1991/2631
Googling took 7.54491639137 secs, Appending took 0.0133213996887 secs
row 1992/2631
Googling took 8.5555036068 secs, Appending took 0.0146985054016 secs
row 1993/2631
Googling took 11.3498370647 secs, Appending took 0.0168950557709 secs
row 1994/2631
Googling took 10.4277858734 secs, Appending took 0.0153341293335 secs
row 1995/2631
Googling took 8.93539237976 secs, Appending took 0.0145871639252 secs
row 1996/2631
Googling took 7.91621732712 secs, Appending took 0.0194511413574 secs
row 1997/2631
Googling took 8.58591675758 secs, Appending took 0.0168571472168 secs
row 1998/2631
Googling took 8.9226667881 secs, Appending took 0.0173699855804 secs
row 1999/2631
Googling took 7.62721061707 secs, Appending took 0.0153698921204 secs
row 2000/2631
Googling took 8.55065917969 secs, Appending took 0.0158693790436 secs
row 2001/2631
Googling took 8.00212478638 secs, Appending took 0.0160291194916 secs
row 2002/2631
Googling took 8.58250880241 secs, Appending took 0.0151138305664 secs
row 2003/2631

Googling took 9.80805468559 secs, Appending took 0.0188393592834 secs
row 2004/2631
Googling took 9.20139908791 secs, Appending took 0.0162570476532 secs
row 2005/2631
Googling took 8.56563043594 secs, Appending took 0.0263156890869 secs
row 2006/2631
Googling took 8.83115959167 secs, Appending took 0.0157010555267 secs
row 2007/2631
Googling took 8.71067810059 secs, Appending took 0.0155839920044 secs
row 2008/2631
Googling took 8.21617603302 secs, Appending took 0.0161397457123 secs
row 2009/2631
Googling took 8.59199333191 secs, Appending took 0.0178799629211 secs
row 2010/2631
Googling took 9.49948501587 secs, Appending took 0.0158381462097 secs
row 2011/2631
Googling took 7.96227240562 secs, Appending took 0.0195043087006 secs
row 2012/2631
Googling took 8.87486195564 secs, Appending took 0.0173966884613 secs
row 2013/2631
Googling took 8.64041137695 secs, Appending took 0.0159709453583 secs
row 2014/2631
Googling took 7.92486834526 secs, Appending took 0.0167894363403 secs
row 2015/2631
missing items
Googling took 8.27154040337 secs, Appending took 0.0174582004547 secs
row 2016/2631
Googling took 10.6955654621 secs, Appending took 0.0166840553284 secs
row 2017/2631
Googling took 19.325851202 secs, Appending took 0.0161826610565 secs
row 2018/2631
Googling took 14.0831608772 secs, Appending took 0.0151789188385 secs
row 2019/2631
Googling took 9.27194070816 secs, Appending took 0.0127024650574 secs
row 2020/2631
Googling took 9.20649790764 secs, Appending took 0.0148060321808 secs
row 2021/2631
Googling took 8.96962547302 secs, Appending took 0.016037940979 secs
row 2022/2631
Googling took 10.5205495358 secs, Appending took 0.0144007205963 secs
row 2023/2631
missing items
Googling took 8.76378893852 secs, Appending took 0.0180661678314 secs
row 2024/2631
Googling took 9.46177315712 secs, Appending took 0.0157473087311 secs
row 2025/2631
Googling took 7.16891503334 secs, Appending took 0.0233678817749 secs
row 2026/2631
('The read operation timed out',)
Googling took 200.245105743 secs, Appending took 0.0163202285767 secs
row 2027/2631
Googling took 9.13267064095 secs, Appending took 0.0135540962219 secs
row 2028/2631
missing items
missing items
missing items
Googling took 9.01469016075 secs, Appending took 0.027027130127 secs
row 2029/2631
Googling took 8.62571120262 secs, Appending took 0.013605594635 secs
row 2030/2631
missing items
Googling took 7.84132170677 secs, Appending took 0.0159749984741 secs
row 2031/2631
Googling took 8.73173880577 secs, Appending took 0.0144588947296 secs
row 2032/2631
Googling took 9.76716303825 secs, Appending took 0.0164999961853 secs
row 2033/2631
Googling took 7.74676728249 secs, Appending took 0.0146374702454 secs
row 2034/2631
Googling took 7.64814376831 secs, Appending took 0.017587184906 secs
row 2035/2631
missing items
Googling took 9.25402450562 secs, Appending took 0.0157790184021 secs
row 2036/2631
Googling took 7.24925589561 secs, Appending took 0.0181193351746 secs
row 2037/2631
Googling took 7.01973795891 secs, Appending took 0.0175771713257 secs
row 2038/2631
Googling took 11.5459787846 secs, Appending took 0.0151171684265 secs
row 2039/2631
Googling took 8.06748795509 secs, Appending took 0.0174405574799 secs
row 2040/2631
Googling took 7.24016427994 secs, Appending took 0.0178968906403 secs
row 2041/2631
Googling took 9.81489610672 secs, Appending took 0.0160920619965 secs
row 2042/2631
Googling took 11.2183532715 secs, Appending took 0.0129683017731 secs
row 2043/2631
Googling took 9.33816623688 secs, Appending took 0.0155658721924 secs
row 2044/2631
Googling took 9.80538725853 secs, Appending took 0.0159907341003 secs
row 2045/2631
Googling took 9.32007098198 secs, Appending took 0.0164375305176 secs
row 2046/2631
Googling took 8.15993404388 secs, Appending took 0.0151016712189 secs
row 2047/2631
Googling took 8.06609106064 secs, Appending took 0.0119001865387 secs
row 2048/2631
missing items
missing items
missing items
Googling took 7.57866311073 secs, Appending took 0.0158741474152 secs
row 2049/2631
Googling took 8.88203191757 secs, Appending took 0.0164859294891 secs
row 2050/2631
Googling took 8.28800153732 secs, Appending took 0.0163261890411 secs
row 2051/2631
missing items
Googling took 8.56431460381 secs, Appending took 0.0262610912323 secs
row 2052/2631
Googling took 8.00386714935 secs, Appending took 0.0175879001617 secs
row 2053/2631
missing items
Googling took 7.91985011101 secs, Appending took 0.0173993110657 secs
row 2054/2631
missing items
Googling took 8.2497549057 secs, Appending took 0.0154356956482 secs
row 2055/2631
Googling took 9.24156999588 secs, Appending took 0.0137543678284 secs
row 2056/2631
missing items
Googling took 9.19687128067 secs, Appending took 0.0167937278748 secs
row 2057/2631
missing items
missing items
Googling took 7.55020904541 secs, Appending took 0.0179767608643 secs
row 2058/2631
Googling took 8.66009616852 secs, Appending took 0.0166428089142 secs
row 2059/2631
Googling took 6.83872723579 secs, Appending took 0.0160372257233 secs
row 2060/2631
Googling took 6.30210089684 secs, Appending took 0.0204172134399 secs
row 2061/2631
Googling took 8.13302016258 secs, Appending took 0.0161290168762 secs
row 2062/2631
missing items
missing items
Googling took 6.90604639053 secs, Appending took 0.0198605060577 secs
row 2063/2631
Googling took 7.31562685966 secs, Appending took 0.0191826820374 secs
row 2064/2631
Googling took 7.91997623444 secs, Appending took 0.0159480571747 secs
row 2065/2631
missing items
Googling took 6.65606093407 secs, Appending took 0.0169239044189 secs
row 2066/2631
missing items
Googling took 7.53548598289 secs, Appending took 0.0311996936798 secs
row 2067/2631
Googling took 7.47439885139 secs, Appending took 0.0160710811615 secs
row 2068/2631
Googling took 6.83143687248 secs, Appending took 0.0174295902252 secs
row 2069/2631
Googling took 8.82081365585 secs, Appending took 0.0197372436523 secs
row 2070/2631
Googling took 9.87519884109 secs, Appending took 0.0249843597412 secs
row 2071/2631
Googling took 7.76964092255 secs, Appending took 0.0147299766541 secs
row 2072/2631
missing items
Googling took 6.86443138123 secs, Appending took 0.0212178230286 secs
row 2073/2631
Googling took 10.3884541988 secs, Appending took 0.0192546844482 secs
row 2074/2631
Googling took 8.02204680443 secs, Appending took 0.0195298194885 secs
row 2075/2631
Googling took 7.70385026932 secs, Appending took 0.0219841003418 secs
row 2076/2631
missing items
Googling took 8.08186626434 secs, Appending took 0.0256481170654 secs
row 2077/2631
Googling took 6.16310429573 secs, Appending took 0.0388514995575 secs
row 2078/2631
Googling took 6.43464589119 secs, Appending took 0.0208282470703 secs
row 2079/2631
Googling took 8.11298489571 secs, Appending took 0.0210204124451 secs
row 2080/2631
Googling took 7.21803951263 secs, Appending took 0.0353796482086 secs
row 2081/2631
Googling took 7.13207674026 secs, Appending took 0.0169830322266 secs
row 2082/2631
Googling took 6.42195081711 secs, Appending took 0.0247714519501 secs
row 2083/2631
Googling took 7.73567914963 secs, Appending took 0.017546415329 secs
row 2084/2631
Googling took 7.66807484627 secs, Appending took 0.0182173252106 secs
row 2085/2631
Googling took 7.01641201973 secs, Appending took 0.0188970565796 secs
row 2086/2631
Googling took 7.55126595497 secs, Appending took 0.0224590301514 secs
row 2087/2631
Googling took 7.06153178215 secs, Appending took 0.0186460018158 secs
row 2088/2631
Googling took 11.1806461811 secs, Appending took 0.0250477790833 secs
row 2089/2631
Googling took 8.33561873436 secs, Appending took 0.025084733963 secs
row 2090/2631
Googling took 8.6295671463 secs, Appending took 0.0236160755157 secs
row 2091/2631
Googling took 8.40208148956 secs, Appending took 0.0450880527496 secs
row 2092/2631
Googling took 7.56739616394 secs, Appending took 0.0251200199127 secs
row 2093/2631
Googling took 7.05517482758 secs, Appending took 0.0217077732086 secs
row 2094/2631
Googling took 6.77943086624 secs, Appending took 0.0236194133759 secs
row 2095/2631
Googling took 7.1359269619 secs, Appending took 0.0265910625458 secs
row 2096/2631
Googling took 24.4101932049 secs, Appending took 0.0221152305603 secs
row 2097/2631

Googling took 34.8483355045 secs, Appending took 0.0169730186462 secs
row 2098/2631
Googling took 7.47630810738 secs, Appending took 0.0308184623718 secs
row 2099/2631
Googling took 7.61478686333 secs, Appending took 0.0161347389221 secs
row 2100/2631
Googling took 14.3747243881 secs, Appending took 0.0170111656189 secs
row 2101/2631
Googling took 7.12992238998 secs, Appending took 0.0179753303528 secs
row 2102/2631
Googling took 7.15689611435 secs, Appending took 0.0184032917023 secs
row 2103/2631
Googling took 6.49616479874 secs, Appending took 0.0177841186523 secs
row 2104/2631
Googling took 6.80384492874 secs, Appending took 0.0181329250336 secs
row 2105/2631
Googling took 7.49061965942 secs, Appending took 0.0158140659332 secs
row 2106/2631
Googling took 7.83626484871 secs, Appending took 0.0180320739746 secs
row 2107/2631
Googling took 7.24281191826 secs, Appending took 0.0164403915405 secs
row 2108/2631
Googling took 7.18447780609 secs, Appending took 0.0153448581696 secs
row 2109/2631
Googling took 7.43912434578 secs, Appending took 0.0167696475983 secs
row 2110/2631
Googling took 8.1276614666 secs, Appending took 0.0149121284485 secs
row 2111/2631
Googling took 7.58926439285 secs, Appending took 0.0165796279907 secs
row 2112/2631
Googling took 6.90187191963 secs, Appending took 0.0183596611023 secs
row 2113/2631
Googling took 6.76580548286 secs, Appending took 0.0138773918152 secs
row 2114/2631
Googling took 7.36435651779 secs, Appending took 0.0160789489746 secs
row 2115/2631
Googling took 8.63247513771 secs, Appending took 0.0152270793915 secs
row 2116/2631
Googling took 12.6595892906 secs, Appending took 0.0168199539185 secs
row 2117/2631
Googling took 7.9933052063 secs, Appending took 0.0155439376831 secs
row 2118/2631
Googling took 7.67599630356 secs, Appending took 0.0171029567719 secs
row 2119/2631
Googling took 8.59928750992 secs, Appending took 0.0163991451263 secs
row 2120/2631
Googling took 7.82652187347 secs, Appending took 0.0196030139923 secs
row 2121/2631
Googling took 6.9513463974 secs, Appending took 0.0188736915588 secs
row 2122/2631
Googling took 8.10108780861 secs, Appending took 0.0155467987061 secs
row 2123/2631
Googling took 8.21700930595 secs, Appending took 0.02033162117 secs
row 2124/2631
Googling took 7.73351430893 secs, Appending took 0.0173380374908 secs
row 2125/2631
Googling took 6.73762178421 secs, Appending took 0.0186417102814 secs
row 2126/2631
Googling took 7.72644329071 secs, Appending took 0.0195863246918 secs
row 2127/2631
Googling took 7.43568873405 secs, Appending took 0.0181732177734 secs
row 2128/2631
Googling took 7.24976730347 secs, Appending took 0.0179042816162 secs
row 2129/2631
Googling took 8.11737680435 secs, Appending took 0.0263161659241 secs
row 2130/2631
Googling took 7.49565696716 secs, Appending took 0.0229141712189 secs
row 2131/2631
Googling took 8.62706542015 secs, Appending took 0.0158998966217 secs
row 2132/2631
Googling took 6.52367305756 secs, Appending took 0.0268766880035 secs
row 2133/2631
missing items
missing items
Googling took 8.45264601707 secs, Appending took 0.078919172287 secs
row 2134/2631
Googling took 7.12714004517 secs, Appending took 0.0190043449402 secs
row 2135/2631
Googling took 7.17332410812 secs, Appending took 0.0195062160492 secs
row 2136/2631
Googling took 8.25705933571 secs, Appending took 0.016125202179 secs
row 2137/2631
Googling took 7.67479300499 secs, Appending took 0.023232460022 secs
row 2138/2631
Googling took 7.82916212082 secs, Appending took 0.0232815742493 secs
row 2139/2631
Googling took 7.77884602547 secs, Appending took 0.0186536312103 secs
row 2140/2631
Googling took 6.97926020622 secs, Appending took 0.0227439403534 secs
row 2141/2631
Googling took 7.51784849167 secs, Appending took 0.0211653709412 secs
row 2142/2631
Googling took 7.13999915123 secs, Appending took 0.0202198028564 secs
row 2143/2631
Googling took 6.92336916924 secs, Appending took 0.01637840271 secs
row 2144/2631
Googling took 8.1005988121 secs, Appending took 0.0152838230133 secs
row 2145/2631
Googling took 7.85671329498 secs, Appending took 0.0232131481171 secs
row 2146/2631
Googling took 7.04130625725 secs, Appending took 0.0292983055115 secs
row 2147/2631
Googling took 7.45213484764 secs, Appending took 0.0243611335754 secs
row 2148/2631
Googling took 11.6356379986 secs, Appending took 0.0188262462616 secs
row 2149/2631
Googling took 9.62396025658 secs, Appending took 0.0176951885223 secs
row 2150/2631
Googling took 7.62139105797 secs, Appending took 0.0169389247894 secs
row 2151/2631
Googling took 7.713367939 secs, Appending took 0.0149388313293 secs
row 2152/2631
Googling took 7.20909500122 secs, Appending took 0.0265023708344 secs
row 2153/2631
Googling took 6.69700407982 secs, Appending took 0.0154891014099 secs
row 2154/2631
Googling took 7.07416462898 secs, Appending took 0.0165228843689 secs
row 2155/2631
Googling took 7.36030483246 secs, Appending took 0.0208539962769 secs
row 2156/2631
missing items
missing items
missing items
missing items
Googling took 6.24960184097 secs, Appending took 0.028285741806 secs
row 2157/2631
Googling took 7.88691115379 secs, Appending took 0.0178911685944 secs
row 2158/2631
Googling took 6.0156481266 secs, Appending took 0.0241034030914 secs
row 2159/2631
Googling took 7.62939119339 secs, Appending took 0.0161633491516 secs
row 2160/2631
Googling took 6.38645386696 secs, Appending took 0.0183410644531 secs
row 2161/2631
Googling took 7.94368624687 secs, Appending took 0.0150108337402 secs
row 2162/2631
Googling took 8.45328879356 secs, Appending took 0.01753282547 secs
row 2163/2631
Googling took 7.90325307846 secs, Appending took 0.0177683830261 secs
row 2164/2631
Googling took 6.84829187393 secs, Appending took 0.0157148838043 secs
row 2165/2631
Googling took 7.95877671242 secs, Appending took 0.0169107913971 secs
row 2166/2631
missing items
missing items
Googling took 6.52374386787 secs, Appending took 0.0339303016663 secs
row 2167/2631
Googling took 6.39857172966 secs, Appending took 0.0144255161285 secs
row 2168/2631
Googling took 9.32324886322 secs, Appending took 0.0172533988953 secs
row 2169/2631
missing items
Googling took 8.11067175865 secs, Appending took 0.0344393253326 secs
row 2170/2631
Googling took 7.75433063507 secs, Appending took 0.0206513404846 secs
row 2171/2631
Googling took 8.18647122383 secs, Appending took 0.020664691925 secs
row 2172/2631
missing items
missing items
Googling took 6.70509433746 secs, Appending took 0.0258238315582 secs
row 2173/2631
missing items
Googling took 6.72258353233 secs, Appending took 0.0169911384583 secs
row 2174/2631
Googling took 7.95339179039 secs, Appending took 0.0218458175659 secs
row 2175/2631
Googling took 7.33948898315 secs, Appending took 0.0231649875641 secs
row 2176/2631
Googling took 6.59887766838 secs, Appending took 0.0182254314423 secs
row 2177/2631
Googling took 7.21496796608 secs, Appending took 0.0247058868408 secs
row 2178/2631
Googling took 7.10144639015 secs, Appending took 0.0158123970032 secs
row 2179/2631
Googling took 7.39870691299 secs, Appending took 0.0190205574036 secs
row 2180/2631
Googling took 7.05212283134 secs, Appending took 0.0181646347046 secs
row 2181/2631
Googling took 7.72083616257 secs, Appending took 0.0204606056213 secs
row 2182/2631
Googling took 21.4664669037 secs, Appending took 0.0188581943512 secs
row 2183/2631
Googling took 6.83262705803 secs, Appending took 0.015184879303 secs
row 2184/2631
Googling took 8.11086750031 secs, Appending took 0.0192997455597 secs
row 2185/2631
missing items
missing items
Googling took 6.86114692688 secs, Appending took 0.0219755172729 secs
row 2186/2631
Googling took 8.09369087219 secs, Appending took 0.017138004303 secs
row 2187/2631
Googling took 7.65627026558 secs, Appending took 0.0214710235596 secs
row 2188/2631
Googling took 7.88776612282 secs, Appending took 0.01811003685 secs
row 2189/2631
Googling took 8.10785484314 secs, Appending took 0.0179557800293 secs
row 2190/2631
Googling took 8.01492929459 secs, Appending took 0.0171790122986 secs
row 2191/2631
Googling took 8.31826734543 secs, Appending took 0.0249090194702 secs
row 2192/2631
Googling took 8.10666108131 secs, Appending took 0.0234994888306 secs
row 2193/2631

missing items
missing items
Googling took 7.90414619446 secs, Appending took 0.0471694469452 secs
row 2194/2631
Googling took 9.3327767849 secs, Appending took 0.0205166339874 secs
row 2195/2631
Googling took 9.5752427578 secs, Appending took 0.0215015411377 secs
row 2196/2631
Googling took 8.1391017437 secs, Appending took 0.0204110145569 secs
row 2197/2631
missing items
Googling took 11.9490156174 secs, Appending took 0.0234429836273 secs
row 2198/2631
missing items
missing items
Googling took 6.84042716026 secs, Appending took 0.0472037792206 secs
row 2199/2631
Googling took 7.93211364746 secs, Appending took 0.0243208408356 secs
row 2200/2631
Googling took 7.89482140541 secs, Appending took 0.016544342041 secs
row 2201/2631
Googling took 8.60752010345 secs, Appending took 0.0212867259979 secs
row 2202/2631
Googling took 7.82680535316 secs, Appending took 0.0244965553284 secs
row 2203/2631
Googling took 8.24548721313 secs, Appending took 0.0256717205048 secs
row 2204/2631
Googling took 9.74877810478 secs, Appending took 0.0315172672272 secs
row 2205/2631
Googling took 8.41362380981 secs, Appending took 0.0276567935944 secs
row 2206/2631
Googling took 11.1121952534 secs, Appending took 0.0217142105103 secs
row 2207/2631
Googling took 7.75957393646 secs, Appending took 0.0209195613861 secs
row 2208/2631
Googling took 11.312073946 secs, Appending took 0.0266849994659 secs
row 2209/2631
Googling took 10.5394020081 secs, Appending took 0.0225069522858 secs
row 2210/2631
Googling took 8.74967932701 secs, Appending took 0.0191423892975 secs
row 2211/2631
Googling took 14.0963032246 secs, Appending took 0.0190999507904 secs
row 2212/2631
Googling took 7.52605867386 secs, Appending took 0.021288394928 secs
row 2213/2631
Googling took 7.53388381004 secs, Appending took 0.0235283374786 secs
row 2214/2631
Googling took 7.42419266701 secs, Appending took 0.0359952449799 secs
row 2215/2631
missing items
Googling took 7.32505679131 secs, Appending took 0.0190060138702 secs
row 2216/2631
missing items
Googling took 7.25216913223 secs, Appending took 0.0199639797211 secs
row 2217/2631
Googling took 8.27203965187 secs, Appending took 0.0242023468018 secs
row 2218/2631
Googling took 7.64118146896 secs, Appending took 0.0189559459686 secs
row 2219/2631
Googling took 7.34162998199 secs, Appending took 0.0203144550323 secs
row 2220/2631
Googling took 8.34583187103 secs, Appending took 0.0162765979767 secs
row 2221/2631
missing items
missing items
missing items
Googling took 6.25168323517 secs, Appending took 0.0311110019684 secs
row 2222/2631
Googling took 7.31345391273 secs, Appending took 0.0161347389221 secs
row 2223/2631
missing items
missing items
Googling took 8.17498517036 secs, Appending took 0.0275752544403 secs
row 2224/2631
Googling took 7.7735953331 secs, Appending took 0.0183660984039 secs
row 2225/2631
Googling took 7.31271862984 secs, Appending took 0.0224854946136 secs
row 2226/2631
Googling took 7.94008111954 secs, Appending took 0.0158877372742 secs
row 2227/2631
Googling took 7.86889362335 secs, Appending took 0.023138999939 secs
row 2228/2631
missing items
Googling took 9.14404201508 secs, Appending took 0.0175311565399 secs
row 2229/2631
Googling took 7.42774677277 secs, Appending took 0.0184457302094 secs
row 2230/2631
Googling took 7.96883797646 secs, Appending took 0.0225348472595 secs
row 2231/2631
Googling took 8.43912291527 secs, Appending took 0.016003370285 secs
row 2232/2631
Googling took 8.27351498604 secs, Appending took 0.017879486084 secs
row 2233/2631
Googling took 7.4351773262 secs, Appending took 0.0187990665436 secs
row 2234/2631
Googling took 7.07404708862 secs, Appending took 0.0162289142609 secs
row 2235/2631
Googling took 7.54297709465 secs, Appending took 0.0147967338562 secs
row 2236/2631
Googling took 9.29965281487 secs, Appending took 0.0233187675476 secs
row 2237/2631
Googling took 7.4041697979 secs, Appending took 0.0245578289032 secs
row 2238/2631
Googling took 7.13086438179 secs, Appending took 0.0168838500977 secs
row 2239/2631
Googling took 7.14507460594 secs, Appending took 0.019811630249 secs
row 2240/2631
Googling took 7.37392187119 secs, Appending took 0.0153694152832 secs
row 2241/2631
Googling took 7.87774968147 secs, Appending took 0.0161719322205 secs
row 2242/2631
missing items
Googling took 7.15907025337 secs, Appending took 0.0180206298828 secs
row 2243/2631
Googling took 9.09096598625 secs, Appending took 0.0290718078613 secs
row 2244/2631
Googling took 7.60421729088 secs, Appending took 0.0211324691772 secs
row 2245/2631
Googling took 7.09089970589 secs, Appending took 0.0237205028534 secs
row 2246/2631
Googling took 7.39211916924 secs, Appending took 0.0192739963531 secs
row 2247/2631
Googling took 6.68241524696 secs, Appending took 0.0172579288483 secs
row 2248/2631
Googling took 14.1028590202 secs, Appending took 0.0205159187317 secs
row 2249/2631
missing items
Googling took 12.3946053982 secs, Appending took 0.019672870636 secs
row 2250/2631
Googling took 12.159361124 secs, Appending took 0.0166325569153 secs
row 2251/2631
Googling took 7.4713511467 secs, Appending took 0.0167560577393 secs
row 2252/2631
Googling took 7.59891223907 secs, Appending took 0.0172369480133 secs
row 2253/2631
Googling took 7.37422418594 secs, Appending took 0.0172905921936 secs
row 2254/2631
Googling took 11.7232096195 secs, Appending took 0.0185446739197 secs
row 2255/2631
missing items
missing items
Googling took 11.6896021366 secs, Appending took 0.0211579799652 secs
row 2256/2631
Googling took 13.702205658 secs, Appending took 0.0266072750092 secs
row 2257/2631
Googling took 14.6051568985 secs, Appending took 0.0207450389862 secs
row 2258/2631
Googling took 10.307488203 secs, Appending took 0.0210978984833 secs
row 2259/2631
Googling took 9.05023121834 secs, Appending took 0.0211691856384 secs
row 2260/2631
Googling took 11.9020137787 secs, Appending took 0.0258529186249 secs
row 2261/2631
Googling took 9.5788128376 secs, Appending took 0.018857717514 secs
row 2262/2631
Googling took 7.44583296776 secs, Appending took 0.0171899795532 secs
row 2263/2631
Googling took 7.89970564842 secs, Appending took 0.0165581703186 secs
row 2264/2631
missing items
missing items
Googling took 6.41877818108 secs, Appending took 0.0365991592407 secs
row 2265/2631
missing items
Googling took 8.37950754166 secs, Appending took 0.0176556110382 secs
row 2266/2631
Googling took 8.56607413292 secs, Appending took 0.020735502243 secs
row 2267/2631
Googling took 8.01708984375 secs, Appending took 0.0265448093414 secs
row 2268/2631
Googling took 8.90846514702 secs, Appending took 0.0263140201569 secs
row 2269/2631
Googling took 8.52202701569 secs, Appending took 0.0212843418121 secs
row 2270/2631
Googling took 8.93510103226 secs, Appending took 0.0164461135864 secs
row 2271/2631
Googling took 6.7677257061 secs, Appending took 0.0232532024384 secs
row 2272/2631
Googling took 7.85896158218 secs, Appending took 0.0232293605804 secs
row 2273/2631
Googling took 8.07840871811 secs, Appending took 0.0288915634155 secs
row 2274/2631
missing items
Googling took 6.44030618668 secs, Appending took 0.0204639434814 secs
row 2275/2631
missing items
Googling took 6.38608312607 secs, Appending took 0.0294542312622 secs
row 2276/2631
missing items
missing items
missing items
Googling took 7.14281868935 secs, Appending took 0.023021697998 secs
row 2277/2631
Googling took 7.82509875298 secs, Appending took 0.0171558856964 secs
row 2278/2631
Googling took 7.75498843193 secs, Appending took 0.0194218158722 secs
row 2279/2631
missing items
Googling took 6.41512775421 secs, Appending took 0.0197594165802 secs
row 2280/2631
missing items
Googling took 9.779337883 secs, Appending took 0.0244162082672 secs
row 2281/2631
Googling took 7.10347652435 secs, Appending took 0.0244045257568 secs
row 2282/2631
Googling took 8.35257577896 secs, Appending took 0.0172758102417 secs
row 2283/2631
Googling took 9.56061291695 secs, Appending took 0.0182237625122 secs
row 2284/2631
Googling took 15.9537498951 secs, Appending took 0.0181839466095 secs
row 2285/2631
Googling took 14.6671102047 secs, Appending took 0.0164110660553 secs
row 2286/2631
missing items
Googling took 10.3935234547 secs, Appending took 0.0221998691559 secs
row 2287/2631

Googling took 8.11858248711 secs, Appending took 0.0160093307495 secs
row 2288/2631
Googling took 7.8698515892 secs, Appending took 0.0187332630157 secs
row 2289/2631
missing items
Googling took 6.44360232353 secs, Appending took 0.0196135044098 secs
row 2290/2631
Googling took 6.44458842278 secs, Appending took 0.0229089260101 secs
row 2291/2631
Googling took 6.93836903572 secs, Appending took 0.0241959095001 secs
row 2292/2631
missing items
missing items
Googling took 6.41623687744 secs, Appending took 0.0210950374603 secs
row 2293/2631
Googling took 6.33835506439 secs, Appending took 0.0180225372314 secs
row 2294/2631
Googling took 16.7050004005 secs, Appending took 0.0167369842529 secs
row 2295/2631
Googling took 7.58621406555 secs, Appending took 0.0206937789917 secs
row 2296/2631
missing items
Googling took 7.13840556145 secs, Appending took 0.0215096473694 secs
row 2297/2631
Googling took 9.83861756325 secs, Appending took 0.0145878791809 secs
row 2298/2631
Googling took 15.2309162617 secs, Appending took 0.0176410675049 secs
row 2299/2631
Googling took 15.6638791561 secs, Appending took 0.0187129974365 secs
row 2300/2631
Googling took 10.4931204319 secs, Appending took 0.0175044536591 secs
row 2301/2631
Googling took 7.46171808243 secs, Appending took 0.0193622112274 secs
row 2302/2631
Googling took 10.5540049076 secs, Appending took 0.0209617614746 secs
row 2303/2631
missing items
missing items
missing items
missing items
Googling took 8.34131145477 secs, Appending took 0.0381090641022 secs
row 2304/2631
Googling took 8.87558293343 secs, Appending took 0.0179257392883 secs
row 2305/2631
Googling took 6.63910937309 secs, Appending took 0.0261313915253 secs
row 2306/2631
skipping row 2307
skipping row 2308
skipping row 2309
skipping row 2310
skipping row 2311
skipping row 2312
skipping row 2313
skipping row 2314
skipping row 2315
skipping row 2316
skipping row 2317
skipping row 2318
skipping row 2319
skipping row 2320
skipping row 2321
skipping row 2322
skipping row 2323
skipping row 2324
skipping row 2325
skipping row 2326
skipping row 2327
skipping row 2328
skipping row 2329
skipping row 2330
skipping row 2331
skipping row 2332
skipping row 2333
skipping row 2334
skipping row 2335
skipping row 2336
skipping row 2337
skipping row 2338
skipping row 2339
skipping row 2340
skipping row 2341
skipping row 2342
skipping row 2343
skipping row 2344
skipping row 2345
skipping row 2346
skipping row 2347
skipping row 2348
skipping row 2349
skipping row 2350
skipping row 2351
skipping row 2352
skipping row 2353
skipping row 2354
skipping row 2355
skipping row 2356
skipping row 2357
skipping row 2358
skipping row 2359
skipping row 2360
skipping row 2361
skipping row 2362
skipping row 2363
skipping row 2364
skipping row 2365
skipping row 2366
skipping row 2367
skipping row 2368
skipping row 2369
skipping row 2370
skipping row 2371
skipping row 2372
skipping row 2373
skipping row 2374
skipping row 2375
skipping row 2376
skipping row 2377
skipping row 2378
skipping row 2379
skipping row 2380
skipping row 2381
skipping row 2382
skipping row 2383
skipping row 2384
skipping row 2385
skipping row 2386
skipping row 2387
skipping row 2388
skipping row 2389
skipping row 2390
skipping row 2391
skipping row 2392
skipping row 2393
skipping row 2394
skipping row 2395
skipping row 2396
skipping row 2397
skipping row 2398
skipping row 2399
skipping row 2400
skipping row 2401
skipping row 2402
skipping row 2403
skipping row 2404
skipping row 2405
skipping row 2406
skipping row 2407
skipping row 2408
skipping row 2409
skipping row 2410
skipping row 2411
skipping row 2412
skipping row 2413
skipping row 2414
skipping row 2415
skipping row 2416
skipping row 2417
skipping row 2418
skipping row 2419
skipping row 2420
skipping row 2421
skipping row 2422
skipping row 2423
skipping row 2424
skipping row 2425
skipping row 2426
skipping row 2427
skipping row 2428
skipping row 2429
skipping row 2430
skipping row 2431
skipping row 2432
skipping row 2433
skipping row 2434
skipping row 2435
skipping row 2436
skipping row 2437
skipping row 2438
skipping row 2439
skipping row 2440
skipping row 2441
skipping row 2442
skipping row 2443
skipping row 2444
skipping row 2445
skipping row 2446
skipping row 2447
skipping row 2448
skipping row 2449
skipping row 2450
skipping row 2451
skipping row 2452
skipping row 2453
skipping row 2454
skipping row 2455
skipping row 2456
skipping row 2457
skipping row 2458
skipping row 2459
skipping row 2460
skipping row 2461
skipping row 2462
skipping row 2463
skipping row 2464
skipping row 2465
skipping row 2466
skipping row 2467
skipping row 2468
skipping row 2469
skipping row 2470
skipping row 2471
skipping row 2472
skipping row 2473
skipping row 2474
skipping row 2475
skipping row 2476
skipping row 2477
skipping row 2478
skipping row 2479
skipping row 2480
skipping row 2481
skipping row 2482
skipping row 2483
skipping row 2484
skipping row 2485
skipping row 2486
skipping row 2487
skipping row 2488
skipping row 2489
skipping row 2490
skipping row 2491
skipping row 2492
skipping row 2493
skipping row 2494
skipping row 2495
skipping row 2496
skipping row 2497
skipping row 2498
skipping row 2499
skipping row 2500
skipping row 2501
skipping row 2502
skipping row 2503
skipping row 2504
skipping row 2505
skipping row 2506
skipping row 2507
skipping row 2508
skipping row 2509
skipping row 2510
skipping row 2511
skipping row 2512
skipping row 2513
skipping row 2514
skipping row 2515
skipping row 2516
skipping row 2517
skipping row 2518
skipping row 2519
skipping row 2520
skipping row 2521
skipping row 2522
skipping row 2523
skipping row 2524
skipping row 2525
skipping row 2526
skipping row 2527
skipping row 2528
skipping row 2529
skipping row 2530
skipping row 2531
skipping row 2532
skipping row 2533
skipping row 2534
skipping row 2535
skipping row 2536
skipping row 2537
skipping row 2538
skipping row 2539
skipping row 2540
skipping row 2541
skipping row 2542
skipping row 2543
skipping row 2544
skipping row 2545
skipping row 2546
skipping row 2547
skipping row 2548
skipping row 2549
skipping row 2550
skipping row 2551
skipping row 2552
skipping row 2553
skipping row 2554
skipping row 2555
skipping row 2556
skipping row 2557
skipping row 2558
skipping row 2559
skipping row 2560
skipping row 2561
skipping row 2562
skipping row 2563
skipping row 2564
skipping row 2565
skipping row 2566
skipping row 2567
skipping row 2568
skipping row 2569
skipping row 2570
skipping row 2571
skipping row 2572
skipping row 2573
skipping row 2574
skipping row 2575
skipping row 2576
skipping row 2577
skipping row 2578
skipping row 2579
skipping row 2580
skipping row 2581
skipping row 2582
skipping row 2583
skipping row 2584
skipping row 2585
skipping row 2586
skipping row 2587
skipping row 2588
skipping row 2589
skipping row 2590
skipping row 2591
skipping row 2592
skipping row 2593
skipping row 2594
skipping row 2595
skipping row 2596
skipping row 2597
skipping row 2598
skipping row 2599
skipping row 2600
skipping row 2601
skipping row 2602
skipping row 2603
skipping row 2604
skipping row 2605
skipping row 2606
skipping row 2607
skipping row 2608
skipping row 2609
skipping row 2610
skipping row 2611
skipping row 2612
skipping row 2613
skipping row 2614
skipping row 2615
skipping row 2616
skipping row 2617
skipping row 2618
skipping row 2619
skipping row 2620
skipping row 2621
skipping row 2622
skipping row 2623
skipping row 2624
skipping row 2625
skipping row 2626
skipping row 2627
skipping row 2628
skipping row 2629
skipping row 2630

0       None
1       None
2       None
3       None
4       None
5       None
6       None
7       None
8       None
9       None
10      None
11      None
12      None
13      None
14      None
15      None
16      None
17      None
18      None
19      None
20      None
21      None
22      None
23      None
24      None
25      None
26      None
27      None
28      None
29      None
        ...
2601    None
2602    None
2603    None
2604    None
2605    None
2606    None
2607    None
2608    None
2609    None
2610    None
2611    None
2612    None
2613    None
2614    None
2615    None
2616    None
2617    None
2618    None
2619    None
2620    None
2621    None
2622    None
2623    None
2624    None
2625    None
2626    None
2627    None
2628    None
2629    None
2630    None
Length: 2631, dtype: object

In [121]:
len(frames)

13198

In [122]:
temp = pd.concat(frames)
temp.to_csv('search_df_remaining.csv')

In [123]:
search_df_remaining = pd.read_csv('search_df_remaining.csv')
search_df_remaining.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13198 entries, 0 to 13197
Data columns (total 5 columns):
Unnamed: 0    13198 non-null int64
id            13198 non-null int64
query         13198 non-null object
numResults    13198 non-null int64
searchText    12951 non-null object
dtypes: int64(3), object(2)
memory usage: 515.6+ KB

In [127]:
#search_df = pd.read_csv('search_df_final.csv')
search_df.info()
len(search_df['id'].unique())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16148 entries, 0 to 16147
Data columns (total 5 columns):
Unnamed: 0    16148 non-null int64
id            16148 non-null int64
numResults    16148 non-null int64
query         16148 non-null object
searchText    15974 non-null object
dtypes: int64(3), object(2)
memory usage: 630.9+ KB

1616

In [125]:
len(search_df_remaining['id'].unique())

1018

In [128]:
search_df_final = pd.concat([search_df, search_df_remaining])
search_df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29346 entries, 0 to 13197
Data columns (total 5 columns):
Unnamed: 0    29346 non-null int64
id            29346 non-null int64
numResults    29346 non-null int64
query         29346 non-null object
searchText    28925 non-null object
dtypes: int64(3), object(2)
memory usage: 1.3+ MB

In [129]:
len(search_df_final['id'].unique())

2631

In [133]:
test = search_df_final.drop_duplicates(subset=['id', 'query'])
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26310 entries, 0 to 13197
Data columns (total 5 columns):
Unnamed: 0    26310 non-null int64
id            26310 non-null int64
numResults    26310 non-null int64
query         26310 non-null object
searchText    25932 non-null object
dtypes: int64(3), object(2)
memory usage: 1.2+ MB

In [134]:
test = test.fillna(value={'searchText':''})
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26310 entries, 0 to 13197
Data columns (total 5 columns):
Unnamed: 0    26310 non-null int64
id            26310 non-null int64
numResults    26310 non-null int64
query         26310 non-null object
searchText    26310 non-null object
dtypes: int64(3), object(2)
memory usage: 1.2+ MB

In [135]:
search_df_final = test
search_df_final.to_csv('search_df_expanded.csv')

In [38]:
# search_df2 = pd.read_csv('search_df2.csv')
# temp = pd.concat(frames)
# search_df2 = pd.concat([search_df2,temp])
search_df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12567 entries, 0 to 0
Data columns (total 6 columns):
Unnamed: 0      9293 non-null float64
Unnamed: 0.1    7667 non-null float64
id              12567 non-null int64
numResults      12567 non-null int64
query           12567 non-null object
searchText      12485 non-null object
dtypes: float64(2), int64(2), object(2)
memory usage: 687.3+ KB

In [55]:
max(df2['id']), min(df2['id'])

(1012879539649830912, 959517884375592965)

In [7]:
df = pd.read_csv('search_df.csv')
df2 = pd.read_csv('search_df2.csv')

In [8]:
print max(df['id']), min(df['id'])
print max(df2['id']), min(df2['id'])

1018935960199991301 1010238500648693760
1012879539649830912 959517884375592965

In [11]:
df3 = pd.concat([df, df2])

In [13]:
print df3.head()
print df3.info()

   Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1                   id  numResults  \
0           0           NaN             NaN  1018935960199991301      844000
1           0           NaN             NaN  1018935960199991301      446000
2           0           NaN             NaN  1018935960199991301       80300
3           0           NaN             NaN  1018935960199991301    24600000
4           0           NaN             NaN  1018935960199991301      238000

                                               query  \
0  Which member of the royal family did NOT atten...
1  Which member of the royal family did NOT atten...
2  Which member of the royal family did NOT atten...
3                                     Prince Charles
4  Which member of the royal family did NOT atten...

                                          searchText
0  queen elizabeth   prince philip don t attend p...
1  queen elizabeth   prince philip don t attend p...
2  queen elizabeth   prince philip don t attend p...
3  charles  prince of wales   wikipedia charles  ...
4  queen elizabeth   prince philip don t attend p...
<class 'pandas.core.frame.DataFrame'>
Int64Index: 19909 entries, 0 to 12566
Data columns (total 7 columns):
Unnamed: 0        19909 non-null int64
Unnamed: 0.1      9293 non-null float64
Unnamed: 0.1.1    7667 non-null float64
id                19909 non-null int64
numResults        19909 non-null int64
query             19909 non-null object
searchText        19733 non-null object
dtypes: float64(2), int64(3), object(2)
memory usage: 1.2+ MB
None

In [16]:
df3.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1'], axis=1, inplace=True)

In [38]:
df4 = df3.drop_duplicates(subset =['id', 'query'])

In [39]:
len(df4[df4['id'] == 1012879539649830912])

10

In [40]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16148 entries, 0 to 12566
Data columns (total 4 columns):
id            16148 non-null int64
numResults    16148 non-null int64
query         16148 non-null object
searchText    15974 non-null object
dtypes: int64(2), object(2)
memory usage: 630.8+ KB

In [44]:
df4[pd.isna(df4['searchText'])]

,id,numResults,query,searchText
5787,1012864624205721600,0,Sunglasses with UV protection help keep you sa...,NaN
7259,1010328633372798977,0,Which of these shows was NOT a spinoff of “Hap...,NaN
978,1010238169168654336,0,Which was a brand name for 20th-century coin-o...,NaN
1182,1009876128910241793,0,Which pricing game on “The Price is Right” is ...,NaN
1185,1009876128910241793,0,Which pricing game on “The Price is Right” is ...,NaN
1188,1009876128910241793,0,Which pricing game on “The Price is Right” is ...,NaN
1302,1009604446991605761,0,What was the name of the blog Meghan Markle ra...,NaN
1682,1009149823101042689,0,"According to the saying, “you can’t teach an o...",NaN
1738,1008894365354352640,0,When can a baseball inning be called “immacula...,NaN
1755,1008893775987576832,0,Which of these is the name of a real MLB masco...,NaN
1758,1008893775987576832,0,Which of these is the name of a real MLB masco...,NaN
2212,1007792582246719488,0,What US state capitals are separated by the Bi...,NaN
2218,1007792582246719488,0,What US state capitals are separated by the Bi...,NaN
2245,1007792007752880128,0,The cartoon aardvark Arthur lives in what fict...,NaN
2247,1007792007752880128,0,The cartoon aardvark Arthur lives in what fict...,NaN
2248,1007792007752880128,0,The cartoon aardvark Arthur lives in what fict...,NaN
2902,1003805821741002758,0,What brand was massive in the 1980s for sellin...,NaN
2908,1003805821741002758,0,What brand was massive in the 1980s for sellin...,NaN
2925,1003805107253850117,0,Which of these is the name of a popular card g...,NaN
2935,1003804991646261248,0,The massive game franchise that features “pock...,NaN
2938,1003804991646261248,0,The massive game franchise that features “pock...,NaN
3072,1003444611594022917,0,The country whose capital is Canberra was prev...,NaN
3135,1003443390665682945,0,A famous World War II-era British poster advis...,NaN
3155,1003443042714570753,0,A rotating sphere with lots of tiny mirrors at...,NaN
3158,1003443042714570753,0,A rotating sphere with lots of tiny mirrors at...,NaN
3168,1003442759162875905,0,Which of these is commonly said after someone ...,NaN
3692,1001994612523880448,0,The nursery rhyme “As I Was Going to St. Ives”...,NaN
3734,1001993904282009600,0,What satirical measurement is described as “th...,NaN
3735,1001993904282009600,0,What satirical measurement is described as “th...,NaN
3737,1001993904282009600,0,What satirical measurement is described as “th...,NaN
...,...,...,...,...
11725,961692249326223362,0,The Olympic logo features what combination of ...,NaN
11729,961692083148001280,0,Which of these is the name of a princess in Di...,NaN
11739,961422963777134592,0,"Before the lyrics are sung, how many finger sn...",NaN
11742,961422963777134592,0,"Before the lyrics are sung, how many finger sn...",NaN
11745,961422963777134592,0,"Before the lyrics are sung, how many finger sn...",NaN
11818,961420411064987649,0,“Fro-yo” is short for what? Frolicking yokels,NaN
11819,961420411064987649,0,"“Fro-yo” is short for what? ""Frolicking yokels""",NaN
11825,961420411064987649,0,"“Fro-yo” is short for what? ""Frog yoga""",NaN
11832,961332503041789953,0,Which of these things can be mathematically de...,NaN
12012,961058610682978304,0,A bed that folds up into the wall is commonly ...,NaN
12019,961058426142052353,0,Pantene Pro-V and Garnier Fructis are popular ...,NaN
12029,961058251755458562,0,"In the classic fairy tale, who is Little Red R...",NaN
12044,960968167844663302,0,The band that recorded “September” is named “E...,NaN
12045,960968167844663302,0,The band that recorded “September” is named “E...,NaN
12055,960967491836108802,0,"What is a common remedy for dehydration? ""Slay...",NaN
12115,960697571806187520,0,U.S. air traffic controllers refer to the plan...,NaN
12135,960696206556057600,0,"In 2017, what did Twitter do to its 140-charac...",NaN
12149,960695838732357633,0,A spork is a utensil that combines what two th...,NaN
12152,960695838732357633,0,A spork is a utensil that combines what two th...,NaN
12225,960605814099709957,0,A high-tech store with no cashiers recently op...,NaN
12232,960605643311894528,0,Which of these is an actual Winter Olympics ev...,NaN
12253,960605251396145152,0,+ / -,NaN
12312,959972036121710592,0,Which food is traditionally a main ingredient ...,NaN
12409,959609816443506690,0,What is the correct spelling of the Pennsylvan...,NaN
12411,959609816443506690,0,What is the correct spelling of the Pennsylvan...,NaN
12412,959609816443506690,0,What is the correct spelling of the Pennsylvan...,NaN
12413,959609816443506690,0,Puncksehtany,NaN
12452,959608957282242560,0,Parmesan cheese is named for an Italian provin...,NaN
12522,959518751677960197,0,"In the game of Candy Land, which player goes f...",NaN
12525,959518751677960197,0,"In the game of Candy Land, which player goes f...",NaN

In [45]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16148 entries, 0 to 12566
Data columns (total 4 columns):
id            16148 non-null int64
numResults    16148 non-null int64
query         16148 non-null object
searchText    15974 non-null object
dtypes: int64(2), object(2)
memory usage: 630.8+ KB

In [10]:
search_df = search_df.fillna(value={'searchText':''})
search_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16147
Data columns (total 5 columns):
Unnamed: 0    16130 non-null int64
id            16130 non-null int64
numResults    16130 non-null int64
query         16130 non-null object
searchText    16130 non-null object
dtypes: int64(3), object(2)
memory usage: 756.1+ KB

In [49]:
df4.to_csv('search_df_final.csv')

Features:
* Appearances on pure question search
* numResults on question-answer search OVER numResults on answer-only search
* Cosine similarity for NOT questions (doc2vec stuff?)

In [50]:
df4.head()

,id,numResults,query,searchText
0,1018935960199991301,844000,Which member of the royal family did NOT atten...,queen elizabeth prince philip don t attend p...
1,1018935960199991301,446000,Which member of the royal family did NOT atten...,queen elizabeth prince philip don t attend p...
2,1018935960199991301,80300,Which member of the royal family did NOT atten...,queen elizabeth prince philip don t attend p...
3,1018935960199991301,24600000,Prince Charles,charles prince of wales wikipedia charles ...
4,1018935960199991301,238000,Which member of the royal family did NOT atten...,queen elizabeth prince philip don t attend p...

In [55]:
type(df4['id'].unique())

numpy.ndarray

In [7]:
for idnum in search_df['id'].unique():
    num = len(search_df[search_df['id'] == idnum])
    if num != 10:
        search_df = search_df[search_df['id'] != idnum]
        print num

3
9
6

In [59]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 12566
Data columns (total 4 columns):
id            16130 non-null int64
numResults    16130 non-null int64
query         16130 non-null object
searchText    16130 non-null object
dtypes: int64(2), object(2)
memory usage: 630.1+ KB

In [63]:
len(df4['id'].unique())

1613

In [68]:
id_list = df4['id'].unique()
search_df = df4

In [81]:
def check_in_search_df(row):
    print row['id']
    return row['id'] in id_list
df_small = df[df.apply(lambda row: check_in_search_df(row), axis=1)]

1019753041464119296
1019752695077404673
1019752397919449089
1019752059174780929
1019751848176218113
1019751692190076928
1019751545943068672
1019751324827766784
1019751162344542208
1019750883616280576
1019750751160193026
1019660869796614144
1019660353121243136
1019660128214245377
1019659972316160001
1019659832415072257
1019659570690576389
1019659200039936002
1019404460278370304
1019404241851637761
1019404035823165440
1019403885994274816
1019403735896936448
1019403563762626561
1019403378596696067
1019403228910366721
1019403079987458048
1019402870070960128
1019402604475047936
1019402461503787008
1019389860132655107
1019389500538179584
1019389347978792960
1019389147730018309
1019388986295504897
1019388826962317313
1019388657260810247
1019388416407035904
1019388240472760325
1019388097589579777
1019387889258508288
1019387693204234240
1019298691927216128
1019297602096058369
1019027584640790528
1019027273687683077
1019027073615228936
1019026788553551874
1019026372784807936
1019026215775162368
1019025999890124800
1019025854175817731
1019025639171555329
1019025477930020864
1019025323579633664
1018935960199991301
1018935563481690115
1018935387299942401
1018935148400861184
1018934931723116545
1018934669629325313
1018934500489859073
1018934448342142977
1018665727665025024
1018665334818201602
1018665135370579968
1018664748882198528
1018664560260190208
1018664360896552960
1018664201869459456
1018664045845602305
1018663845794066432
1018663712490696706
1018663557704159237
1018663380020793349
1018663231894753280
1018526438969020418
1018526214095548416
1018526068662206465
1018525900655202305
1018525730198753281
1018525556164517888
1018301971449688065
1018301771142385664
1018301536332582912
1018301300474372096
1018301130290421761
1018300927755812865
1018300739565780994
1018300547013767168
1018300398812192770
1018300243044130816
1018300110357360645
1017985195155259392
1017984967421329408
1017984824357859328
1017984618664996864
1017984431062245376
1017984235125211137
1017984075154558976
1017983798145900544
1017983620831694850
1017983451000078337
1017983317809954816
1017983163505741824
1017955096871784448
1017954834857807872
1017954662224408576
1017954450432983040
1017954295499640833
1017954086547873792
1017953882616590336
1017953660276477952
1017953478113624064
1017953298815602688
1017939992906207232
1017939682238324742
1017939517821607936
1017939284995780608
1017939095341993989
1017938917876797441
1017938745503506432
1017938593984188416
1017938435871526912
1017938268724301831
1017938132862492672
1017937978772029440
1017622269714104320
1017622045058838530
1017621908798533634
1017621770239709184
1017621474360938496
1017621309826785281
1017621159024758786
1017620999058096133
1017620868262973440
1017620686876086273
1017620564461211648
1017578157262721025
1017577795998879749
1017577497221885959
1017577275334807558
1017577141171519488
1017576953975660544
1017576796349399043
1017576652090507266
1017576500990828544
1017576337425526784
1017260376889741312
1017260148107169792
1017259899494064130
1017259703661940736
1017259549374533637
1017259381388468224
1017259157206990848
1017258963996463104
1017258797285412864
1017258637721571329
1017258474844147712
1017258331906461697
1017215724388077568
1017215559329632258
1017215428488302593
1017215134471806976
1017214732137361410
1017214516151668741
1017214340976578560
1017214209770381312
1017213991872028672
1017124223863664640
1017123972645875712
1017123571049684993
1017123367529435143
1017123217041973248
1017123069448675328
1017122910346121218
1016897862079262720
1016897717069647872
1016897515034152961
1016897318908563456
1016897032001327104
1016896278100348928
1016896112198934529
1016895949413773312
1016869855339974656
1016869456042188800
1016868867707166721
1016868704934559744
1016868356169793536
1016868115618123776
1016867934747099142
1016853139939581953
1016852870585552896
1016852695574024192
1016852563113775104
1016852373896130560
1016852161878200321
1016851986707369985
1016851801168113664
1016851608422973445
1016851280541700097
1016851156415451136
1016851012328534016
1016535802967416832
1016535471311216640
1016535159489880064
1016534980640563201
1016534777829130240
1016534586271191040
1016534404687192064
1016534189376753664
1016533972703203328
1016533773184315392
1016533630846369792
1016489112075894785
1016129816574283778
1016129472792317952
1016129286586191874
1016129149910601728
1016128992787693569
1016128827985195008
1016128678168875008
1016128501735358466
1016128361045864448
1016128200806666242
1016128054178000898
1016127917422731270
1015765135506460672
1015764835697651718
1015764639379058688
1015764462383529984
1015764314714726400
1015764130026967043
1015763944118550534
1015763799675109376
1015763612634435584
1015763450172264453
1015763316789129216
1015763192004431872
1015448583896694784
1015448184624222209
1015447990117568512
1015447569907011584
1015447417012006912
1015447199877156865
1015447066380849152
1015446924491665408
1015446652994375680
1015418177248022530
1015418165021564929
1015417717191405568
1015417566209200128
1015417380300906499
1015417223433900032
1015416880482471936
1015416283435806720
1015416124635217920
1015403323745284096
1015403083617263617
1015402869695148032
1015402733711626240
1015402570578264066
1015402308639830016
1015402133166936064
1015401980196507649
1015401845626425344
1015401706039980037
1015401500837928961
1015085783676571648
1015085532135788546
1015085091897438208
1015084942382989312
1015084581144399872
1015084427276423168
1015084245402963970
1015084096358436864
1015083964116201472
1015041584537243648
1015041309340504064
1015041123897749506
1015040896583327744
1015040197191495681
1015040028349779968
1015039846572797954
1015039570117906433
1014723558885470208
1014723349988208640
1014723215653031936
1014722977454280707
1014722610092040192
1014722464457388033
1014722320454340608
1014722109887655936
1014721840596561920
1014721691241664512
1014678625059254272
1014678331130867712
1014678179145973760
1014677992138735616
1014677817907441664
1014677655634006016
1014677504097910784
1014677355829321728
1014677170290077696
1014677008100614144
1014676872460951553
1014676741946793984
1014618049637507072
1014617955471159298
1014617650805329920
1014617438959362048
1014617262169513984
1014617123174445057
1014616646798004226
1014616510986379265
1014616433362337797
1014616182786314242
1014361173431668736
1014360953566191616
1014360799161278465
1014360642168545280
1014360453974233089
1014360275053694976
1014360022090907648
1014359816352030720
1014359616950501376
1014359477993254912
1014359329527525377
1014359192092672001
1014330981464109056
1014330701309673472
1014330525744599041
1014330323411374080
1014330177839607809
1014330009492783104
1014329656651276290
1014329498123362309
1014329330250502144
1014329082073485312
1014328942138884096
1014315278858162176
1014315076134883328
1014314922627469312
1014314773901725696
1014314569509072897
1014314432707661824
1014314282757050368
1014314135172075521
1014313989864673281
1014313846582980608
1014313720598663168
1013999245337260032
1013999029074759681
1013998835302051840
1013998604422348804
1013998449115779072
1013998275433811968
1013998104591286272
1013997878350696449
1013997736474050560
1013997546346303488
1013997367966814209
1013953362511974400
1013953055828598784
1013952880276107265
1013952716463333376
1013952518315966469
1013952354662612993
1013952182792736769
1013952034519863297
1013951850809348096
1013951702075150336
1013951567375011840
1013951410948493312
1013945193001873408
1013944950181040128
1013944781490262018
1013944394955808768
1013944231327600640
1013944075337306119
1013943936740519937
1013592373216104450
1013591865982103553
1013591681713819648
1013591510334484480
1013591369712009217
1013591223066558464
1013591064391966722
1013590886243078144
1013590793620160512
1013590595988750336
1013590416220983296
1013228379536011265
1013227924441399296
1013227737597833218
1013227562728919040
1013227407149498368
1013227274735415297
1013227133815189505
1013227003749851142
1013226858077458432
1013226731124281345
1013226596008910848
1012911876735406085
1012911628742950912
1012911441077264384
1012911257668804608
1012911097916125184
1012910903983996928
1012910772865904641
1012910651633696774
1012910477884776448
1012910246547918848
1012910111319314432
1012909970474655744
1012881442353897473
1012881153647357952
1012880960742969346
1012880349221785600
1012879965040365569
1012879793283653632
1012879539649830912
1012879391557287941
1012866214887088128
1012865997756354560
1012865863668719616
1012865694525018112
1012865570428026880
1012865438387245056
1012864927487418369
1012864802346106880
1012864624205721600
1012864480198512640
1012850536905920512
1012850293510496258
1012850093693833216
1012849928274620417
1012849750486540288
1012849593686659073
1012849390753640449
1012849251997675520
1012548877575184385
1012548511777415168
1012548201604317184
1012548033479880704
1012547754529304578
1012547606503927808
1012547461141946369
1012547341906272258
1012547225728274433
1012508789948538880
1012508478206808064
1012508054988959744
1012507323095543810
1012507154950049793
1012507025979387906
1012506853832581121
1012506726027931649
1012487844236070913
1012487694759407616
1012487504073773056
1012487358258741248
1012487176934907904
1012486971858604032
1012486843252830209
1012186610216177664
1012186467278475264
1012186324680495105
1012186176118288389
1012185777227345920
1012185646948024320
1012185473715003397
1012185320958373888
1012185181577498624
1012185047267454978
1012141504142462977
1012141266866442241
1012141133504438272
1012140703755964416
1012140564979113984
1012140438634008576
1012140100392800257
1012139966711787520
1012139818149609472
1012139673098088449
1012125663887876102
1012125399046873088
1012125278720716800
1012125148374274048
1012124694840037377
1012124555333242881
1012124415574855680
1010691681216278528
1010691500940910597
1010691352466808833
1010691175211307008
1010691024639987715
1010690865231269889
1010690657596444673
1010690520950165505
1010690355052863489
1010690130884128768
1010689990521769987
1010329771186761730
1010329343577477120
1010329132302000129
1010328954857840641
1010328804936638464
1010328633372798977
1010328399389384708
1010328243294097410
1010328118014377989
1010327877945044992
1010327738048307205
1010238928916504576
1010238660455911429
1010238500648693760
1010238328568983555
1010238169168654336
1010238013237071874
1010237787738689536
1010237631286915072
1010237474533269505
1010237331683586048
1010237130000490498
1010236978636484609
1009967219856543744
1009967021130420225
1009966870240399360
1009966677730254848
1009966498377621505
1009966169279946752
1009965987653996544
1009965858033164288
1009965730102734848
1009965565065289728
1009965418210054145
1009876466522361856
1009876289539407875
1009876128910241793
1009875960131354625
1009875744670044161
1009875542387101696
1009875401366220800
1009875216460386305
1009875084830486533
1009874832723529730
1009874671980941312
1009605349618446336
1009605073893314566
1009604620027559938
1009604446991605761
1009604276157599751
1009604117143216128
1009603947634528257
1009603798761910272
1009603664032534528
1009603376038981635
1009603187706417152
1009514473693024256
1009514288288030721
1009514054057185281
1009513711172816896
1009513511918161920
1009513213195628545
1009512989618245638
1009512783334043648
1009512632360013830
1009512384975855616
1009512236220497920
1009242698493169666
1009242236360560645
1009242061051191296
1009241881371291648
1009241669844262912
1009241472019910656
1009241308412743680
1009241152413978624
1009241017369923584
1009240897001852928
1009240729728815105
1009151688371040256
1009151382417477632
1009151030087634946
1009150884100665344
1009150439445721089
1009150275410591744
1009150131684499457
1009149990403477507
1009149823101042689
1008895787147956224
1008894898748166144
1008894743235977218
1008894527715889152
1008894365354352640
1008893990983426050
1008893775987576832
1008893453416181761
1008893341080195072
1008880174895681536
1008879854396346368
1008879527756484609
1008879362123489280
1008879253620961283
1008878963320590336
1008878807653199872
1008878667127238657
1008878529721831425
1008878497492865026
1008789490150924289
1008789149166592001
1008788567487901696
1008788395752030208
1008788219180273664
1008788032022024192
1008787872642686979
1008787698654568450
1008787566395609090
1008787418256936961
1008518846960070658
1008518592961409024
1008518410521776128
1008518173015117829
1008517919096147968
1008517663482576901
1008517422658224128
1008517220295757824
1008516733496430593
1008516455908945922
1008516266884255744
1008155971288489984
1008155765193019392
1008155593608220672
1008155442219012097
1008155260370718720
1008155050143813633
1008154701291032577
1008154440766025728
1008154168132079617
1008154016197566464
1007793317394993152
1007792870475132928
1007792582246719488
1007792411890929665
1007792236199849985
1007792007752880128
1007791778085462016
1007791534249594880
1007791320830791681
1007791176827760641
1007702431155785729
1007702273726799873
1007701934827016193
1007701779591712768
1007701636628795392
1007701483775823873
1007701285871734786
1007701048054738945
1007700823281893382
1007700676275662849
1004893525614481408
1004893324703141888
1004893173691375616
1004893011199832064
1004892508743192577
1004892339662393344
1004892188373905408
1004891910882910213
1004891764497485826
1004802748926320640
1004802590574555136
1004802412249481216
1004802247002349568
1004802093805375488
1004801798409019397
1004801636580065281
1004801321273356289
1004801183628845059
1004532951676346368
1004532365593665536
1004531977666605056
1004531790378389506
1004531417441816576
1004531240526020609
1004531049500733440
1004530854134255616
1004530706075275265
1004530562340618240
1004169615906308097
1004169020478771201
1004168759584706561
1004168498602561537
1004168125410152448
1004167533077901312
1004078317966938119
1004077931642138624
1004077715149000704
1004077578020409344
1004077428103368706
1004077270947033088
1004077111819296768
1004076953677238273
1004076809481347073
1004076533500252161
1004076393133756416
1003806804105748480
1003806634358050816
1003806451243081730
1003806270686720000
1003806125215617024
1003805993413824513
1003805821741002758
1003805669676474368
1003805107253850117
1003804991646261248
1003804839703465984
1003716280459972613
1003716046954598400
1003715559542919169
1003715207116533761
1003715018842689537
1003714872914403328
1003714703548407809
1003714551702007808
1003714144099586050
1003713993826062337
1003445127849955329
1003444811079344129
1003444611594022917
1003444432081911810
1003444191878369280
1003444065084592128
1003443745365331969
1003443552347676672
1003443390665682945
1003443201024413696
1003443042714570753
1003442759162875905
1003127372680519680
1003127110024728576
1003126937483661313
1003126886795567105
1003126595165523968
1003126439183601664
1003126294522023936
1003126093916844032
1003125921891614720
1003125766891229184
1003125340351459329
1003125176970686464
1002719631046475782
1002719212371095552
1002719018510319616
1002718877959278594
1002718541324390400
1002718364777762816
1002718203850653698
1002718051937210368
1002717612315463685
1002717483802021888
1002629236014899200
1002628913925849088
1002628734535524352
1002628571683328000
1002628412064849922
1002628266505703425
1002628124675330048
1002627954537648128
1002627815374839808
1002627367620304901
1002359122216607744
1002358882621149184
1002358647735967745
1002358060206231552
1002357896150122498
1002357736892493824
1002357586707050496
1002357426060918784
1002357260855791617
1002266641042944000
1002266327229321217
1002266077508890624
1002265731168337920
1002265574263619584
1002265423482630146
1002265250559905793
1002264846308642816
1002264692562255873
1001995120256921600
1001994799489212418
1001994612523880448
1001994446597185538
1001994219089793024
1001994062189289472
1001993904282009600
1001993701969801218
1001993465146892294
1001993226356584448
1001993061847715841
1001992935666278400
1001903958112251905
1001903464912510981
1001903309173772288
1001903167293009921
1001902942482587650
1001902794897489927
1001902645144154112
1001902489325703169
1001902332735565826
1001902179689684993
1001902056389701640
1001631913558315009
1001631741340213253
1001631578936823808
1001631277488005120
1001630936088436737
1001630741485285380
1001630611164090368
1001630464657035265

1001541690757435392
1001541350553243648
1001541028363538432
1001540881340657664
1001540738247741440
1001540568760115202
1001540421540044805
1001540277956497408
1001540144309178368
1001539969264037889
1001539811268755456
1001209868882202626
1001209327997341697
1001209102645825538
1001208925830737920
1001208756494008321
1001208578869428224
1001208237566414854
1001208086663659520
1001207919919198208
1001207768253116418
1000908518696857600
1000908190333186048
1000907556162822144
1000907372657770497
1000907242567294977
1000906922663596032
1000906616013717504
1000906464070955008
1000906335695851520
1000906258034167808
1000905854709829632
1000590391060713472
1000589975346442241
1000589794798424072
1000589462160756736
1000589309680943105
1000589152377802753
1000589011017232385
1000588864170479618
1000588717772460033
1000588509789478912
1000182623891795968
1000182458942476288
1000182316558364673
1000182166758871040
1000181825644396545
1000181660774752256
1000181439361699841
1000181294851153922
1000181127498346496
1000180899860959233
1000091979412328453
1000091681427947526
1000091483515604992
1000091220465606656
1000091078882680833
1000090947194114048
1000090655027335168
1000090484440817668
1000090378240954369
1000090220619067393
999820150466662400
999819958682116096
999819816411246592
999819549385117696
999819425992859648
999819261332934656
999819139161186305
999819007334100995
999818861670227968
999818730673713154
999729704226770944
999729411699208192
999729210154520576
999729056869421057
999728865793708033
999728677918298113
999728534984806401
999728411194068994
999728269548277761
999728102875058177
999727961979924487
999727810540376065
999458059100606468
999457847338524672
999457690861670400
999457529427095553
999457329325248513
999457155727151105
999456905104973826
999456670387507200
999456472189808640
999456251439349766
999367307322314752
999367054019956742
999366872733831168
999366688188633090
999366514028445696
999366354498195456
999366197081772032
999366005443956737
999365852947533824
999365688501432320
999365546956161024
999365527934992384
999095498832261120
999095191884660736
999095019821846534
999094813554282499
999094651880726528
999094464701517830
999094312926408710
999094151642779649
999094010319949824
999093854950297600
999093689090805760
999093546220228609
999004734739664898
999004341305569280
999004176309932033
999004032822927361
999003858864132096
999003700503941120
999003524792049664
999003377769091074
999003236769173505
999003077125517318
999002936775716864
998733276901789697
998733004448071681
998732825036771333
998732588180295680
998732443396997121
998732312387964930
998732150609297408
998732006618955776
998731856651739136
998731663474675712
998731528816521216
998731382947008512
998642397486739456
998641959710412802
998641840483160064
998641708731633669
998641550874771456
998641369924227072
998641224310501376
998640754372300800
998640629029761024
997646252883042305
997645964029685761
997645639344447489
997645458540462081
997645257062998017
997645114808963072
997645034748030981
997644810851889154
997644542907207680
997644322874036224
997555625499463680
997555315422965765
997555124162744320
997554985272578055
997554802434433026
997554633206849542
997554423013564416
997554232013271040
997554093743800320
997553918946217985
997553774112722945
997553483371991041
997283429904535554
997282873068703744
997282632563126272
997282467307577344
997282315704389632
997282150037770240
997282005476958208
997281848052068352
997192739606401025
997192500598181888
997192317709836288
997192197098409984
997192046787137537
997191847792513024
997191527129600000
997191348905267201
997191201332826117
997191063205969922
996920808743342082
996920631412318208
996920327061016576
996920314176114688
996919997770452992
996919828224135168
996919680018341888
996919538267639808
996919369023262720
996919222218444801
996830969691766784
996830525724688392
996830328873463808
996830003307442177
996829836831350787
996829693109329921
996829529510436870
996829397943504897
996829235900755969
996829097270620160
996558416750489605
996558250379268098
996558096423059456
996557922552467457
996557765890985984
996557569127866368
996557397333348355
996557249836470272
996557111449571328
996556958118432769
996556813519769602
996468090094473217
996467825396117509
996467662879256576
996467140302688263
996467007292956672
996466803323916288
996466654258388992
996466502227374082
996466355581931520
996466206013050881
996235738936217600
996235541376110592
996235280221949952
996235022976897024
996234865996681216
996234620428521472
996234424688758784
996234257776422912
996234114679431168
996233704358993920
996196181977063426
996196138205241344
996195864539475968
996195676668268545
996195317057052672
996195130980884486
996194985941794816
996194824607891456
996194676611997696
996194437448589312
996105918768189440
996105254130409472
996105084286140416
996104933635252225
996104761299623939
996104590255906816
996104404754485249
996104264220119040
996104098536722432
996103823545589764
995835970707775488
995835621527773184
995835349875200000
995835144350158848
995834962397065217
995834693873471488
995834453527277568
995834189835587585
995833981848506368
995833793813663749
995833553786232837
995833380515319808
995833265885011968
995832885629333507
995832746516852736
995471513649283072
995471469911183361
995471316848431104
995471014409760769
995470854258679808
995470648486047754
995470495570153472
995470319514157056
995470162974437377
995470028454555648
995469679937441792
995109359444221952
995109199972634625
995109091658919936
995108607233576961
995108417869111297
995108244078170113
995108083553722370
995107909422993408
995107692581675014
995107549077786624
995018814214504450
995018296796868610
995018103355559936
995017934404833281
995017636323962889
995017479415062530
995017321092665344
995017188762415104
995017036320460800
995016816123695106
994747287866880001
994746956084850689
994746791047434240
994746608741965825
994746454454493186
994746290947977217
994746064040275968
994745890027048962
994745706731720705
994745566398681088
994745413281382401
994745281915781120
994656545819504640
994656189018443776
994655638889336833
994655449051029504
994655260592496640
994655068526964739
994654901115514880
994654713311264768
994654559611031552
994654429910634496
994384331220094981
994384139674685442
994383924892766210
994383757707706375
994383570545401856
994383406350962688
994383236083183616
994382909367873536
994382759736020992
994382617523957760
994382459881033729
994294263763689472
994293918681444352
994293751819489283
994293625549934592
994293199467372544
994293029581283328
994292856666902528
994292702182297601
994292512859795456
994292364213616641
994292198911901697
994020928043520000
994020763379302401
994020614884163584
994020456167550976
994020325330444288
993932157734260736
993931534972407808
993931383679660033
993931238330257408
993931066330243072
993930906233724928
993930734137217025
993930570580287489
993930431274905600
993930290425925633
993659896519372801
993659717686910977
993659246033195014
993658853907750914
993658669815488512
993658506241814529
993658355360157696
993658207880007680
993658076598239232
993569433892278272
993569032304553989
993568868185661442
993568674668863489
993568499506274306
993568277313081344
993567878946414593
993567718606598144
993567576759390208
993567426699825155
993567277625864193
993336005301334016
993335613293236225
993334993043836928
993334779503349760
993334620887375872
993334456248422401
993334067918725121
993333897537753088
993333760136568833
993299822651363328
993299513577295874
993299304877117440
993299070604271617
993298803984871424
993298629451550720
993298430138159104
993297988146614273
993297795107999745
993297592082628608
993297401619369984
993296838630563840
993296691678924805
993296396576002048
992935374564528128
992935045408198656
992934845939617793
992934624765595648
992934459073875968
992934114457214977
992933929828212736
992933795052613632
992933659324899328
992933263663616000
992576660854792192
992576403114790914
992576222583578625
992576040915603456
992575881683103744
992575526048096257
992575386771959808
992575207176130560
992575081535672321
992574929748086786
992574675917201408
992481600251334659
992481451915571201
992481233706934274
992480903791304705
992480743363436545
992480566745489409
992480365246902273
992480218886615040
992480054847442945
992479907425996802
992210307970949121
992210060586749952
992209675381854208
992209514991706115
992209293486317569
992209127849054209
992208944826322945
992208783429525504
992208595075981320
992208436153782274
992208289571143682
992119453352693760
992118634519650305
992118482807545857
992118321519656966
992118167207137281
992118015784312835
992117815640514561
992117671545143297
992117543879041026
991847564856123392
991847037485420544
991846894585372672
991846684018720769
991846547997552640
991846360423936000
991846222372712449
991846087978897408
991845938418208769
991845774345494529
991757142720950272
991756919009431553
991756704051351557
991756486031261697
991756251053854721
991756092156862464
991755907943096320
991755756302163969
991755608104857600
991755453003632644
991755278277402624
991755145137532928
991485429248602112
991485094094426112
991484927102373888
991484754133442568
991484573753233408
991484413182701568
991484227207290881
991484062543044609
991483878752780289
991483719159607307
991483527035277313
991483390594609152
991394675033600000
991394309843890176
991394122610114562
991393978955259905
991393794951180289

991393631532670976
991393471511527424
991393311947665411
991393165490966528
991393015699787778
991392846379995136
991392705380012033
991122982322999297
991122712646086656
991122578684239872
991122385360302081
991122206431285249
991122046989021189
991121885730672640
991121658105749514
991121480091099141
991121354815672320
991121162800427008
991121018759663617
991032324493053952
991032057097785346
991031871835385857
991031710639935488
991031558218899462
991031283211005953
991031154944937984
991031005480980481
991030883506442240
991030780481728514
991030606531301382
990761539220144130
990761247632130048
990761084532543489
990760806601117701
990760663491457024
990760269218533376
990760036401020928
990759709513838593
990759529251033089
990759394928480256
990759165931982848
990759036370014209
990758863422001153
990398434812276736
990398135846539265
990397975758299136
990397816185999360
990397667955105792
990397415147569157
990397254124101632
990397086951714816
990396959327490048
990396772798402560
990396637813100544
990396419507965954
990035836870774784
990035483668504577
990035316265443328
990035169271787520
990034986098135046
990034778366922753
990034625094475776
990034460098945024
990034211141816321
990034071911837696
989945225492750336
989944913008779264
989944715821842432
989944405506306048
989944286916628480
989944088689565702
989943881163788289
989943753107533824
989943605824491521
989943472495976449
989943316023267328
989673749187264512
989673429468172288
989673276292124672
989672875555786753
989672651667984384
989672347501318144
989672206451073024
989672069456629761
989671923046023168
989671795660902406
989582778810425347
989582356339097608
989582169034149888
989582037534363649
989581882428977152
989581755836522496
989581569156374531
989581428127084545
989581271562113025
989581130214117376
989580995480510465
989349123521474560
989348796294467584
989348565842649089
989348433445183488
989348272417443841
989348105207320577
989347947459563521
989347576112713728
989347423121264645
989347247660896258
989311354204024832
989311061512859648
989310868419727360
989310695455051776
989310504521863170
989310327903981569
989309925246623744
989309488938221573
989309358113742848
989220486604361733
989220226117132288
989219858263965697
989219557138227201
989219338845646848
989219195824066560
989219032640434177
989218877224767489
989218745599053824
989218619765780481
988948374614364161
988948164437774336
988947995084361729
988947815773691905
988947656222404609
988947501238583296
988947278323961856
988947115035504640
988946959791742976
988946790480273409
988946643872632832
988857991398084608
988857768307195904
988857587662774273
988857396557688833
988857230295490561
988857022459383810
988856865605013504
988856722847686656
988856545147531265
988856379417952257
988856219719872512
988856070591385602
988586093162500096
988585934881984512
988585742057332737
988585587887230977
988585380726353920
988585192767082503
988585013687083009
988584864290168836
988584713848836096
988584554675036162
988495664094044162
988495433440874498
988495253903683586
988495051054608384
988494904199405568
988494751426064385
988494561499545600
988494393844883458
988494216115474433
988494106040193024
988493887604953093
988493746647044101
988224405699522560
988224182910668800
988224002542964736
988223707603709952
988223531170320384
988223320758931456
988223148469473280
988222969116839937
988222764933840896
988222596205498374
988222426138988544
988222272828829696
988222117119516677
988221953239547907
987861297768353792
987861085381365760
987860892363706368
987860758561280001
987860603254575104
987860454964973568
987860259699126272
987860080870789120
987859585942867968
987859455747424256
987499429665083392
987499221828931584
987499062525087745
987498936821829633
987498789710770176
987498593912279041
987498468083191808
987498332955336708
987498214759845888
987498083067006976
987497935268122624
987497750605557760
987408175136739329
987407933557362688
987407904218189824
987407499002368000
987407413723779074
987407155765633024
987407048299155456
987406999615950848
987406605376507904
987406488904794112
987137628679131136
987137475683512320
987137333832110080
987137156534677505
987137023671721984
987136759829065729
987136435277975553
987136280025882624
987136128045154304
987135995177992193
987045727024148485
987045549663809536
987045377042976768
987045218661945354
987045079406833669
987044714527551490
987044570323148800
987044433051963397
987044265544048644
987044138221785088
985325549080989701
985325273968205824
985325069051277313
985324890411667456
985324716910088193
985324547002990592
985324368065593344
985324174104244224
985324025013563392
985323862597480448
985323623677382657
985323482497146881
984962930012762112
984962413542936579
984962242268618752
984962065147232257
984961845483229184
984961594923810816
984961427302682624
984961223090495488
984961036804640768
984871894817046528
984871594379096066
984871414154125313
984871258151153665
984870877983539202
984870706080108550
984870373182394368
984870219129741312
984870065857277953
984869936173649921
984599999949524992
984599692536369152
984599534117539842
984599381709066240
984599240050700288
984599003550666755
984598835145080832
984598681306435584
984598519897116672
984598368918876160
984598218423062529
984598076739514375
984509239895851008
984509063286411270
984508876266582021
984508681785049088
984508515111788544
984508116535595009
984507940492148736
984507780244561920
984507640825950208
984507455467130880
984238197600342016
984237911259348992
984237585160720384
984237355518365696
984237164472004608
984236963413876736
984236802067304448
984236581585412096
984236187979276288
984236034241302528
984165977003839489
984165611419955200
984165342896410624
984165115317702656
984164892482719745
984164075121840128
984163875732979719
984163659185360899
984163138856783874
984162950230441984
983875265322520577
983875021436317696
983874700492333056
983874524771966976
983874329736859648
983874187814195200
983874000521744384
983873840399994881
983873687165308928
983873430163546112
983873276685488128
983784925139783680
983784643831967749
983784445965717505
983784053458526213
983783859643928577
983783708128923649
983783519519375361
983783351675969536
983783178140901377
983782868169232385
983782679463301120
983513331054104576
983512991856459777
983512768002355201
983512608337690624
983512177024929793
983511995403194368
983511846924808192
983511514308055041
983511170350047233
983511026141458432
983422569981280263
983422093822963712
983421882694283265
983421691673104384
983421506515558401
983421290865414144
983421108253790208
983420932634095617
983420782620610560
983420463899643905
983420319548440576
983151015871598592
983150758957932544
983150601826717697
983150395924058112
983150217141870592
983150022085828608
983149852367441920
983149614340694017
983149416562544640
983149245657239552
983148965867741185
983148801513975808
982787847626293248
982787471841820673
982787285455425536
982787139887824896
982786993573826560
982786848111153152
982786697120440320
982786551066386432
982786400532795392
982786265027366912
982786055865864192
982426133529579520
982425827123060743
982425650224156675
982425449023311872
982425274489896960
982425082604683264
982424894477565952
982424715838083072
982424564113264640
982424371288518656
982424228694720512
982424079968948224
982335415930773504
982334691062833152
982334517926158336
982334353891000321
982334169366827008
982334013351387136
982333623784308736
982333370658164737
982333222351753216
982063647039066112
982063331908472832
982063137779138561
982062937698373633
982062733809078272
982062541638692864
982062320250650624
982062171583582208
982061945602871297
982061806230351872
982061670632747008
982061536016523266
981972669297057792
981972393970237440
981972219046834176
981972047969619968
981972026930946050
981971724374806528
981971335923601408
981970930875420673
981970803800576002
980975729549733888
980975486393253891
980975283418337280
980975140937916416
980975001112281093
980974796048683008
980974656055398401
980974486198636545
980974358175932419
980974230320943104
980974096723972096
980885428709490689
980885128632328192
980884886658715649
980884782505742337
980884539961724928
980884506646384642
980884187879223297
980884043339268096
980883889370562561
980883746441359360
980883611128909825
980883491591196678
980614713334738944
980614320336883712
980614042422337537
980613844836999178
980613660853899264
980613496453980161
980613287359516672
980613053048901633
980612855660675072
980612510918246400
980612346723872769
980251754926346242
980251608100626432
980251413057073152
980251240629264385
980251061779869696
980250271304552448
980250051057541120
980249925693984769
979889043369578496
979888669229273088
979888471987970048
979888311274700800
979888137810972672
979887972014350336
979887811229835264
979887655562502144
979887517968273408
979887373029920768
979887128078442497
979886985337819136
979798926973980672
979798592494895104
979798423141539840
979798228689399809
979798047512293377
979797909897170944
979797719278587906
979797558565527552
979797373827330048
979797190347456512
979526750630801408
979526229132021760
979525966300139520
979525791989026816
979525653153370112
979525437197037570
979525245051850752
979525078860881922
979524946908143617
979524776887832577
979524642544279553
979436027294175232
979435607444348930
979435246780321792
979435089124888576
979434909675806721
979434757003120640
979434599720857601

979434451959795712
979434293901582336
979434156152238081
979434022341369857
979167415341846531
979166837740011521
979166402576863234
979166093125259264
979165644619993089
979165230918926336
979164686036840448
979164521221763072
979164328933937157
979164171525939200
979073358829629440
979073164142632960
979072991182106625
979072612872736769
979072426725335040
979072286107013120
979072189390557184
979071968719798272
979071736414121985
978802327019802631
978801620250132481
978801425437417472
978801232109297664
978801051078987776
978800868463202318
978800677446209536
978800506956021761
978800236918464512
978800100242845697
978711419435839490
978711120444821506
978710883693203458
978710708039897088
978710533091287045
978710381374865408
978710214584258566
978710055624245248
978709867421687808
978709698147995651
978709556997120000
978709417247019009
978454308042805248
978453919704723457
978453654083653632
978453201061113859
978452995775062016
978452775330832384
978452564185268225
978452378985926659
978452094020616194
978451907877523456
978451735457992705
978451480549232641
978451252160974849
978451098724859904
978439500908171266
978439217771671557
978439048351113216
978438853823533057
978438687078928384
978438533328367616
978438314964471809
978438133745422337
978437830698569729
978437675299598336
978437524266868738
978348722823270405
978348550827495430
978348378676396037
978348144541995009
978347971166330881
978347780061220864
978347611827601410
978347451814948864
978347256427499522
978347085492875266
978346952512475137
978080351632445442
978079515619549186
978079276418387970
978079030879686656
978078790776705024
978078572807184384
978078402354835456
978078214626127872
978078050045825024
978077849121902592
978077548247769089
978077335370043392
978077173717356545
978076965319176192
978076790840266753
978076622136991745
978076312916189184
978076111669284864
977715033286246401
977714821335568386
977714577344483328
977714349522542592
977714163970699265
977713728455094272
977713513580892161
977713319401394176
977713038643073025
977712864143335424
977352376440016896
977352202959441920
977352034759401472
977351871588421633
977351669888503808
977351424597139456
977351154882547712
977350944332632065
977350761658114048
977350567671541760
977350398544678912
977261982234632192
977261660057604096
977261497385701376
977261337079439360
977261162248200192
977260947130716160
977260769875255297
977260535858323456
977260188896985090
977260011775766530
977259836139294722
976990261241839617
976989896786227200
976989698722881536
976989523270922240
976989117618761728
976988628646793216
976988442721529856
976988276203704321
976988065121087489
976987914151309312
976899477608034304
976899197218775040
976899045347266560
976898881966493697
976898501568233472
976898352699904001
976898112181727232
976897939795738624
976897794425409537
976897649067556865
976897506469695488
976627786084429835
976627521843290114
976627345804222465
976627178606653440
976627009014190082
976626849609666560
976626644625567749
976626497422315520
976626371114958848
976626233558601728
976626048631676928
976625913344462848
976537038144049152
976536737336975360
976536423955402753
976536270934609920
976536131079671808
976535964007976960
976535701293592576
976535550533492736
976535357880614912
976535224451522560
976535073355915266
976265409031737345
976265141577805825
976264972169859083
976264749263609856
976264560020807680
976264347088572417
976264190750052352
976263968728797184
976263805264125953
976263641975738368
976263371640180736
976174652551725056
976174389334040576
976174213580165120
976174030188351488
976173843306942465
976173694904143872
976173489127387136
976173333241884673
976173080673480707
976172927501717506
976172616066195457
975903618405752832
975903257225826305
975903067148308481
975902911178866688
975902748188332032
975902538372403200
975902332142673920
975901895301746695
975901653256802304
975901495827853312
975901284963356677
975812484564226052
975812089515307008
975811929003487232
975811739710361600
975811545866350593
975811365783900161
975811123172823042
975810936912084992
975810756900990977
975810586612305920
975810216792150018
975544788350111745
975543959282946049
975543776453292033
975543589777412096
975543407128072194
975543194107736069
975542774937374720
975542697644707840
975542399123501056
975541983648403456
975541690860756992
975541527308062723
975541158737739776
975540912410578944
975540671993057281
975540461392850945
975540253154074625
975540107716562944
975540010488344576
975539582098866176
975539353375133696
975178431406268416
975177910448545792
975177722346516480
975177485460606976
975177105574187008
975176912246136833
975176705848553473
975176574302605312
975176330370256897
975176182579847169
974816567761473538
974816228668858368
974816020090249216
974815830902001664
974815652954419200
974815503905689600
974814970222399496
974814823648301057
974814545607872512
974814385955885057
974725198695018504
974724900366815232
974724705398730753
974724553611112448
974724356352987136
974724155932323842
974723990123147264
974723786103803904
974723610232410114
974723366207795207
974723203712024577
974723068890370054
974453451433435136
974452903170789376
974452720122978304
974452573758468096
974452214726103040
974452007019925505
974451868901478402
974451720481857538
974451533147463680
974451398434750465
974362815510302720
974362487104659457
974362303926820865
974362107629264898
974361903278501888
974361680552562688
974361205895847937
974360979910905862
974360818597941254
974360665661075456
974091304375341057
974090950900412416
974090743538225158
974090541762834432
974090348992630784
974090180977143809
974089993630121985
974089679682359297
974089510886760451
974089347237638144
974089155784343552
974088999273934848
974000802791657472
974000492924817408
974000324955590656
974000158072504321
973999987695738880
973999625764995072
973999450178904064
973999212013776896
973999068765675526
973998859805478914
973998707896213504
973728847890960384
973728549331984384
973728341080662016
973728166417223681
973727933016805376
973727744675770369
973727697762504704
973727507492081664
973727223273414657
973727042368884737
973726930187911168
973726769915289602
973638109467422720
973637775986692101
973637551947960321
973637387854245888
973636826345992193
973636613086613504
973636490415747072
973636021601652736
973366602086445056
973366294832734209
973365858658668544
973365611110846465
973365394651189250
973365208461860865
973364971953369088
973364801668898816
973364639466651650
973364447338291200
973364253435547654
973275189596258306
973275019232063488
973274851363426304
973274675974410240
973274493715132416
973274334155427840
973273728900583424
973273539607490561
973273385458335745
973005924502851584
973005503369539585
973005262318645249
973005037554282497
973004752312262656
973004507578806272
973004292637560832
973004060306616320
973003901858394114
973003739161341952
973003541622206464
973003520797442049
973002944944721920
973002774605639680
973002602878291968
973002445931581440
973002322744836096
972657335532482560
972656928626298880
972656784904196096
972656681082638336
972656202579619840
972655988229791744
972655835066322944
972655532069851136
972655363244920833
972295735604662273
972295423028334592
972295237082255360
972294351211712512
972294193317072897
972294009254305792
972293662443999234
972293331073032192
972204094453616640
972203811090681863
972203633365397504
972203252849827840
972203052827586564
972202855607173120
972202664044978177
972202448352940032
972202291452313600
972201972882399233
972201799515074561
971932244255404032
971931671112159232
971931433186025472
971931181745885184
971931030876839936
971930860470579200
971930678257430530
971930437579919361
971930267844739082
971930128778440705
971929986872553473
971929858300350465
971841322100428800
971841020790038529
971840852346785792
971840631462154241
971840463354449922
971840306483220480
971839881625432064
971839676586909696
971839546919923712
971839377742680066
971839201451892736
971569181278785537
971568995215331329
971568757683482624
971568590276251649
971568351234359296
971568086125080576
971567911977570306
971567715730231297
971567499224469504
971479249680035840
971478654071996416
971478073932767240
971477900699594752
971477725952249856
971477542958977024
971477450013200384
971476917365956611
971206447987032064
971206260497534976
971205817314799616
971205603837300742
971205554084503552
971205090722942977
971116780675588096
971116418312953856
971116210761891841
971115988866555907
971115767281438722
971115593159073793
971115401319976967
971115198961635328
971115019663560704
971114766100873216
971114734090117120
970845285093203968
970844954674319361
970844939067195392
970844488410304512
970844286580387841
970844130623541249
970843902830940160
970843722551357441
970843443797905409
970843254316027904
970843093535805440
970842902044856321
970754351449944064
970754055575408642
970753854441689089
970753602393341952
970753409858097152
970753093695623172
970752820327706632
970752648583540736
970752487631319040
970752325710155776
970752171045281793
967054706177605633
967054435502444546
967054247337611265
967054065820684288
967053894034644993
967053664098701313
967053459060076544
967053204646256645
967053002971451392
967052823048474624
967052570299641862
967052410630934530
966782455737933824
966782218092806144
966782047103717377
966781820036673536
966781646769975297
966781360043159553
966781164240494592

966780975496785921
966780799306686464
966780620079759363
966692180881563649
966691727913488385
966691631025020933
966691180250648577
966690999966818305
966690728603774978
966690489050324992
966690329838702593
966690152847462400
966689987398983681
966405005572947968
966404386070020096
966404186035298304
966403987770691589
966403753195790339
966403576091291650
966403398672179201
966403218547855360
966403076209938432
966133827029602304
966043189298810880
966042904711057411
966042697441185795
966042475793088512
966042248524783616
966042052319436800
966041859436015616
966041608134283264
966041428492275713
966041246526472192
966041126099718144
965771351775735809
965771107105165312
965770942453600256
965770683325321217
965770521802571781
965770176946982912
965770008180740096
965769751405395968
965769582022623238
965769407053074433
965680564278845440
965680075030126594
965679854531248128
965679656337854465
965679410912391169
965679270877069314
965678796597878784
965678638560628736
965678486185807873
965678368250302469
965409851135479808
965409096269811713
965408612544860161
965408402473148416
965408305081389056
965407864482344961
965407672077086725
965407416895655937
965407251803594752
965407064775446529
965406892280475653
965046410327592962
965045948471808000
965045609999880192
965045443146207233
965045104821055488
965044981709856768
965044556260573185
965044294036934656
965044147496341504
964684343942803456
964684009610629125
964683824360820736
964683639765299200
964683464208416768
964683293563281408
964683057293856769
964682872308236288
964682681148755969
964682367599349760
964682311957729280
964593376250167296
964593022120943616
964592850569760768
964592677902790656
964592489477918723
964592306438492160
964592133574483969
964591923116822528
964591763909472257
964591631570800640
964591366394216449
964591196193677312
964231419722596352
964231139035615234
964230841835687936
964230614017855488
964230448003145728
964230210844610560
964229973732200449
964229826088402944
964229547926355969
964229387431436289
964229174658560000
964229002692001792
963959555188281344
963959262291542017
963959109128159232
963958583896535041
963958285203267584
963958116369956866
963957913621553152
963957747229384704
963957550587830272
963868247828332544
963868074347810823
963867867514130433
963867503649787905
963867315006820353
963866734238273537
963866569087569920
963597332163031041
963596980336328705
963596775792828417
963596532963532801
963596311261073408
963596069526491136
963595883442003968
963595674821513217
963595544353492994
963595120485560320
963594882727235589
963506162577608704
963505745391218689
963505575739969536
963505380935524352
963505300451069957
963504854240030721
963504683364077569
963504498378465280
963504339896750081
963504141749444608
963235048056152065
963234844875649024
963234512346984448
963234277268783110
963234059420872704
963233778326962176
963233559367569408
963233278361731072
963233064599130113
963232876048379904
963232706657247237
963232515635994624
963144356248129536
963144011132407808
963143797105455104
963143548299341824
963143286880956416
963143052985536513
963142827025817600
963142593495339008
963142420123799553
963142211801112578
963142033262174209
963141876709777409
962873416318636033
962872849341001728
962872658340835331
962872437326123008
962872230941265920
962871985880608769
962871684440231937
962871451165569024
962871322761158656
962871084185014272
962870958347444224
962870630742970368
962870463432220672
962870233861115906
962509881826795522
962509373317767169
962509177364107265
962508949428867072
962508325278674944
962148475776520192
962148080937328642
962147929027854336
962147745904685057
962147576983236611
962147425392758784
962147414235807744
962146964438769664
962146738508324864
962146572090990592
962146388531441664
962145992861736960
962057570402758656
962057198649057282
962057009213288448
962056805328146432
962056439186378752
962056251990405121
962056207258198016
962055848515088391
962055491332423681
962054991014866947
961785377374834689
961784842651357184
961784741006635008
961784335048245248
961784088209354752
961783872408170497
961783787939094528
961783481469751297
961783252355862529
961694253670961152
961693768603889667
961693581240094720
961693376193101824
961693201231941633
961693054490038277
961693004737150976
961692633868488705
961692470198317057
961692249326223362
961692083148001280
961422963777134592
961422643856592901
961422191664533504
961422058914795521
961421610044612608
961421351931310080
961421055385620480
961420962930528256
961420411064987649
961332503041789953
961331865700458498
961331651354734596
961331419552407552
961331055474216960
961330964826939397
961330597871390721
961330418564943873
961330073189183489
961060593569542144
961060240149090304
961060016462729216
961059843678318592
961059649863725056
961059424306688002
961059215598149632
961058976988323840
961058812529643521
961058610682978304
961058426142052353
961058251755458562
960968167844663302
960967491836108802
960698762195857408
960698349929271301
960698153543585792
960697968285372419
960697755848110080
960697571806187520
960696719389360129
960696206556057600
960696046157484033
960695838732357633
960607743781588992
960607187147124737
960606694458953728
960606523931193344
960606337725059072
960605987051900929
960605814099709957
960605643311894528
960605448658407424
960605251396145152
959973193602732032
959972863141965824
959972674712817664
959972425004969984
959972255060160512
959972036121710592
959971804105277440
959971634076684288
959971206165336071
959971067006717952
959970859514515456
959610971298979840
959610621347205120
959610413632704513
959610278395764738
959609816443506690
959609661975617536
959609468974706688
959609203487924229
959608957282242560
959520415893917696
959520021897797632
959519811758903296
959519624315338752
959519309780455424
959519003088773120
959518751677960197
959518424597659649
959518234218295302
959518088390696961
959517884375592965

In [82]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1613 entries, 55 to 2630
Data columns (total 7 columns):
Unnamed: 0        1613 non-null int64
id                1613 non-null int64
correct_answer    1613 non-null object
question          1613 non-null object
answer0           1613 non-null object
answer1           1613 non-null object
answer2           1613 non-null object
dtypes: int64(2), object(5)
memory usage: 100.8+ KB

In [83]:
df_small = df_small.copy()

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2631 entries, 0 to 2630
Data columns (total 7 columns):
Unnamed: 0        2631 non-null int64
id                2631 non-null int64
correct_answer    2631 non-null object
question          2631 non-null object
answer0           2631 non-null object
answer1           2631 non-null object
answer2           2631 non-null object
dtypes: int64(2), object(5)
memory usage: 144.0+ KB

In [136]:
search_df = search_df_final

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2631 entries, 0 to 2630
Data columns (total 7 columns):
Unnamed: 0        2631 non-null int64
id                2631 non-null int64
correct_answer    2631 non-null object
question          2631 non-null object
answer0           2631 non-null object
answer1           2631 non-null object
answer2           2631 non-null object
dtypes: int64(2), object(5)
memory usage: 144.0+ KB

In [138]:
id_list = df_small['id'].unique()

def not_in_df_small(row):
    return row['id'] not in id_list

df_not_small = df[df.apply(not_in_df_small, axis=1)]
df_not_small.info()
df_small.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1018 entries, 0 to 2306
Data columns (total 7 columns):
Unnamed: 0        1018 non-null int64
id                1018 non-null int64
correct_answer    1018 non-null object
question          1018 non-null object
answer0           1018 non-null object
answer1           1018 non-null object
answer2           1018 non-null object
dtypes: int64(2), object(5)
memory usage: 63.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 17 columns):
Unnamed: 0                    1613 non-null int64
id                            1613 non-null int64
correct_answer                1613 non-null object
question                      1613 non-null object
answer0                       1613 non-null object
answer1                       1613 non-null object
answer2                       1613 non-null object
numResults_answer0            1613 non-null int64
numResults_answer1            1613 non-null int64
numResults_answer2            1613 non-null int64
numResults_Qanswer0           1613 non-null int64
numResults_Qanswer1           1613 non-null int64
numResults_Qanswer2           1613 non-null int64
numResults_Q                  1613 non-null int64
numResults_Qanswer0_quoted    1613 non-null int64
numResults_Qanswer1_quoted    1613 non-null int64
numResults_Qanswer2_quoted    1613 non-null int64
dtypes: int64(12), object(5)
memory usage: 214.3+ KB

In [151]:
df_small, df_not_small = df_not_small, df_small

In [112]:
answers = ['answer0', 'answer1', 'answer2']

def normResults(QAResults, AResults):
    try:
        normedResults = QAResults / float(AResults)
    except:
        normedResults = 0
    return normedResults

def normedResults_answer0(row):
    QAResults = search_df[search_df['query'] == '%s %s' % (row['question'], row['answer0'])]['numResults'].values[0]
    AResults = search_df[search_df['query'] == row['answer0']]['numResults'].values[0]
    return normResults(QAResults, AResults)

def normedResults_answer1(row):
    QAResults = search_df[search_df['query'] == '%s %s' % (row['question'], row['answer1'])]['numResults'].values[0]
    AResults = search_df[search_df['query'] == row['answer1']]['numResults'].values[0]
    return normResults(QAResults, AResults)

def normedResults_answer2(row):
    QAResults = search_df[search_df['query'] == '%s %s' % (row['question'], row['answer2'])]['numResults'].values[0]
    AResults = search_df[search_df['query'] == row['answer2']]['numResults'].values[0]
    return normResults(QAResults, AResults)

df_small['normedResults_answer0'] = df_small.apply(lambda row: normedResults_answer0(row), axis=1)
print '0'
df_small['normedResults_answer1'] = df_small.apply(lambda row: normedResults_answer1(row), axis=1)
print '1'
df_small['normedResults_answer2'] = df_small.apply(lambda row: normedResults_answer2(row), axis=1)

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: divide by zero encountered in divide
  """
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in divide
  """

0
1

In [152]:
def numResults_answer0(row):
    #QAResults = search_df[search_df['query'] == '%s %s' % (row['question'], row['answer0'])]['numResults'].values[0]
    AResults = search_df[search_df['query'] == row['answer0']]['numResults'].values[0]
    return AResults

def numResults_answer1(row):
    #QAResults = search_df[search_df['query'] == '%s %s' % (row['question'], row['answer1'])]['numResults'].values[0]
    AResults = search_df[search_df['query'] == row['answer1']]['numResults'].values[0]
    return AResults

def numResults_answer2(row):
    #QAResults = search_df[search_df['query'] == '%s %s' % (row['question'], row['answer2'])]['numResults'].values[0]
    AResults = search_df[search_df['query'] == row['answer2']]['numResults'].values[0]
    return AResults



def numResults_Qanswer0(row):
    QAResults = search_df[search_df['query'] == '%s %s' % (row['question'], row['answer0'])]['numResults'].values[0]
    #AResults = search_df[search_df['query'] == row['answer0']]['numResults'].values[0]
    return QAResults

def numResults_Qanswer1(row):
    QAResults = search_df[search_df['query'] == '%s %s' % (row['question'], row['answer1'])]['numResults'].values[0]
    #AResults = search_df[search_df['query'] == row['answer1']]['numResults'].values[0]
    return QAResults

def numResults_Qanswer2(row):
    QAResults = search_df[search_df['query'] == '%s %s' % (row['question'], row['answer2'])]['numResults'].values[0]
    #AResults = search_df[search_df['query'] == row['answer2']]['numResults'].values[0]
    return QAResults

def numResults_Q(row):
    QResults = search_df[search_df['query'] == row['question']]['numResults'].values[0]
    #AResults = search_df[search_df['query'] == row['answer2']]['numResults'].values[0]
    return QResults

df_small['numResults_answer0'] = df_small.apply(lambda row: numResults_answer0(row), axis=1)
print '0'
df_small['numResults_answer1'] = df_small.apply(lambda row: numResults_answer1(row), axis=1)
print '1'
df_small['numResults_answer2'] = df_small.apply(lambda row: numResults_answer2(row), axis=1)
print '2'

df_small['numResults_Qanswer0'] = df_small.apply(lambda row: numResults_Qanswer0(row), axis=1)
print '0'
df_small['numResults_Qanswer1'] = df_small.apply(lambda row: numResults_Qanswer1(row), axis=1)
print '1'
df_small['numResults_Qanswer2'] = df_small.apply(lambda row: numResults_Qanswer2(row), axis=1)
print '2'

df_small['numResults_Q'] = df_small.apply(lambda row: numResults_Q(row), axis=1)

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

2

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [154]:
def numResults_Qanswer0_quoted(row):
    QAResults = search_df[search_df['query'] == '%s "%s"' % (row['question'], row['answer0'])]['numResults'].values[0]
    #AResults = search_df[search_df['query'] == row['answer0']]['numResults'].values[0]
    return QAResults

def numResults_Qanswer1_quoted(row):
    QAResults = search_df[search_df['query'] == '%s "%s"' % (row['question'], row['answer1'])]['numResults'].values[0]
    #AResults = search_df[search_df['query'] == row['answer1']]['numResults'].values[0]
    return QAResults

def numResults_Qanswer2_quoted(row):
    QAResults = search_df[search_df['query'] == '%s "%s"' % (row['question'], row['answer2'])]['numResults'].values[0]
    #AResults = search_df[search_df['query'] == row['answer2']]['numResults'].values[0]
    return QAResults

df_small['numResults_Qanswer0_quoted'] = df_small.apply(lambda row: numResults_Qanswer0_quoted(row), axis=1)
print '0'
df_small['numResults_Qanswer1_quoted'] = df_small.apply(lambda row: numResults_Qanswer1_quoted(row), axis=1)
print '1'
df_small['numResults_Qanswer2_quoted'] = df_small.apply(lambda row: numResults_Qanswer2_quoted(row), axis=1)
print '2'

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

0

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

1
2

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [155]:
def appearances_answer0(row):
    QResults = search_df[search_df['query'] == row['question']]['searchText'].values[0]
    return QResults.count(row['answer0'].lower())

def appearances_answer1(row):
    QResults = search_df[search_df['query'] == row['question']]['searchText'].values[0]
    return QResults.count(row['answer1'].lower())

def appearances_answer2(row):
    QResults = search_df[search_df['query'] == row['question']]['searchText'].values[0]
    return QResults.count(row['answer2'].lower())
    

df_small['appearances_answer0'] = df_small.apply(lambda row: appearances_answer0(row), axis=1)
print '0'
df_small['appearances_answer1'] = df_small.apply(lambda row: appearances_answer1(row), axis=1)
print '1'
df_small['appearances_answer2'] = df_small.apply(lambda row: appearances_answer2(row), axis=1)
print '2'

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

1
2

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [258]:
df_small.head()

,Unnamed: 0,id,correct_answer,question,answer0,answer1,answer2,numResults_answer0,numResults_answer1,numResults_answer2,numResults_Qanswer0,numResults_Qanswer1,numResults_Qanswer2,numResults_Q,numResults_Qanswer0_quoted,numResults_Qanswer1_quoted,numResults_Qanswer2_quoted,appearances_answer0,appearances_answer1,appearances_answer2
0,0,1019753041464119296,Sears,An 1800s scam involving watches led directly t...,Sears,Victorinox,Kay Jewelers,9190000,2370000,731000,638,63,410,15300,439,13,5,5,0,0
1,1,1019752695077404673,William Blake,A character named Orc appears as a protagonist...,JRR Tolkien,William Blake,Ray Bradbury,2390000,12000000,2250000,19500,3750,970,85000,13500,817,2290,0,0,0
2,2,1019752397919449089,Esquire,An original co-host of “20/20” was also the ed...,Esquire,Vanity Fair,Time,7800000,17600000,1680000000,3950,33500,63000,63200,276,492,9380,0,0,7
3,3,1019752059174780929,Enneadecagon,Which of these polygons has the most sides?,Trisdecagon,Enneadecagon,Octadecagon,10,773,1060,35,7040,44700,1680000,8,473,527,0,0,0
4,4,1019751848176218113,Butter,Sailors once gave avocados the nickname of “mi...,Butter,Jewel,Nut,49900000,37700000,34100000,38,41,24,5,4,9,3,4,0,1

In [259]:
df_not_small.head()

,Unnamed: 0,id,correct_answer,question,answer0,answer1,answer2,numResults_answer0,numResults_answer1,numResults_answer2,numResults_Qanswer0,numResults_Qanswer1,numResults_Qanswer2,numResults_Q,numResults_Qanswer0_quoted,numResults_Qanswer1_quoted,numResults_Qanswer2_quoted,appearances_answer0,appearances_answer1,appearances_answer2
0,55,1018935960199991301,The Queen,Which member of the royal family did NOT atten...,Prince Charles,Meghan Markle,The Queen,24600000,15500000,194000000,446000,238000,593000,844000,80300,208000,296000,0,0,12
1,56,1018935563481690115,Gucci,The hacker group named in Robert Mueller’s ind...,Gucci,Fendi,Prada,52300000,17200000,32000000,12900,840,2350,28300,12100,791,2140,2,0,0
2,57,1018935387299942401,Sarah Silverman,Who did NOT roast Bruce Willis this past weekend?,Demi Moore,Sarah Silverman,Martha Stewart,7350000,1960000,25400000,63400,35600,261000,1190000,50400,5870,17500,3,0,0
3,58,1018935148400861184,Blockbuster,"At the end of the summer, which retail chain w...",Borders,Blockbuster,Toys R Us,111000000,6840000,44300000,1930000,344000,2560000,2100000,1010000,136000,35300,0,0,1
4,59,1018934931723116545,Michelle Obama,"At Beyoncé’s concert in Paris this weekend, wh...",Michelle Obama,Drake,Jennifer Lawrence,15100000,45800000,26700000,1640000,910000,691000,3210000,1350000,722000,366000,14,1,0

In [161]:
df_f = pd.concat([df_small, df_not_small])
df_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2631 entries, 0 to 1612
Data columns (total 20 columns):
Unnamed: 0                    2631 non-null int64
id                            2631 non-null int64
correct_answer                2631 non-null object
question                      2631 non-null object
answer0                       2631 non-null object
answer1                       2631 non-null object
answer2                       2631 non-null object
numResults_answer0            2631 non-null int64
numResults_answer1            2631 non-null int64
numResults_answer2            2631 non-null int64
numResults_Qanswer0           2631 non-null int64
numResults_Qanswer1           2631 non-null int64
numResults_Qanswer2           2631 non-null int64
numResults_Q                  2631 non-null int64
numResults_Qanswer0_quoted    2631 non-null int64
numResults_Qanswer1_quoted    2631 non-null int64
numResults_Qanswer2_quoted    2631 non-null int64
appearances_answer0           2631 non-null int64
appearances_answer1           2631 non-null int64
appearances_answer2           2631 non-null int64
dtypes: int64(15), object(5)
memory usage: 431.6+ KB

In [163]:
df_f.tail()

,Unnamed: 0,id,correct_answer,question,answer0,answer1,answer2,numResults_answer0,numResults_answer1,numResults_answer2,numResults_Qanswer0,numResults_Qanswer1,numResults_Qanswer2,numResults_Q,numResults_Qanswer0_quoted,numResults_Qanswer1_quoted,numResults_Qanswer2_quoted,appearances_answer0,appearances_answer1,appearances_answer2
1608,2626,959518751677960197,The youngest,"In the game of Candy Land, which player goes f...",The youngest,Blue token holder,First to draw a red card,51000000,992000,18400000,4490000,15500,1480000,9460000,55100,0,0,1,0,0
1609,2627,959518424597659649,Appetizers,"Traditionally, an “amuse-bouche” arrives right...",Appetizers,Entrée,Dessert,27600000,18100000,67700000,16000,6560,16100,18100,7990,1940,13300,2,0,1
1610,2628,959518234218295302,Toy Story,What was the first theatrical feature film to ...,Gone with the Wind,Toy Story 2,Toy Story,31100000,45800000,82200000,297000,788000,1340000,1040000,15800,10700,73400,0,0,4
1611,2629,959518088390696961,Sink,What word completes the phrase: “Everything bu...,Sink,Kaleidoscope,Hogwash,65800000,5070000,121000,20200,620,6,45800,19500,483,6,18,0,0
1612,2630,959517884375592965,Feather,What did Yankee Doodle stick in his cap?,Feather,Noodle soup,Duck,32400000,17300000,72700000,5990,2350,7980,24100,3890,105,5570,14,0,0

In [164]:
df_f.to_csv('features_intermediate_exp.csv')

In [80]:
def tf(word, blob):
    return float(blob.words.count(word)) / len(blob.words)

def n_containing(word, bloblist):
    return sum(1 for blob in bloblist if word in blob.words)

def idf(word, bloblist):
    val = len(bloblist) / (1 + n_containing(word, bloblist))
    return math.log(val if val else 1)

def tfidf(word, blob, bloblist):
    return tf(word, blob) * idf(word, bloblist)

In [79]:
bool(2)

True

In [66]:
#make a bloblist with all the searchtexts
bloblist = [tb(text) for text in search_df['searchText'].values[1:101]]

In [82]:
len(bloblist)

100

In [83]:
def score_answer0(row):
    QResults = search_df[search_df['query'] == row['question']]['searchText'].values[0]
    words = row['answer0'].lower().split(' ')
    score = 0
    for word in words:
        importance = tfidf(word, tb(QResults), bloblist)
        #print "importance of %s is %f" % (word, importance)
        score += importance
    return score

def score_answer1(row):
    QResults = search_df[search_df['query'] == row['question']]['searchText'].values[0]
    words = row['answer1'].lower().split(' ')
    score = 0
    for word in words:
        importance = tfidf(word, tb(QResults), bloblist)
        score += importance
    return score

def score_answer2(row):
    QResults = search_df[search_df['query'] == row['question']]['searchText'].values[0]
    words = row['answer2'].lower().split(' ')
    score = 0
    for word in words:
        importance = tfidf(word, tb(QResults), bloblist)
        score += importance
    return score
    

df_small['score_answer0'] = df_small.apply(lambda row: score_answer0(row), axis=1)
print '0'
df_small['score_answer1'] = df_small.apply(lambda row: score_answer1(row), axis=1)
print '1'
df_small['score_answer2'] = df_small.apply(lambda row: score_answer2(row), axis=1)
print '2'

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:5: UnicodeWarning: Unicode equal comparison failed to convert both arguments to Unicode - interpreting them as being unequal
  """

0
1
2

In [207]:
search_df.head()

,Unnamed: 0,id,numResults,query,searchText
0,0,1018935960199991301,844000,Which member of the royal family did NOT atten...,queen elizabeth prince philip don t attend p...
1,1,1018935960199991301,446000,Which member of the royal family did NOT atten...,queen elizabeth prince philip don t attend p...
2,2,1018935960199991301,80300,Which member of the royal family did NOT atten...,queen elizabeth prince philip don t attend p...
3,3,1018935960199991301,24600000,Prince Charles,charles prince of wales wikipedia charles ...
4,4,1018935960199991301,238000,Which member of the royal family did NOT atten...,queen elizabeth prince philip don t attend p...

In [ ]:
model =

In [319]:
# texts = [(idnum, text.split()) for (text, idnum) in zip(search_df['searchText'].values, search_df['id'].values)]
# print len(texts)
# print len(texts[0][1])
# print 'finished splitting'
# documents = [TaggedDocument(doc, [i]) for i, doc in texts]
# print len(documents)
# print 'finished documenting'
corpus = api.load('wiki-english-20171001')

 Part 1/4 [==================================================] 100.0% 1950.0/1950.0MB downloaded
 Part 2/4 [=====================-----------------------------] 42.4% 826.9/1950.0MB downloaded

KeyboardInterrupt:

In [316]:
A0 = search_df.iloc[163]['searchText'].split()
A1 = search_df.iloc[166]['searchText'].split()
A2 = search_df.iloc[169]['searchText'].split()
docmodel.wv.

AttributeError: 'Word2VecKeyedVectors' object has no attribute 'docvecs'

In [320]:
df_f

,id,correct_answer,question,answer0,answer1,answer2,numResults_answer0,numResults_answer1,numResults_answer2,numResults_Qanswer0,numResults_Qanswer1,numResults_Qanswer2,numResults_Q,numResults_Qanswer0_quoted,numResults_Qanswer1_quoted,numResults_Qanswer2_quoted,appearances_answer0,appearances_answer1,appearances_answer2
0,1019753041464119296,Sears,An 1800s scam involving watches led directly t...,Sears,Victorinox,Kay Jewelers,9190000,2370000,731000,638,63,410,15300,439,13,5,5,0,0
1,1019752695077404673,William Blake,A character named Orc appears as a protagonist...,JRR Tolkien,William Blake,Ray Bradbury,2390000,12000000,2250000,19500,3750,970,85000,13500,817,2290,0,0,0
2,1019752397919449089,Esquire,An original co-host of “20/20” was also the ed...,Esquire,Vanity Fair,Time,7800000,17600000,1680000000,3950,33500,63000,63200,276,492,9380,0,0,7
3,1019752059174780929,Enneadecagon,Which of these polygons has the most sides?,Trisdecagon,Enneadecagon,Octadecagon,10,773,1060,35,7040,44700,1680000,8,473,527,0,0,0
4,1019751848176218113,Butter,Sailors once gave avocados the nickname of “mi...,Butter,Jewel,Nut,49900000,37700000,34100000,38,41,24,5,4,9,3,4,0,1
5,1019751692190076928,Blade Runner,"Before hitting it big, the leading star of wha...",Blade Runner,Top Gun,Gladiator,7210000,165000000,10600000,16300,492000,39300,760000,24300,11600,8220,0,0,0
6,1019751545943068672,Easter Island,Rapa Nui is the indigenous name of what location?,Greenland,Mount Everest,Easter Island,64700000,4540000,23500000,23300,8780,23900,326000,20000,1630,20900,0,0,13
7,1019751324827766784,Harry Truman,Which US president had a middle name that was ...,Dwight Eisenhower,Harry Truman,Ronald Reagan,1270000,1490000,7080000,526000,479000,1800000,8560000,45500,46600,627000,0,2,0
8,1019751162344542208,Pitcher,Which baseball position stands several inches ...,Catcher,Pitcher,Shortstop,15000000,21400000,1300000,74000,306000,9410,737000,23400,29200,28900,1,4,0
9,1019750883616280576,Comic-Con,San Diego’s massive annual convention celebrat...,Comic-Con,Pop-Party,Game-Gathering,50600000,101000000,20000000,523000,796000,129000,1880000,130000,396,5,0,0,0
10,1019750751160193026,Sirloin,Which of these is a common cut of steak?,Sirloin,Ladyloin,Madameloin,8220000,846,179,50800,15,9,11300000,56500,0,0,0,0,0
11,1019660869796614144,Sheriff,What character did Tom Hanks play in the highe...,Delivery man,Sheriff,War veteran,86200000,22400000,35200000,96400,104000,324000,779000,1500,88300,4760,0,0,0
12,1019660353121243136,Ratt,Which band made a music video featuring comedy...,Ratt,Poison,Quiet Riot,9080000,30000000,1680000,4970,4190,245,6660,47,307,69,4,0,0
13,1019660128214245377,Guam,Which of these is NOT considered part of Polyn...,Samoa,Guam,Hawaii,74900000,67100000,77600000,14200000,7970000,1710000,17200000,13900000,12700000,1550000,1,0,5
14,1019659972316160001,Food,"In the 1800s, the term “hot mess” was often us...",Literature,Religious services,Food,248000000,42900000,1410000000,1320,3110,3880,6730,1020,0,3510,0,0,0
15,1019659832415072257,Violet,What color stripe is at the bottom of a proper...,Red,Pink,Violet,1620000000,766000000,195000000,28300,19200,16500,30700,309000,15400,43500,5,6,1
16,1019659570690576389,Happily,Which of these words is an adverb?,Happily,Happiness,Happy,17000000,114000000,433000000,540000,96500,595000,4730000,17500,72300,291000,0,0,0
17,1019659200039936002,Three in a row,"To win Tic-Tac-Toe, a player needs to get what?",The most Xs,The most Os,Three in a row,16600000,120000000,64300000,32700,206000,45900,262000,5,3,3020,0,0,0
18,1019404460278370304,Tour de France,Which of these sporting events takes the most ...,Tour de France,Little League World Ser.,Wimbledon,117000000,36700000,10200000,8900000,21700000,762000,159000000,611000,1,702000,2,0,0
19,1019404241851637761,Chipper Jones,Which player won the MVP in a year he didn’t e...,Chipper Jones,Reggie Jackson,Mark McGwire,228000,1700000,80600,9020,18600,7850,981000,8360,9660,4180,0,0,0
20,1019404035823165440,Carmelo Anthony,Which player scored 50 points in a game withou...,James Harden,Carmelo Anthony,Steph Curry,6720000,4400000,2080000,19000,55500,31000,3210000,9060,11300,9050,0,2,0
21,1019403885994274816,Sweden,What is the only nation besides Canada or the ...,Sweden,Russia,Finland,111000000,808000000,89000000,48500,65200,33900,25000,6210,10400,4860,0,0,1
22,1019403735896936448,Tennis,The first solo woman to be named Sports Illust...,Golf,Tennis,Soccer,191000000,96200000,118000000,14200,58700,57200,43500,50500,19700,18600,0,6,2
23,1019403563762626561,George Foreman,Who was NOT one of the five fighters to defeat...,George Foreman,Ken Norton,Joe Frazier,2710000,1630000,1060000,16000,9720,43500,1240000,13400,8060,13600,2,0,0
24,1019403378596696067,Goose Gossage,Who has blown the most saves in Major League h...,Goose Gossage,Lee Smith,Trevor Hoffman,14000,42400000,684000,1390,860000,68800,2090000,931,6650,3410,0,0,0
25,1019403228910366721,Italy,Which of these nations has played in the great...,Italy,Argentina,England,371000000,198000000,122000000,7960000,5310000,15000000,28900000,5380000,1920000,10200000,1,3,0
26,1019403079987458048,Plaxico Burress,What New York Giant made the winning score to ...,Plaxico Burress,David Tyree,Amani Toomer,18600,320000,7530,1200,7780,721,361000,1990,1390,574,1,1,0
27,1019402870070960128,Catcher,"On the MLB All-Star team, which starting posit...",NL designated hitter,Pitcher,Catcher,34700,21400000,15000000,32900,37600,41500,65600,4,18200,36300,0,5,0
28,1019402604475047936,Tiger Woods,Which athlete’s real first name is Eldrick?,Tiger Woods,Ronaldinho,Magic Johnson,31600000,2970000,23300000,2210,25,549,2380,1720,10,111,7,0,1
29,1019402461503787008,Scott Rogowsky,Which of these icons just played in the MLB Al...,Ty Cobb,Air Bud,Scott Rogowsky,597000,14400000,19800,5810,9840,402,62400,1390,195,30,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1583,959972863141965824,Cow,Which type of animal has been kept as a White ...,Cow,Lemur,Sugar glider,47300000,1630000,848000,1170000,16800,9380,8900000,428000,9130,1470,2,0,0
1584,959972674712817664,Braves,Boston and Buffalo have both been home to majo...,Giants,Angels,Braves,302000000,177000000,16100000,383000,472000,97800,714000,121000,101000,96600,0,0,0
1585,959972425004969984,Body hair,Which of these is Venus visibly lacking in Bot...,Belly button,Left arm,Body hair,13600000,91000000,130000000,220,1070,884,1630,7,113,20,0,0,0
1586,959972255060160512,Vince Neil,Aerosmith’s “Dude (Looks Like a Lady)” was wri...,Axl Rose,Bret Michaels,Vince Neil,824000,593000,1330000,603,369,441,1620,631,256,356,0,0,0
1587,959972036121710592,Calf brains,Which food is traditionally a main ingredient ...,Calf brains,Tortoise meat,Snails,2140000,510000,15400000,350,1500,424,5890,5,0,204,0,0,0
1588,959971804105277440,Francis Ford Coppola,Which film director holds a U.S. patent for a ...,Quentin Tarantino,Francis Ford Coppola,James Cameron,9780000,1280000,27200000,11600,3500,68900,512000,10600,1230,2770,0,2,0
1589,959971634076684288,Thimble,Which of the original Monopoly game pieces was...,Thimble,Race car,Top hat,1330000,239000000,183000000,21700,4600000,1580000,89400,16100,655000,32400,7,0,0
1590,959971206165336071,Snake,Which tool is typically used to clear a clogge...,Claw hammer,Snake,Shovel,1050000,61800000,11900000,4400,62100,22400,437000,342,47800,9000,0,5,0
1591,959971067006717952,Canada,Which country is part of North America?,Norway,Brazil,Canada,82800000,208000000,458000000,41500000,91400000,186000000,225000000,36600000,83200000,144000000,0,0,0
1592,959970859514515456,Bachelor of Arts,The college degree “B.A.” is short for what?,Bachelor of Arts,Booyah Awesome,Beefy Arms,99700000,48100,620000,2830000,2390,575,38800000,2360000,1,8,6,0,0
1593,959610971298979840,Fencing,Which of these Summer Olympics events uses the...,Fencing,Badminton,Taekwondo,64500000,21200000,5750000,58800,10800,4560,1130000,13400,9510,2920,0,0,0
1594,959610621347205120,Centenarians,New Mexico exempts which group of people from ...,Hybrid car owners,Centenarians,Registered lobbyists,12600000,460000,309000,8740,1340,12500,891000,2,864,182,0,0,0
1595,959610413632704513,Gregory,What was the least popular papal name of the 1...,Leo,Pius,Gregory,68400000,1930000,74500000,98000,53500,227000,1100000,90100,52300,75800,0,0,0
1596,959610278395764738,Spider,"In 1973, Arabella and Anita became the first m...",Spider,Fruit fly,Ladybug,78600000,13000000,7390000,62,70,7,172,33,3,2,22,0,0
1597,959609816443506690,Punxsutawney,What is the correct spelling of the Pennsylvan...,Punksatawany,Puncksehtany,Punxsutawney,6,0,421000,3,0,506,4150,0,0,448,0,0,24
1598,959609661975617536,Oxygen,Which of these elements would earn you the hig...,Oxygen,Xenon,Zinc,28100000,7170000,38600000,5930,1130,3870,127000,3330,261,1850,0,0,0
1599,959609468974706688,Barq’s,Which popular root beer brand typically contai...,Barq’s,A&amp;W,Mug,125000,339000,34000000,1360,5880,51600,73500,1080,5,16600,0,0,1
1600,959609203487924229,Bambi,Which of these famous fictional animals is a r...,Bambi,Mister Ed,Eeyore,7510000,2650000,860000,544,1510,46,3610,526,2,35,0,0,0
1601,959608957282242560,Parma,Parmesan cheese is named for an Italian provin...,Romana,Yomamma,Parma,16200000,37600,9570000,10800,252,7970,89400,2230,0,6800,0,0,2
1602,959520415893917696,Ballet,Catherine de’ Medici was present at the perfor...,Opera,Commedia dell’arte,Ballet,102000000,208000,32300000,2420,202,1660,5940,2100,152,1510,0,0,14
1603,959520021897797632,Wrigley's chewing gum,What was the first product to have its barcode...,Rubik’s Cube,Wrigley's chewing gum,Apple IIe,2310000,78800,64500,4640,1580,48200,931000,981,156,52,0,0,0
1604,959519811758903296,John Donne,Who is credited with coining the phrase: “For ...,John Donne,William Shakespeare,Ernest Hemingway,2900000,13600000,2790000,711,1010,2140,2980,692,349,1790,5,0,0
1605,959519624315338752,"Seattle, WA",Buying a can of soda will incur a higher tax i...,"Santa Barbara, CA","Denver, CO","Seattle, WA",30100000,70200000,54300000,3180,12400,13600,103000,193,576,888,0,0,0
1606,959519309780455424,Saffron,What spice comes from the crocus flower?,Cloves,Allspice,Saffron,11500000,835000,9310000,289000,30400,36600,93400,75000,20600,29600,0,0,20
1607,959519003088773120,Red,"In the popular comic strip, what color is Haga...",White,Blond,Red,1800000000,79300000,1620000000,39,6,55,41,33,1,38,0,0,9
1608,959518751677960197,The youngest,"In the game of Candy Land, which player goes f...",The youngest,Blue token holder,First to draw a red card,51000000,992000,18400000,4490000,15500,1480000,9460000,55100,0,0,1,0,0
1609,959518424597659649,Appetizers,"Traditionally, an “amuse-bouche” arrives right...",Appetizers,Entrée,Dessert,27600000,18100000,67700000,16000,6560,16100,18100,7990,1940,13300,2,0,1
1610,959518234218295302,Toy Story,What was the first theatrical feature film to ...,Gone with the Wind,Toy Story 2,Toy Story,31100000,45800000,82200000,297000,788000,1340000,1040000,15800,10700,73400,0,0,4
1611,959518088390696961,Sink,What word completes the phrase: “Everything bu...,Sink,Kaleidoscope,Hogwash,65800000,5070000,121000,20200,620,6,45800,19500,483,6,18,0,0
1612,959517884375592965,Feather,What did Yankee Doodle stick in his cap?,Feather,Noodle soup,Duck,32400000,17300000,72700000,5990,2350,7980,24100,3890,105,5570,14,0,0

In [300]:
def A2Asimilarities(row):
    t = ()
    for answerx, answery in [('answer0', 'answer1'), ('answer1', 'answer2'), ('answer0', 'answer2')]:
        Ax = search_df[search_df['query'] == row[answerx]]['searchText'].values[0].split()
        Ay = search_df[search_df['query'] == row[answery]]['searchText'].values[0].split()
        t += (docmodel.docvecs.similarity_unseen_docs(docmodel, Ax, Ay),)
    return t

combined = df_f.apply(A2Asimilarities, axis=1)

In [305]:
df['A0A1'], df['A1A2'], df['A0A2'],  = [list(x) for x in zip(*combined)]

In [310]:
def QA2QAsimilarities(row):
    t = ()
    for answerx, answery in [('answer0', 'answer1'), ('answer1', 'answer2'), ('answer0', 'answer2')]:
        QAx = search_df[search_df['query'] == '%s "%s"' % (row['question'], row[answerx])]['searchText'].values[0].split()
        QAy = search_df[search_df['query'] == '%s "%s"' % (row['question'], row[answery])]['searchText'].values[0].split()
        t += (docmodel.docvecs.similarity_unseen_docs(docmodel, Ax, Ay),)
    return t

combined = df_f.apply(A2Asimilarities, axis=1)

AttributeError: ("'XGBClassifier' object has no attribute 'docvecs'", u'occurred at index 0')

In [125]:
search_df = pd.read_csv('search_df_expanded.csv')
print sense

['jane', 'austen', 'wikipedia', 'jane', 'austen', 'was', 'an', 'english', 'novelist', 'known', 'primarily', 'for', 'her', 'six', 'major', 'like', 'most', 'women', 'authors', 'at', 'the', 'time', 'austen', 's', 'books', 'were', 'published', 'anonymously', 'to', 'publish', 'sense', 'and', 'sensibility', 'which', 'like', 'all', 'of', 'jane', 'austen', 's', 'if', 'a', 'novel', 'did', 'not', 'recover', 'its', 'costs', 'through', 'sales', 'the', 'author', 'was', 'the', 'sense', 'and', 'sensibility', 'of', 'jane', 'austen', 'in', 'sense', 'and', 'sensibility', 'pride', 'and', 'prejudice', 'and', 'mansfield', 'park', 'elinor', 'jane', 'was', 'raised', 'among', 'books', 'and', 'began', 'reading', 'and', 'writing', 'at', 'an', 'early', 'age', 'yet', 'jane', 'austen', 'is', 'known', 'not', 'because', 'of', 'the', 'factual', 'details', 'of', 'her', 'life', 'she', 'is', 'not', 'sense', 'and', 'sensibility', 'wikipedia', 'jane', 'austen', 'wrote', 'the', 'first', 'draft', 'of', 'the', 'novel', 'in', 'the', 'form', 'of', 'a', 'she', 'later', 'changed', 'the', 'form', 'to', 'a', 'narrative', 'and', 'the', 'title', 'to', 'sense', 'and', 'sensibility', 'the', 'title', 'of', 'the', 'book', 'and', 'that', 'of', 'her', 'next', 'published', 'novel', 'pride', 'he', 'had', 'written', 'about', 'himself', 'and', 'a', 'relationship', 'that', 'was', 'not', 'meant', 'to', 'be', 'sense', 'and', 'sensibility', 'collins', 'classics', '9780007350797', 'jane', 'sense', 'and', 'sensibility', 'amazonclassics', 'edition', 'and', 'millions', 'of', 'other', 'books', 'are', 'available', 'many', 'will', 'not', 'have', 'the', 'vocabulary', 'or', 'understanding', 'of', 'syntax', 'to', 'be', 'willing', 'to', 'persuasion', 'is', 'a', 'novel', 'written', 'by', 'a', 'famous', 'british', 'writer', 'jane', 'austen', 'elena', 'ferrante', 'on', 'sense', 'and', 'sensibility', 'i', 'was', 'passionate', 'about', 'oct', '16', '2015', 'jane', 'austen', 'kept', 'her', 'identity', 'secret', 'elena', 'ferrante', 'whose', 'it', 'seems', 'to', 'me', 'that', 'austen', 'by', 'not', 'putting', 'her', 'name', 'on', 'the', 'books', 'she', 'published', 'sense', 'and', 'sensibility', 'amazonclassics', 'edition', 'kindle', 'edition', 'by', 'editorial', 'reviews', 'amazon', 'com', 'review', 'though', 'not', 'the', 'first', 'novel', 'she', 'wrote', 'sense', 'and', 'look', 'inside', 'this', 'book', 'sense', 'and', 'sensibility', 'amazonclassics', 'edition', 'by', 'austen', 'jane', 'sense', 'and', 'sensibility', 'and', 'jane', 'austen', 's', 'accidental', 'feminists', 'feb', '21', '2016', 'sense', 'and', 'sensibility', 'deliberately', 'imbued', 'austen', 's', 'first', 'published', 'heroes', 'with', 'braveheart', 'has', 'not', 'stood', 'the', 'test', 'of', 'time', 'having', 'once', 'been', 'as', 'i', 'discussed', 'in', 'an', 'essay', 'i', 'wrote', 'for', 'the', '1998', 'book', 'jane', 'austen', 'in', 'hollywood', 'one', 'of', 'jane', 'austen', 's', 'earliest', 'buyers', 'revealed', 'as', 'prince', 'regent', 'jul', '25', '2018', '18th', 'century', 'portraits', 'of', 'george', 'iv', 'and', 'jane', 'austen', 'the', 'published', 'anonymously', 'sense', 'and', 'sensibility', 'was', 'not', 'an', 'immediate', 'hit', 'only', 'he', 'said', 'becket', 'porter', 'provided', 'a', 'large', 'number', 'of', 'books', 'for', 'the', 'prince', 's', 'ruinously', 'on', 'the', 'wrong', 'side', 'of', 'five', 'and', 'thirty', 'how', 'jane', 'austen', 'grew', 'up', 'jul', '18', '2017', 'this', 'year', 'that', 'book', 'was', 'sense', 'and', 'sensibility', 'it', 's', 'not', 'a', 'perfect', 'match', 'jane', 'austen', 'had', 'not', 'yet', 'turned', '36', 'my', 'age', 'when', 'it', 'was', 'published', 'in', 'sense', 'and', 'sensibility', 'by', 'jane', 'austen', 'reading', 'guide', 'sense', 'and', 'sensibility', 'reader', 's', 'guide', 'they', 'are', 'not', 'in', 'today', 's', 'parlance', 'victims', 'austen', 'wrote', 'her', 'books', 'at', 'the', 'dawn', 'of', 'the', 'nineteenth', 'century', 'when', 'vast']

In [283]:
sense = search_df.iloc[161]['searchText'].split()
crime = search_df.iloc[164]['searchText'].split()
pride = search_df.iloc[165]['searchText'].split()

print model.docvecs.similarity_unseen_docs(model, sense, crime)
print model.docvecs.similarity_unseen_docs(model, crime, pride)
print model.docvecs.similarity_unseen_docs(model, sense, pride)

0.03347034064070934
0.07169365154487102
-0.15870095144178037

In [281]:
search_df.iloc[160:170]['query'].values

array(['Which of these books was NOT written by Jane Austen?',
       'Which of these books was NOT written by Jane Austen? Sense and Sensibility',
       'Which of these books was NOT written by Jane Austen? "Sense and Sensibility"',
       'Sense and Sensibility',
       'Which of these books was NOT written by Jane Austen? Crime and Punishment',
       'Which of these books was NOT written by Jane Austen? "Crime and Punishment"',
       'Crime and Punishment',
       'Which of these books was NOT written by Jane Austen? Pride and Prejudice',
       'Which of these books was NOT written by Jane Austen? "Pride and Prejudice"',
       'Pride and Prejudice'], dtype=object)

In [50]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/ketanagrawal/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [84]:
df_small.head(n=50)

,id,correct_answer,question,answer0,answer1,answer2,numResults_answer0,numResults_answer1,numResults_answer2,numResults_Qanswer0,...,numResults_Q,numResults_Qanswer0_quoted,numResults_Qanswer1_quoted,numResults_Qanswer2_quoted,appearances_answer0,appearances_answer1,appearances_answer2,score_answer0,score_answer1,score_answer2
0,1018935960199991301,The Queen,Which member of the royal family did NOT atten...,Prince Charles,Meghan Markle,The Queen,24600000,15500000,194000000,446000,...,844000,80300,208000,296000,0,0,12,0.116879,0.000000,0.052013
1,1018935563481690115,Gucci,The hacker group named in Robert Mueller’s ind...,Gucci,Fendi,Prada,52300000,17200000,32000000,12900,...,28300,12100,791,2140,2,0,0,0.004199,0.000000,0.000000
2,1018935387299942401,Sarah Silverman,Who did NOT roast Bruce Willis this past weekend?,Demi Moore,Sarah Silverman,Martha Stewart,7350000,1960000,25400000,63400,...,1190000,50400,5870,17500,3,0,0,0.033710,0.000000,0.000000
3,1018935148400861184,Blockbuster,"At the end of the summer, which retail chain w...",Borders,Blockbuster,Toys R Us,111000000,6840000,44300000,1930000,...,2100000,1010000,136000,35300,0,0,1,0.000000,0.000000,0.043161
4,1018934931723116545,Michelle Obama,"At Beyoncé’s concert in Paris this weekend, wh...",Michelle Obama,Drake,Jennifer Lawrence,15100000,45800000,26700000,1640000,...,3210000,1350000,722000,366000,14,1,0,0.121610,0.004216,0.000000
5,1018934669629325313,Eating a car,A family of woodchucks has made national headl...,Collapsing a bridge,Eating a car,Stealing a statue,714000,57200000,1260000,7880,...,20000,1,3,2,0,0,0,0.000000,0.024849,0.000000
6,1018934500489859073,Protesters on the pitch,The World Cup final was briefly stopped becaus...,Protesters on the pitch,Nearby lightning,Loose cat,1210000,9070000,27500000,751000,...,2850000,3,928,70,0,0,0,0.039804,0.000000,0.000000
7,1018934448342142977,Ask questions,Instagram recently launched a feature that all...,Travel through time,Take candy from babies,Ask questions,518000000,36900000,270000000,5860000,...,16700000,3750,2,67600,0,0,0,0.000000,0.000000,0.000000
8,1018665727665025024,Winnie the Pooh,Which of these characters’ names was inspired ...,Donald Duck,Pepé Le Pew,Winnie the Pooh,14500000,26400,10200000,323000,...,2520000,38800,1020,90700,0,0,7,0.000000,0.000000,0.082830
9,1018665334818201602,Dakar,Which of these African cities is a national ca...,Lagos,Casablanca,Dakar,22400000,15600000,16600000,464000,...,7430000,438000,90800,80300,0,0,0,0.000000,0.000000,0.000000
10,1018665135370579968,HTML,"In the original Hotmail logo, what four letter...",HTML,HOTM,MAIL,2340000000,44000000,852000000,50600,...,214000,45200,321,58100,1,6,6,0.009518,0.009518,0.006046
11,1018664748882198528,Everly Brothers,Which group was an inaugural inductee to the R...,Righteous Brothers,Allman Brothers,Everly Brothers,2650000,1050000,673000,10900,...,52000,656,3870,3380,0,0,0,0.000000,0.000000,0.000000
12,1018664560260190208,Real estate agent,Which of these characters has Lin-Manuel Miran...,Real estate agent,Close-up magician,Pool lifeguard,58100000,7040000,3380000,7560,...,14400,232,4,6,4,0,0,0.078553,0.000000,0.000000
13,1018664360896552960,Henry Wallace,Which vice president served under the US presi...,Henry Wallace,Lyndon Johnson,Aaron Burr,7770000,2570000,898000,35700,...,293000,903,5340,1690,0,0,0,0.000000,0.000000,0.000000
14,1018664201869459456,NASA engineer,The inventor of the Super Soaker also held wha...,Olympic swimming coach,Secret Service agent,NASA engineer,2620000,22100000,3440000,4680,...,8990,2,46,653,0,0,1,0.000000,0.000000,0.061275
15,1018664045845602305,Tumblr,Which of these companies was acquired by Yahoo?,Myspace,Napster,Tumblr,52100000,1430000,264000000,4080000,...,15600000,4170000,27000,2180000,0,0,0,0.000000,0.000000,0.000000
16,1018663845794066432,Crime and Punishment,Which of these books was NOT written by Jane A...,Sense and Sensibility,Crime and Punishment,Pride and Prejudice,2610000,15100000,7760000,245000,...,1610000,74400,44400,880000,1,0,1,0.018718,0.000000,0.040752
17,1018663712490696706,Yellow,"In a typical rainbow, which of these colors is...",Violet,Red,Yellow,195000000,1620000000,1050000000,13500000,...,2080000,1110000,2210000,1470000,7,4,2,0.061755,0.010111,0.005739
18,1018663557704159237,Be quiet,The phrase “Mum’s the word” is used to ask peo...,Do their chores,Be quiet,Fetch a dictionary,5500000,117000000,711000,8160,...,23000,550,1290,3,0,0,0,0.023384,0.008136,0.022748
19,1018663380020793349,By the seashore,"In the famous tongue twister, where does she s...",On eBay,Out of her van,By the seashore,68800000,91500000,2750000,8170,...,42800,2890,5,2020,0,0,7,0.000000,0.008453,0.089857
20,1018663231894753280,Conditioner,What do people typically put in their hair aft...,Duck sauce,Conditioner,Chocolate sprinkles,8250000,29300000,12300000,95700,...,2940000,1060,1630000,2480,0,2,0,0.000000,0.009437,0.000000
21,1018526438969020418,Mexico,What nation has been named as a World Cup host...,Mexico,Brazil,Germany,322000000,208000000,368000000,6190000,...,21500000,3470000,2010000,2780000,4,3,0,0.019839,0.017367,0.000000
22,1018526214095548416,Kaka,Who was the last player besides Lionel Messi o...,Ronaldinho,�Brazilian Ronaldo”,Kaka,2970000,6460000,8230000,6480,...,24600,6270,395,5810,0,0,3,0.000000,0.000000,0.022949
23,1018526068662206465,Michelle Akers,Who scored the winning goal for the US to give...,Abby Wambach,Brandi Chastain,Michelle Akers,85500,234000,320000,15300,...,28000000,14500,5190,1440,0,0,0,0.000000,0.000000,0.000000
24,1018525900655202305,Japan,Where was the last men’s World Cup game decide...,Japan,Brazil,South Korea,1370000000,208000000,80900000,1150000,...,1700000,690000,566000,135000,0,0,1,0.000000,0.000000,0.013269
25,1018525730198753281,Just Fontaine,What player scored the most goals in one World...,Pelé,Just Fontaine,Miroslav Klose,21000000,3370000,320000,326000,...,11300000,50500,4040,24800,0,1,1,0.000000,0.032547,0.022034
26,1018525556164517888,England,The word “soccer” originated in which country?,Germany,United States,England,368000000,881000000,122000000,3660000,...,27200000,1820000,5160000,2400000,0,0,3,0.000000,0.013105,0.022985
27,1018301971449688065,Gerald Ford,The president whose campaign slogan was “Not J...,Barry Goldwater,Ronald Reagan,Gerald Ford,325000,7080000,3870000,37,...,79,30,43,27,1,0,0,0.017781,0.017781,0.007552
28,1018301771142385664,Georgetown,Which of these capital cities is in South Amer...,Georgetown,Sofia,Vaduz,15700000,41600000,1630000,629000,...,9540000,518000,833000,11400,0,0,0,0.000000,0.000000,0.000000
29,1018301536332582912,Helium,"On the periodic table, which of these elements...",Lithium,Helium,Nitrogen,16200000,5860000,14300000,23600,...,275000,22300,27200,60300,0,0,0,0.000000,0.000000,0.000000
30,1018301300474372096,Coke II,The infamous disaster known as New Coke was la...,Coke Jr.,UnCoke,Coke II,2200000,4000,5350000,56300,...,73200,8,4,51,0,1,2,0.214908,0.007675,0.222232
31,1018301130290421761,"Beverly Hills, 90210",The Max is to “Saved by the Bell” as the Peach...,Buffy the Vampire Slayer,"Beverly Hills, 90210",California Dreams,2190000,1820000,44500000,2920,...,7790,1850,1690,209,0,0,0,0.000000,0.093269,0.000000
32,1018300927755812865,Mumbai,"In English, the city formerly known as Bombay ...",Bangalore,Jaipur,Mumbai,29000000,16400000,47900000,8720000,...,8080000,6160000,5270000,4100000,0,0,15,0.000000,0.000000,0.125140
33,1018300739565780994,Poltergeist,Which of these types of spirits literally mean...,Banshee,Poltergeist,Specter,3240000,1160000,1780000,74,...,416,57,349,108,1,13,0,0.010514,0.094627,0.000000
34,1018300547013767168,Messy pony,Which of these is a common hairstyle?,Messy pony,Grubby zebra,Dusty goat,2060000,9750,699000,739000,...,21900000,25800,4,36,0,0,0,0.000000,0.000000,0.000000
35,1018300398812192770,Freezes,What usually happens to water at 32 degrees Fa...,Freezes,Becomes sentient,Boils,50900000,1290000,10700000,2970000,...,445000,211000,172,228000,7,0,0,0.068153,0.000000,0.000000
36,1018300243044130816,Cure,"According to the saying, “An ounce of preventi...",Feathers,Salt water taffy,Cure,40800000,613000,57000000,1510,...,24000,657,5,21900,0,0,19,0.000000,0.000000,0.230866
37,1018300110357360645,Oceans,"The Atlantic, Pacific, Indian, and Arctic are ...",Seasons,Non Blondes,Oceans,256000000,25400000,155000000,604000,...,1880000,294000,3830,386000,0,0,16,0.000000,0.000000,0.186539
38,1017985195155259392,Romance,"By number of copies sold, the best-selling nov...",Romance,Legal thriller,Fantasy,115000000,12700000,126000000,1400000,...,4760000,620000,1740,897000,0,0,3,0.000000,0.000000,0.017622
39,1017984967421329408,Thunderball,In which of these Bond movies does the main vi...,You Only Live Twice,For Your Eyes Only,Thunderball,40900000,432000000,299000,568000,...,1940000,21000,13300,22900,0,4,2,0.011478,0.054255,0.013747
40,1017984824357859328,Pineapple juice,Which of these is NOT an official beverage of ...,Pineapple juice,Tomato juice,Cranberry juice,17400000,22800000,8640000,550000,...,11200000,133000,47200,77600,0,1,0,0.024803,0.033071,0.024803
41,1017984618664996864,Minecraft,Which mobile game is NOT from a Finnish company?,Clash of Clans,Angry Birds,Minecraft,16100000,26200000,43300000,58400,...,8460000,52300,71500,58000,0,0,0,0.000000,0.000000,0.000000
42,1017984431062245376,South Sea,The first European known to reach the Pacific ...,Queen Sea,South Sea,Pacific Ocean,36800000,105000000,29600000,1720000,...,1970000,217,31900,944000,0,0,15,0.012950,0.033488,0.337818
43,1017984235125211137,Ibex,Which of these animals is a ruminant?,Panda,Warthog,Ibex,54700000,1150000,2430000,15300,...,966000,13800,3490,8750,0,0,0,0.000000,0.000000,0.000000
44,1017984075154558976,Michael Jordan,LeBron James’s current NBA jersey number is th...,Michael Jordan,Bill Russell,Larry Bird,46300000,27700000,9230000,932000,...,3260000,415000,13100,51800,0,0,0,0.000000,0.000000,0.000000
45,1017983798145900544,Earth,If you are watching a lunar eclipse from Earth...,Earth,Moon’s shadow,Moon,209000000,34800000,165000000,921000,...,977000,794000,3910,543000,11,0,13,0.056382,0.011135,0.087997
46,1017983620831694850,Sling,Michelangelo’s sculpture “David” is holding wh...,Robe,Sling,Sack,40000000,17300000,18900000,28200,...,34300,9170,4070,7050,0,3,0,0.000000,0.012577,0.000000
47,1017983451000078337,Wilbur &amp; Orville Wright,Who is credited with inventing the first pract...,Wilbur &amp; Orville Wright,Alexander Graham Bell,Thomas Edison,2220,7000000,8610000,16700,...,6130000,2,17700,35800,0,0,0,0.254496,0.000000,0.000000
48,1017983317809954816,Thug life,What was tattooed above Tupac Shakur’s navel?,Smug Life,Thug life,Pixar’s A Bug’s Life,2150000,14500000,759000,486,...,8960,2,1640,2,2,4,0,0.046138,0.067071,0.025205
49,1017983163505741824,Jason Voorhees,Who was the main villain in the “Friday the 13...,Jason Voorhees,Jason Waterfalls,Jason Derulo,1070000,1210000,1960000,54100,...,355000,49700,2,1310,2,0,0,0.087073,0.058048,0.058048

In [166]:
# df_f = df_f.drop(['Unnamed: 0'], axis=1)
df_f.head()

,id,correct_answer,question,answer0,answer1,answer2,numResults_answer0,numResults_answer1,numResults_answer2,numResults_Qanswer0,numResults_Qanswer1,numResults_Qanswer2,numResults_Q,numResults_Qanswer0_quoted,numResults_Qanswer1_quoted,numResults_Qanswer2_quoted,appearances_answer0,appearances_answer1,appearances_answer2
0,1019753041464119296,Sears,An 1800s scam involving watches led directly t...,Sears,Victorinox,Kay Jewelers,9190000,2370000,731000,638,63,410,15300,439,13,5,5,0,0
1,1019752695077404673,William Blake,A character named Orc appears as a protagonist...,JRR Tolkien,William Blake,Ray Bradbury,2390000,12000000,2250000,19500,3750,970,85000,13500,817,2290,0,0,0
2,1019752397919449089,Esquire,An original co-host of “20/20” was also the ed...,Esquire,Vanity Fair,Time,7800000,17600000,1680000000,3950,33500,63000,63200,276,492,9380,0,0,7
3,1019752059174780929,Enneadecagon,Which of these polygons has the most sides?,Trisdecagon,Enneadecagon,Octadecagon,10,773,1060,35,7040,44700,1680000,8,473,527,0,0,0
4,1019751848176218113,Butter,Sailors once gave avocados the nickname of “mi...,Butter,Jewel,Nut,49900000,37700000,34100000,38,41,24,5,4,9,3,4,0,1

In [167]:
def one_hot_encoding(row):
    if row['correct_answer'] == row['answer0']:
        return 0
    elif row['correct_answer'] == row['answer1']:
        return 1
    elif row['correct_answer'] == row['answer2']:
        return 2

In [309]:
droplist = ['id', 'correct_answer', 'question', 'answer0', 'answer1', 'answer2', \
            'numResults_answer0', 'numResults_answer1', 'numResults_answer2', \
            'numResults_Qanswer0', 'numResults_Qanswer1', 'numResults_Qanswer2', 'numResults_Q']
X = df_f.drop(droplist, axis=1).values
Y = df_f.apply(lambda row: one_hot_encoding(row), axis=1).values
Y = np.array(Y)
X = np.array(X)
# print X, X.shape
# print Y, Y.shape

seed = 7
test_size = 0.20
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=test_size, random_state=seed)

model = XGBClassifier()

one_to_left = st.beta(10, 1)  
from_zero_positive = st.expon(0, 50)

params = {  
    "n_estimators": st.randint(3, 40),
    "max_depth": st.randint(3, 40),
    "learning_rate": st.uniform(0.05, 0.4),
    "colsample_bytree": one_to_left,
    "subsample": one_to_left,
    "gamma": st.uniform(0, 10),
    'reg_alpha': from_zero_positive,
    "min_child_weight": from_zero_positive,
}

gs = RandomizedSearchCV(model, params, n_jobs=1)
gs.fit(X_train, y_train)

model = gs.best_estimator_
model.fit(X_train, y_train)

# print X_train.shape
# print y_train.shape
# print X_test.shape
# print y_test.shape

print model.score(X_test, y_test)

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.6546489563567363

/Users/ketanagrawal/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [226]:
print df.head()

   Unnamed: 0                   id correct_answer  \
0           0  1019753041464119296          Sears
1           1  1019752695077404673  William Blake
2           2  1019752397919449089        Esquire
3           3  1019752059174780929   Enneadecagon
4           4  1019751848176218113         Butter

                                            question      answer0  \
0  An 1800s scam involving watches led directly t...        Sears
1  A character named Orc appears as a protagonist...  JRR Tolkien
2  An original co-host of “20/20” was also the ed...      Esquire
3        Which of these polygons has the most sides?  Trisdecagon
4  Sailors once gave avocados the nickname of “mi...       Butter

         answer1       answer2
0     Victorinox  Kay Jewelers
1  William Blake  Ray Bradbury
2    Vanity Fair          Time
3   Enneadecagon   Octadecagon
4          Jewel           Nut

In [227]:
df_small.head()

,id,correct_answer,question,answer0,answer1,answer2,numResults_answer0,numResults_answer1,numResults_answer2,numResults_Qanswer0,numResults_Qanswer1,numResults_Qanswer2,numResults_Q,numResults_Qanswer0_quoted,numResults_Qanswer1_quoted,numResults_Qanswer2_quoted
55,1018935960199991301,The Queen,Which member of the royal family did NOT atten...,Prince Charles,Meghan Markle,The Queen,24600000,15500000,194000000,446000,238000,593000,844000,80300,208000,296000
56,1018935563481690115,Gucci,The hacker group named in Robert Mueller’s ind...,Gucci,Fendi,Prada,52300000,17200000,32000000,12900,840,2350,28300,12100,791,2140
57,1018935387299942401,Sarah Silverman,Who did NOT roast Bruce Willis this past weekend?,Demi Moore,Sarah Silverman,Martha Stewart,7350000,1960000,25400000,63400,35600,261000,1190000,50400,5870,17500
58,1018935148400861184,Blockbuster,"At the end of the summer, which retail chain w...",Borders,Blockbuster,Toys R Us,111000000,6840000,44300000,1930000,344000,2560000,2100000,1010000,136000,35300
59,1018934931723116545,Michelle Obama,"At Beyoncé’s concert in Paris this weekend, wh...",Michelle Obama,Drake,Jennifer Lawrence,15100000,45800000,26700000,1640000,910000,691000,3210000,1350000,722000,366000

In [228]:
df_small.to_csv('features_intermediate.csv')

In [144]:
df_not_small2 = pd.read_csv('features_intermediate.csv')
df_not_small2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 17 columns):
Unnamed: 0                    1613 non-null int64
id                            1613 non-null int64
correct_answer                1613 non-null object
question                      1613 non-null object
answer0                       1613 non-null object
answer1                       1613 non-null object
answer2                       1613 non-null object
numResults_answer0            1613 non-null int64
numResults_answer1            1613 non-null int64
numResults_answer2            1613 non-null int64
numResults_Qanswer0           1613 non-null int64
numResults_Qanswer1           1613 non-null int64
numResults_Qanswer2           1613 non-null int64
numResults_Q                  1613 non-null int64
numResults_Qanswer0_quoted    1613 non-null int64
numResults_Qanswer1_quoted    1613 non-null int64
numResults_Qanswer2_quoted    1613 non-null int64
dtypes: int64(12), object(5)
memory usage: 214.3+ KB

In [3]:
search_df = pd.read_csv('search_df_final.csv')

In [4]:
df_small.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1613 entries, 0 to 1612
Data columns (total 17 columns):
Unnamed: 0                    1613 non-null int64
id                            1613 non-null int64
correct_answer                1613 non-null object
question                      1613 non-null object
answer0                       1613 non-null object
answer1                       1613 non-null object
answer2                       1613 non-null object
numResults_answer0            1613 non-null int64
numResults_answer1            1613 non-null int64
numResults_answer2            1613 non-null int64
numResults_Qanswer0           1613 non-null int64
numResults_Qanswer1           1613 non-null int64
numResults_Qanswer2           1613 non-null int64
numResults_Q                  1613 non-null int64
numResults_Qanswer0_quoted    1613 non-null int64
numResults_Qanswer1_quoted    1613 non-null int64
numResults_Qanswer2_quoted    1613 non-null int64
dtypes: int64(12), object(5)
memory usage: 214.3+ KB

In [8]:
search_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16130 entries, 0 to 16147
Data columns (total 5 columns):
Unnamed: 0    16130 non-null int64
id            16130 non-null int64
numResults    16130 non-null int64
query         16130 non-null object
searchText    15956 non-null object
dtypes: int64(3), object(2)
memory usage: 756.1+ KB